<div [@routerTransition]>
    <div *ngIf="loading">
        <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
    </div>
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2>Arquivos</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="getArchive()" role="FormGroup" class="form">
                <div class="row">
                    <div class="form-group col-lg-3 col-sm-12">
                        <label for="typeahead-focus">Empresa</label>
                        <input id="typeahead-focus" autoFocus="true" type="text" class="form-control"
                            formControlName="company" (selectItem)="selectedCompany($event)"
                            placeholder="Nome da Empresa" [resultTemplate]="rtCompany" [inputFormatter]="formatter"
                            [ngbTypeahead]="searchCompany" #instanceCompany="ngbTypeahead" style="width: 100%"
                            [ngClass]="{ 'is-invalid': company.invalid && company.touched}"
                            (focus)="focusCompany$.next($any($event).target.value)"
                            (click)="clickCompany$.next($any($event).target.value)" />
                        <div *ngIf="company.invalid && (company.dirty || company.touched )" class="invalid-feedback">
                            <div *ngIf="!company.valid">
                                Empresa é obrigatório.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-sm-12">
                        <label for="typeahead-focus">Departamento</label>
                        <input id="typeahead-focus" autoFocus="true" type="text" class="form-control"
                            placeholder="Nome do Departamento" formControlName="departament"
                            [resultTemplate]="rtDepartament" [inputFormatter]="formatter"
                            [ngbTypeahead]="searchDepartament" style="width: 100%" #instanceDepartament="ngbTypeahead"
                            (focus)="focusDepartament$.next($any($event).target.value)"
                            (click)="clickDepartament$.next($any($event).target.value)" />
                    </div>
                    <div class="form-group col-lg-3 col-sm-12">
                        <label for="search_archive">Posição</label>
                        <input id="search_archive" class="form-control col-12" placeholder="Informe a Posição"
                            formControlName="location" />
                    </div>
                    <div class="form-group col-lg-3 col-sm-12">
                        <label for="typeahead-focus">Depósito</label>
                        <input id="typeahead-focus" autoFocus="true" type="text" class="form-control"
                            placeholder="Nome do Depósito" formControlName="storehouse" [resultTemplate]="rtStorehouse"
                            [inputFormatter]="formatter" [ngbTypeahead]="searchStorehouse" style="width: 100%"
                            #instanceStorehouse="ngbTypeahead"
                            (focus)="focusStorehouse$.next($any($event).target.value)"
                            (click)="clickStorehouse$.next($any($event).target.value)" />
                    </div>
                    <!-- <div class="form-group mb-2 col-1">
                        <label for="status">Status</label>
                        <select class="form-control col-12" id="status" formControlName="status">
                            <option *ngFor="let item of statusList | enumToArray" [value]="item">
                                {{ item }}</option>
                        </select>
                    </div> -->
                </div>
                <div class="row mt-1 mb-1 form-check-inline">
                    <div class="col-lg-1 pr-0">
                        <label>Status:</label>
                    </div>
                    <div class="col-lg-2 col-sm-auto p-0">
                        <div class="form-check m-0 p-0">
                            <div class="pretty p-switch p-fill">
                                <input class="form-check-input" type="radio" name="status" formControlName="status"
                                    value="ATIVO" id="status" checked>
                                <div class="state">
                                    <label class="form-check-label" for="status">
                                        ARQUIVO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-auto p-0">
                        <div class="form-check m-0 p-0">
                            <div class="pretty p-switch p-fill">
                                <input class="form-check-input" type="radio" name="status" formControlName="status"
                                    value="BAIXADO" id="statusB">
                                <div class="state">
                                    <label class="form-check-label" for="statusB">
                                        BAIXADO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-auto p-0">
                        <div class="form-check m-0 p-0 mr-3">
                            <div class="pretty p-switch p-fill">
                                <input class="form-check-input" type="radio" name="status" formControlName="status"
                                    value="EMPRESTADO" id="statusE">
                                <div class="state">
                                    <label class="form-check-label" for="statusE">
                                        EMPRESTADO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <label>Fases:</label>
                    </div>
                    <div class="col-lg-2 col-sm-auto p-0">
                        <div class="form-check m-0 p-0">
                            <div class="pretty p-switch p-fill">
                                <input class="form-check-input" type="checkbox" name="current"
                                    formControlName="finalCurrent" id="current" />
                                <div class="state">
                                    <label class="form-check-label" for="current">
                                        CORRENTE
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-auto p-0">
                        <div class="form-check m-0 p-0">
                            <div class="pretty p-switch p-fill">
                                <input class="form-check-input" type="checkbox" name="intermediate"
                                    formControlName="finalIntermediate" id="Intermediate" />
                                <div class="state">
                                    <label class="form-check-label" for="Intermediate">
                                        INTERMEDIARIO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-12">
                        <label for="typeahead-scrollable">Documento</label>
                        <input id="typeahead-scrollable" autoFocus="true" type="text" class="form-control"
                            placeholder="Nome do Documento" formControlName="doct" [resultTemplate]="rtDocument"
                            [inputFormatter]="formatter" [ngbTypeahead]="searchDocument" style="width: 100%"
                            #instanceDocument="ngbTypeahead" (focus)="focusDocument$.next($any($event).target.value)"
                            (click)="clickDocument$.next($any($event).target.value)" />
                    </div>
                    <div class="form-group col-lg-4 col-sm-12">
                        <label for="search_archive">Índice</label>
                        <input id="search_archive" class="form-control col-12" placeholder="Informe o Índice"
                            formControlName="search" />
                    </div>
                    <div class="form-group col-lg-2 col-sm-12">
                        <label for="initDate">Data Inicial</label>
                        <input id="initDate" type="date" class="form-control col-12" [(ngModel)]="dateSent"
                            (input)="changeDate()" formControlName="initDate" formControlName="initDate" />
                    </div>
                    <div class="form-group col-lg-2 col-sm-12">
                        <label for="endDate">Data Final</label>
                        <input id="endDate" type="date" class="form-control col-12" formControlName="endDate"
                            [disabled]="!dateSent" [min]="dateSent" />
                    </div>
                </div>
                <div class="row col-12 text-center">
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary" [disabled]="company.invalid">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" style="margin-left: 5px;" [disabled]="company.invalid"
                            class="btn btn-dark" (click)="clear()">
                            Limpar Campos
                        </button>
                        <!-- <button [disabled]="company.invalid || doct.invalid" type="button" style="margin-left: 5px;"
                            class="btn btn-success" (click)="exportArchives()">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&emsp;Exportar Pesquisa
                        </button> -->
                    </div>
                </div>

                <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
                <ng-template #rtDepartament let-r="result" let-t="departament" class="custom-typeahead">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
                <ng-template #rtStorehouse let-r="result" let-t="storehouse" class="custom-typeahead">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
                <ng-template #rtDocument let-r="result" let-t="doct" class="custom-typeahead">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
            </form>
        </div>
    </div>
    <ngx-datatable #myTable class="material" [rows]="archives" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"
        [offset]="page.pageNumber" [limit]="10" (page)='setPage($event)' (activate)="showView($event)">
        <!-- Row Detail Template -->
        <!-- <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div class="container" style="padding-bottom: 10px">
        <div class="row">
            <div class="col-2" style="padding-left:35px;">
              <div *ngFor="let desc of row.doct.label"><strong>{{desc.namefield}}: </strong></div>
            </div>
            <div class="col-4" style="padding-left:35px;">
              <div *ngFor="let tag of row.tag">{{tag}} </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail> -->
        <!-- Column Templates -->
        <!-- <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column> -->
        <ngx-datatable-column name="Departamento" prop="departament.name" [width]="70"></ngx-datatable-column>
        <ngx-datatable-column name="Posição" prop="volume.location" [width]="70"></ngx-datatable-column>
        <ngx-datatable-column name="Depósito" prop="storehouse.name" [width]="70"></ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="status" [width]="40"></ngx-datatable-column>
        <ngx-datatable-column name="Documento" prop="doct.name"></ngx-datatable-column>
        <ngx-datatable-column name="Indexação" prop="index" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column name="Anexo" prop="picture" [width]="40">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <i *ngIf="value" class="fa fa-file-pdf-o" style="font-size:40px;color:rgb(190, 36, 36)"></i>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Páginas" prop="picture.page" [width]="10"></ngx-datatable-column>
        <ngx-datatable-column name="Criado em" prop="create" [width]="30">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date: 'dd/MM/yyyy' }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fases" prop="finalCurrent" [width]="5">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <i *ngIf="value == true" class="mdi mdi-alpha-c-box" title=""
                    style="font-size:30px; margin-right: 2px;"></i>
                <i *ngIf="value == false" class="mdi mdi-alpha-c-box-outline" title=""
                    style="font-size:30px; margin-right: 2px;"></i>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="" prop="finalIntermediate" [width]="5">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <i *ngIf="value == true" class="mdi mdi-alpha-i-box" title="" style="font-size:30px;"></i>
                <i *ngIf="value == false" class="mdi mdi-alpha-i-box-outline" title="" style="font-size:30px;"></i>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
