@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~@mdi/font/css/materialdesignicons.css';

.dropdown-menu.show {
  max-height: 400px !important;
  overflow-y: auto !important;
}
input{

    border-radius: 50px;
}
.card{
    border-radius: 20px;
}
