<div [@routerTransition]>
  <app-page-header [heading]="'Arquivos'" [icon]="'fa-building'"></app-page-header>
  <ngx-datatable #myTable class="material" [rows]="archives" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="'auto'" [externalPaging]="true" [count]="page.foundItems" [offset]="page.currentPage" [limit]="50"
    (page)='setPage($event)'>
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div class="container" style="padding-bottom: 10px">
          <div class="row">
            <div class="col-2" style="padding-left:35px;">
              <div *ngFor="let desc of row.doct.label"><strong>{{desc.namefield}}: </strong></div>
            </div>
            <div class="col-4" style="padding-left:35px;">
              <div *ngFor="let tag of row.tag">{{tag}} </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
           <!-- Column Templates -->
           <ngx-datatable-column
           [width]="50"
           [resizeable]="false"
           [sortable]="false"
           [draggable]="false"
           [canAutoResize]="false"
         >
           <ng-template
             let-row="row"
             let-expanded="expanded"
             ngx-datatable-cell-template
           >
             <a
               href="javascript:void(0)"
               [class.datatable-icon-right]="!expanded"
               [class.datatable-icon-down]="expanded"
               title="Expand/Collapse Row"
               (click)="toggleExpandRow(row)"
             >
             </a>
           </ng-template>
         </ngx-datatable-column>
    <ngx-datatable-column name="Localização" [width]="200" prop="volume.location"></ngx-datatable-column>
    <ngx-datatable-column name="Descrição" [width]="200" prop="volume.description"></ngx-datatable-column>
    <ngx-datatable-column name="Guarda" [width]="150" prop="volume.guardType">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ guardType(value) }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Armazém" [width]="200" prop="storehouse.name"></ngx-datatable-column>
    <ngx-datatable-column name="Empresa" [width]="300" prop="company.name"></ngx-datatable-column>
    <ngx-datatable-column name="Criado em" [width]="300" prop="create">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | date: 'dd/MM/yyyy' }}
        </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <!-- <app-datatable-row-details [newRows]="arquives" [newColumns]="[{name: '_id'}, {name: 'create'}]"></app-datatable-row-details> -->
  <!-- <div class="row">
      <div class="col col-xl-12 col-lg-12">
          <div class="card mb-3">
              <div class="card-body table-responsive">
                  <table class="table table-hover table-striped">
                      <thead>
                      <tr>
                          <th>Nome</th>
                          <th>CPF / CNPJ</th>
                          <th>E-mail</th>
                          <th>Telefone</th>
                          <th>Criado em</th>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let company of companies">
                          <td>{{ company.name }}</td>
                          <td>{{ company.cpfCnpj }}</td>
                          <td>{{ company.email }}</td>
                          <td>{{ company.fone }}</td>
                          <td>{{ company.dateCreated | date: 'dd/MM/yyyy' }}</td>
                          <td>
                            <button type="button" class="btn btn-sm btn-primary" placement="top" ngbTooltip="Ver Empresa" [routerLink]="[company._id]">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div> -->
</div>