<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
    <div class="card bg-light mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-11">
                    <h2>Erros de Importação de Arquivos</h2>
                </div>
                <div class="col-lg-1 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="getErrors()" role="FormGroup" class="">
                <div class="row col-12" id="step1">
                    <div class="form-group mb-2 col-lg-6 col-sm-12">
                        <label for="sheet">Nome da Planilha</label>
                        <input id="sheet" class="form-control col-12" formControlName="sheet"
                            [ngClass]="{ 'is-invalid': sheet.invalid && sheet.touched }" />
                        <div *ngIf="sheet.invalid && (sheet.dirty || sheet.touched)" class="invalid-feedback">
                            <div *ngIf="!sheet.valid">
                                Nome da Planilha é obrigatório.
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2 col-lg-3 col-sm-12">
                        <label for="initDate">Data Inicial</label>
                        <input id="initDate" type="date" class="form-control col-12" [(ngModel)]="dateSent"
                            (input)="changeDate()" formControlName="initDate" />
                    </div>

                    <div class="form-group mb-2 col-lg-3 col-sm-12">
                        <label for="endDate">Data Final</label>
                        <input id="endDate" type="date" class="form-control col-12" formControlName="endDate"
                            [disabled]="!dateSent" [min]="dateSent" formControlName="endDate" />
                    </div>
                </div>

                <div class="row text-center">
                    <div class="form-group col-12 mb-2" id="step2">
                        <button type="submit" class="btn btn-primary" [disabled]="sheet.invalid">
                            <i class="fa fa-search"></i>
                        </button>
                        <button style="margin-left: 5px;" type="button" class="btn btn-default" (click)="clear()">
                            Limpar Campos
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col col-xl-12 col-lg-12" id="step3">
            <ngx-datatable #myTable class="material striped" [rows]="errorsArchives" [columnMode]="'standard'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [scrollbarH]="true"
                [offset]="page.pageNumber" [limit]="10" (page)='setPage($event)'>
                <ngx-datatable-column name="Nome da Planilha" prop="sheet" [width]=700 ></ngx-datatable-column>
                <ngx-datatable-column name="" prop="_id" [width]=500 >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <button class="btn btn-primary btn-xs" style="border-radius: 50px;" (click)="getFile(value)">Download</button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Criado em" prop="dateCreated" [width]=500 >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value | date: 'dd/MM/yyyy' }}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
