<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card bg-light">
        <div class="card-header">
            <h2>Dados do Volume</h2>
            <!-- <app-page-header [heading]="'Dados do Volume'" [icon]="'fa-user'"></app-page-header> -->
    <div style="margin-bottom: 10px">
        <app-button-back [redirectTo]="'volumes'"></app-button-back>
        <app-buttons-custom [id]="volume._id" (edit)="editVolume(volume._id)" (delete)="open('focusFirst', volume._id)"
            [permissionEdit]="permissionEdit && !isUsers " [permissionDelete]="permissionDelete && !isUsers">
        </app-buttons-custom>
        <br />
    </div>
        </div>
        <div class="card-body">
            <form [formGroup]="volumeForm" role="FormGroup" (ngSubmit)="updateVolume()">
                <div class="form-content">
                    <div class="form-group">
                        <label for="typeahead-basic">Empresa</label>
                        <input id="typeahead-basic" type="text" class="form-control" formControlName="company"
                            [resultTemplate]="rtCompany" [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                            [ngClass]="{ 'is-invalid': !companyIpt.valid && !companyIpt.disabled }" />
                        <div *ngIf="companyIpt.invalid && (companyIpt.dirty || companyIpt.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!companyIpt.valid">
                                Empresa é obrigatória.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="typeahead-basic">Departamento</label>
                        <input id="typeahead-basic" type="text" class="form-control" formControlName="departament"
                            [resultTemplate]="rtDepartament" [inputFormatter]="formatter"
                            [ngbTypeahead]="searchDepartament" />
                    </div>

                    <div class="form-group">
                        <label for="typeahead-basic">Depósito</label>
                        <input id="typeahead-basic" type="text" class="form-control" formControlName="storehouse"
                            [resultTemplate]="rtStoreHouse" [inputFormatter]="formatter" [ngbTypeahead]="search"
                            [ngClass]="{ 'is-invalid': !storehouse.valid && !storehouse.disabled }" />
                        <div *ngIf="storehouse.invalid && (storehouse.dirty || storehouse.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!storehouse.valid">
                                Depósito é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Tipo de Volume</label>
                        <select class="form-control" id="volumeType" formControlName="volumeType"
                            [ngClass]="{ 'is-invalid': !volumeType.valid && !volumeType.disabled }">
                            <option *ngFor="let volumeT of volumeTypeList | enumToArray" [value]="volumeT">
                                {{ volumeT | translate }}</option>
                        </select>
                        <div *ngIf="volumeType.invalid && (volumeType.dirty || volumeType.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!volumeType.valid">
                                Tipo de volume é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Tipo de Guarda</label>
                        <select class="form-control" id="guardType" formControlName="guardType"
                            [ngClass]="{ 'is-invalid': !guardType.valid && !guardType.disabled }"
                            (change)="changeGuardType()">
                            <option *ngFor="let guardT of guardTypeList | enumToArray" [value]="guardT">
                                {{ guardT | translate }}</option>
                        </select>
                        <div *ngIf="guardType.invalid && (guardType.dirty || guardType.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!guardType.valid">
                                Tipo de volume é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control col-12" id="status" formControlName="status">
                            <option *ngFor="let item of statusList | enumToArray" [value]="item">
                                {{ item }}</option>
                        </select>
                    </div>

                    <!-- <div class="form-group">
                        <label for="">Descrição</label>
                        <input type="text" placeholder="Descrição" class="form-control" formControlName="description"
                            [ngClass]="{ 'is-invalid': !description.valid && !description.disabled }" />
                        <div *ngIf="description.invalid && (description.dirty || description.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!description.valid">
                                Descrição é obrigatório.
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label for="">Posição</label>
                        <input type="text" placeholder="Posição" class="form-control" formControlName="location"
                            [ngClass]="{ 'is-invalid': !location.valid && !location.disabled }" />
                        <div *ngIf="location.invalid && (location.dirty || location.touched)" class="invalid-feedback">
                            <div *ngIf="!location.valid">
                                Posição é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Conteúdo:</label>
                        <button type="button" class="btn btn-dark" style="margin-left: 10px;" *ngIf="volume.records"
                            disabled>
                            <a title="Possui Arquivos"><i class="fa fa-archive"></i></a>
                        </button>
                        <button type="button" class="btn btn-ligth" style="margin-left: 10px;" *ngIf="!volume.records"
                            disabled>
                            <a title="Não possui Arquivos"><i class="fa fa-archive"></i></a>
                        </button>
                    </div>

                    <div class="form-group" [hidden]="hiddenReference">
                        <label for="">Referência</label>
                        <input type="text" placeholder="Referência" class="form-control" formControlName="reference"
                            [ngClass]="{ 'is-invalid': !reference.valid }" />
                        <div *ngIf="reference.invalid && (reference.dirty || reference.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!reference.valid">
                                Referência é obrigatória.
                            </div>
                        </div>
                    </div>


                    <ng-template #rtStoreHouse let-r="result" let-t="storehouse">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <ng-template #rtDepartament let-r="result" let-t="departament" class="custom-typeahead">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                </div>
            </form>
        </div>
    </div>
</div>
