<div [@routerTransition]>
  <app-page-header [heading]="'Dados do Volume'" [icon]="'fa-user'"></app-page-header>
  <div class="card bg-light mb-12">
      <div class="card-body">
            <button class="btn btn-primary pull-right" (click)="changeUpdate()" >Editar</button>
            <br />
          <form [formGroup]="volumeForm" role="FormGroup" (ngSubmit)="updateVolume()">
              <div class="form-content">
                  <div class="form-group">
                      <label for="typeahead-basic">Empresa</label>
                      <input id="typeahead-basic" type="text" class="form-control" formControlName="company" [resultTemplate]="rtCompany" [inputFormatter]="formatter" [ngbTypeahead]="searchCompany" [ngClass]="{'is-invalid' : !companyIpt.valid && !companyIpt.disabled}"/>
                    <div *ngIf="companyIpt.invalid && (companyIpt.dirty || companyIpt.touched)"
                      class="invalid-feedback">
                    <div *ngIf="!companyIpt.valid">
                      Empresa é obrigatória.
                    </div>
                  </div>
                  </div>

                  <div class="form-group">
                      <label for="typeahead-basic">Departamento</label>
                      <input id="typeahead-basic" type="text" class="form-control" formControlName="departament" [resultTemplate]="rtDepartament" [inputFormatter]="formatterDepartament" [ngbTypeahead]="searchDepartament"/>
                    </div>

                  <div class="form-group">
                      <label for="typeahead-basic">Armazém</label>
                      <input id="typeahead-basic" type="text" class="form-control" formControlName="storehouse" [resultTemplate]="rtStoreHouse" [inputFormatter]="formatter" [ngbTypeahead]="search" [ngClass]="{'is-invalid' : !storehouse.valid && !storehouse.disabled}"/>
                      <div *ngIf="storehouse.invalid && (storehouse.dirty || storehouse.touched)"
                        class="invalid-feedback">
                        <div *ngIf="!storehouse.valid">
                        Armazém é obrigatório.
                        </div>
                        </div>
                  </div>

                  <div class="form-group">
                      <label for="">Tipo de Volume</label>
                      <select class="form-control" id="volumeType" formControlName="volumeType" [ngClass]="{'is-invalid' : !volumeType.valid && !volumeType.disabled}">
                          <option *ngFor="let volumeT of volumeTypeList | enumToArray" [value]="volumeT">
                              {{volumeT | translate}}</option>
                      </select>
                      <div *ngIf="volumeType.invalid && (volumeType.dirty || volumeType.touched)"
                          class="invalid-feedback">
                      <div *ngIf="!volumeType.valid">
                          Tipo de volume é obrigatório.
                      </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="">Tipo de Guarda</label>
                      <select class="form-control" id="guardType" formControlName="guardType" [ngClass]="{'is-invalid' : !guardType.valid && !guardType.disabled}">
                          <option *ngFor="let guardT of guardTypeList | enumToArray" [value]="guardT">
                              {{guardT | translate}}</option>
                      </select>
                      <div *ngIf="guardType.invalid && (guardType.dirty || guardType.touched)"
                          class="invalid-feedback">
                      <div *ngIf="!guardType.valid">
                          Tipo de volume é obrigatório.
                      </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="">Status</label>
                    <select class="form-control" id="status" formControlName="status" [ngClass]="{'is-invalid' : !status.valid && !status.disabled}">
                        <option *ngFor="let statusT of statusList | enumToArray" [value]="statusT">
                            {{statusT | translate}}</option>
                    </select>
                    <div *ngIf="status.invalid && (status.dirty || status.touched)"
                        class="invalid-feedback">
                    <div *ngIf="!status.valid">
                        Status é obrigatório.
                    </div>
                    </div>
                </div>

                  <div class="form-group">
                      <label for="">Descrição</label>
                      <input type="text" placeholder="Descrição" class="form-control" formControlName="description" [ngClass]="{'is-invalid' : !description.valid && !description.disabled}" />
                  <div *ngIf="description.invalid && (description.dirty || description.touched)"
                      class="invalid-feedback">
                  <div *ngIf="!description.valid">
                      Descrição é obrigatório.
                  </div>
                  </div>
                  </div>

                  <div class="form-group">
                      <label for="">Localização</label>
                      <input type="text" placeholder="Localização" class="form-control" formControlName="location" [ngClass]="{'is-invalid' : !location.valid && !location.disabled}" />
                  <div *ngIf="location.invalid && (location.dirty || location.touched)"
                      class="invalid-feedback">
                  <div *ngIf="!location.valid">
                      Localização é obrigatório.
                  </div>
                  </div>
                  </div>

                  <div class="form-group">
                    <label for="">Referência</label>
                    <input type="text" placeholder="Referência" class="form-control" formControlName="reference" [ngClass]="{'is-invalid' : !reference.valid}" />
                    <div *ngIf="reference.invalid && (reference.dirty || reference.touched)"
                        class="invalid-feedback">
                    <div *ngIf="!reference.valid">
                        Referência é obrigatória.
                    </div>
                    </div>
                  </div>

                  <ng-template #rtStoreHouse let-r="result" let-t="storehouse">
                      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                  </ng-template>
                  <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                  </ng-template>
                  <ng-template #rtDepartament let-r="result" let-t="departament" class="custom-typeahead">
                      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                  </ng-template>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!changeUp || companyIpt.invalid ||
                  storehouse.invalid || volumeType.invalid ||
                  guardType.invalid || status.invalid || description.invalid ||
                  location.invalid"
              >Salvar</button>
          </form>
      </div>
  </div>
</div>