<div [@routerTransition]>
    <app-page-header [heading]="'Dados do Armazém'" [icon]="'fa-house'"></app-page-header>
    <div class="card bg-light mb-12">
        <div class="card-body">
            <form [formGroup]="storeHouseForm" role="FormGroup" (ngSubmit)="postStoreHouse()">
                <div class="form-content">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" class="form-control" [ngClass]="{'is-invalid' : !name.valid}"
                            formControlName="name" required >
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                            class="invalid-feedback">
                        <div *ngIf="!name.valid">
                            Nome é Obrigatório.
                        </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" >Salvar</button>
            </form>
        </div>
    </div>
  </div>