<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card">
        <div class="card-header">
            <div class="row mt-0">
                <div class="col-lg-11">
                    <app-page-header [heading]="'Dados do Depósito'" [icon]="'fa-house'"></app-page-header>
                </div>
                <div class="col-lg-1 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="storeHouseForm" role="FormGroup" (ngSubmit)="postStoreHouse()">
                <div class="form-content">
                    <div class="form-group" id="step1">
                        <label for="name">Name</label>
                        <input id="name" placeholder="Nome do Depósito" class="form-control"
                            [ngClass]="{ 'is-invalid': name.invalid && name.touched }" formControlName="name" />
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                            <div *ngIf="!name.valid">
                                Nome é obrigatório.
                            </div>
                        </div>

                        <div class="pretty p-switch p-fill">
                            <input type="checkbox" formControlName="mapStorehouse" value="" />
                            <div class="state">
                                <label>
                                    Mapear Depósito
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right" id="step2">
                    <button type="button" [routerLink]="['/storehouses']" class="btn btn-default"
                        style="margin-right:10px">Voltar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="name.invalid">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
