@import '~pretty-checkbox/src/pretty-checkbox.scss';

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.child {
    height: 85px;
}
