.card-primary {
  border-color: #007bff;
}
.card-warning {
  border-color: #ffc107;
}
.card-secundary {
  border-color: #e2e3e5;
}
.card-info {
  border-color: #17a2b8
}

body {
    min-height: 7rem;
    padding-top: 2.5rem;
    background-size: cover;
    background-position: center;
    margin: 0;
  }
#teste {
    //display: none;
    background-color: rgba(160, 127, 127, 0.2) !important;
    padding: 1rem 15rem;
    transition: all 500ms linear;
  }
  #teste.ativo {
    background-color: rgba(0,0,0,0.8) !important;
    padding: 0.5rem 20rem;
  }
  //Voltar ao top
  .scrollToTop{
    position:fixed;
    bottom: 5px;
    right: 25px;
    display: none;
    .dark-color{
        color: #23272B;
    }
}
.menuBtns{
    position:fixed;
    bottom: 5px;
    left: 250px;
    display: none;
}
