<div class="pull-right" style="padding-right: 2%;">
  <img src="assets/images/PNG-05.png" width="250px" />
</div>
<br><br>
<div style="padding: 2% 5% 2% 5%; text-align: center;">
  <h1 class="blue">Política de Privacidade</h1>
</div>

<div style="padding: 0 5% 0 5%;">
  <p>
    A presente Política de Privacidade tem como fundamento a legislação brasileira, especialmente a Lei Geral de
    Proteção de Dados, Lei 13.709/2018, quando vigente. De acordo com esta Lei, dados pessoais são informações de uma
    pessoa física que a identifiquem ou que a tornem identificável. Logo, informações como CPF, RG, localização,
    endereço, endereço IP, idade etc. são considerados dados pessoais.
    Resumidamente, esta Política visa demonstrar o comprometimento da Organização em:
  </p>
  <p>
    (i) Proteger os direitos dos colaboradores, clientes e parceiros;
  </p>
  <p>
    (ii) Adotar processos e regras que assegurem o cumprimento, de forma abrangente, de normas e boas práticas relativas
    à proteção de dados pessoais;
  </p>
  <p>
    (iii) Promover a transparência sobre a forma pela qual a Organização trata dados pessoais, e
  </p>
  <p>
    (iv) Adotar medidas de proteção em relação a risco de incidente de segurança que envolva dados pessoais.
  </p>
  <p>
    Os Serviços prestados pela Archio em suas aplicações armazenam e disponibilizam para acesso, dados e informações de
    documentos empresariais, inclusive documentos digitalizados, nato-digitais, imagens e arquivos de dados.
  </p>
  <p>
    Para prestarmos os Serviços ofertados pela Archio, alguns dados pessoais poderão ser coletados, acessados,
    armazenados e, eventualmente, compartilhados com parceiros.
  </p>
  <p>
    Assim, cumprindo com nosso compromisso de manter uma relação de transparência com você, neste espaço
    disponibilizamos as regras que norteiam o nosso tratamento de dados.
  </p>
  <p>
    Ao realizar seu cadastro na Archio, entendemos que você concorda com as condições indicadas a seguir. Por isso, é
    importante que você leia, compreenda e em caso de qualquer dúvida entre em contato. Isso fará com que sua
    experiência com nosso produto seja muito mais produtiva e tranquila.
  </p>
  <br>
  <h5 class="blue">1. Escopo</h5>
  <p>
    Esta Política aplica-se a todos os serviços oferecidos pela Archio, ora denominados “serviços” ou “aplicações” e se
    aplicam a todos que de alguma forma possuem contato com os serviços, sejam eles clientes, terceiros de qualquer
    espécie, além de usuários de sites, apps ou outros recursos de fornecimento de serviços da Archio. Todos esses
    indivíduos serão denominados a seguir como “usuários”.
  </p>
  <br>
  <h5 class="blue">2. Quais dados nós tratamos?</h5>
  <p>
    Seja para apresentar os benefícios que nosso serviço pode proporcionar ao seu negócio, seja para executar suas
    funcionalidades, precisamos tratar algumas informações, que serão mais bem detalhadas a seguir.
  </p>
  <br>
  <h5 class="blue">2.1. Dados dos Usuários:</h5>
  <p>
    (i) Dados gerais da empresa, como nome dos representantes legais, e-mail, telefone, endereço, documentos oficiais de
    identificação dos representantes e da empresa.
  </p>
  <p>
    (ii) Para a sua comodidade e apoio na utilização ou aquisição de nossos serviços e produtos, poderemos solicitar
    dados bancários (cartão de crédito, nome do titular, data de validade e código de segurança) para a validação de
    transações financeiras e aquisição de nossos serviços e produtos.
  </p>
  <p>
    Quando necessários, dados de cartão de crédito serão coletados por meio de nossa plataforma.
  </p>
  <p>
    (iii) Os Usuários também poderão enviar informações e dados pessoais para registrar sugestões, reclamações e
    solucionar dúvidas junto aos Canais de Atendimento da Archio, antes, durante ou depois da utilização dos Serviços;
  </p>
  <p>
    (iv) A Archio poderá solicitar imagens dos titulares clientes ou vinculados aos clientes para fins promocionais,
    coletas de depoimentos, campanhas e pesquisas de opinião.
  </p>
  <br>
  <h5 class="blue">2.2. Dados de Terceiros fornecidos pelo Cliente ou Usuário</h5>
  <p>
    Considerando a natureza dos Serviços oferecidos pela Archio, os Usuários poderão armazenar dados de terceiros para a
    execução dos Serviços, sendo nesses casos o Usuário o responsável pelas informações armazenadas e respectiva
    autorização legal, cabendo à Archio a função de operadora de tais dados e informações.
  </p>
  <p>
    Os dados e informações de terceiros mais comuns que poderão ser armazenados pelos Usuários são, mas não limitados à:
  </p>
  <p>
    (i) Dados e informações gerais da empresa contratante, fornecedores, clientes, funcionários, tais como nome dos
    representantes legais, e-mail, telefone, endereço, documentos oficiais de identificação dos representantes e da
    empresa, dados bancários; dados gerais dos prestadores de Serviços, como nome, e-mail, telefone, documentos oficiais
    de identificação; dados gerais de colaboradores, como nome, endereço, telefone, documentos oficiais de
    identificação, dados da CTPS, CNH, título de eleitor, dados do cadastro do colaborador, como certificado reservista,
    matrícula do empregado, e-mail, lotação, função, sindicato, regime trabalhista, regime previdenciário, regime de
    jornada, natureza da atividade, categoria, vínculo com outra empresa, data de admissão, tipo de contrato de
    trabalho, tipo de admissão, remuneração, data de nascimento, sexo, estado civil, raça/cor, grau de instrução, nome
    da mãe, nome do pai, dados do cônjuge, dados de dependentes, dados dos representantes da empresa, dentre outros.
    (ii) Registros e informações médicas, tais como prontuários médicos, exames, laudos e dados e informações do
    histórico médico de pacientes, medicina do trabalho e saúde ocupacional, registros referentes à acidentes de
    trabalho.
  </p>
  <br>
  <h5 class="blue">2.3. Dados coletados automaticamente Cookies e tecnologias similares</h5>
  <p>
    Ao utilizar os serviços da Archio nós poderemos coletar informações pessoais sobre os serviços que você utiliza e
    como você os utiliza. Essas informações são necessárias para a execução adequada dos serviços, bem como para
    proceder com melhorias contínuas nas funcionalidades da aplicação.
  </p>
  <p>
    (i) Formas de Uso: Nós poderemos coletar informações sobre a forma que você utiliza os Serviços da Archio, como as
    funcionalidades mais utilizadas, alterações realizadas, tempo de uso, etc.
  </p>
  <p>
    (ii) Dados de Log: Nós coletamos dados de atividades e informações do dispositivo automaticamente quando você acessa
    e utiliza os Serviços da Archio, os quais ficam armazenados e disponíveis para acesso por parte da organização
    contratante, ainda que você não seja um cliente.
  </p>
  <p>
    Poderemos ainda utilizar tecnologias para armazenar informações temporárias de navegação com a finalidade de
    aprimorar e melhorar sua experiência na utilização de nosso produto. As principais ferramentas tecnológicas que
    fazem isso são os “cookies”, também sendo utilizadas tecnologias similares.
  </p>
  <p>
    Com isso poderemos saber, por exemplo, quais sites que você visitou, seu Protocolo de Internet (IP), a versão de seu
    navegador etc.
  </p>
  <p>
    Porém você poderá configurar seu dispositivo para administrar o uso de cookies ou para alertá-lo quando estão
    ativos. Alguns cookies podem ser necessários para a navegação e sua desativação pode prejudicar algumas
    funcionalidades de nosso Serviço.
  </p>
  <br>
  <h5 class="blue">3. Como utilizamos os dados coletados?</h5>
  <p>
    O Usuário sempre será informado em relação à finalidade da coleta de seus dados pessoais, ficando a seu exclusivo
    critério, fornecê-los ou não, e, nesse caso, será avisado das consequências do não fornecimento.
  </p>
  <p>
    De modo geral, os dados coletados serão utilizados para as seguintes finalidades:
  </p>
  <p>
    (i) Conceder acesso às funcionalidades dos Serviços da Archio, aí incluídas acesso aos registros do acervo
    documental da empresa, solicitação de documentos físicos, acesso ao acervo de documentos digitalizados, seus
    respectivos metadados, relatórios quantitativos sobre o acervo.
  </p>
  <p>
    (ii) Para oferecer material educativo, como cursos, guias, infográficos, planilhas, apostilas, webinars, e-books e
    outros;
  </p>
  <p>
    (iii) Entrar em contato para enviar comunicações, como alertas de segurança, atualizações, para apresentar nossos
    Serviços, realizar operações de marketing;
  </p>
  <p>
    (iv) Entrar em contato para oferecer apoio e suporte e solucionar problemas;
  </p>
  <p>
    (v) Operar, proteger, realizar testes de funcionalidade, manutenção e melhorias contínuas nos serviços, melhorando a
    experiência dos Usuários;
  </p>
  <p>
    (vi) Manter a segurança e integridade de nossos Serviços e Usuários, realizar confirmações de identidade, prevenção
    a fraudes, investigações internas, investigar e prevenir violações legais, regulatórias e contratuais;
  </p>
  <p>
    (vii) Realizar pesquisa de desenvolvimento;
  </p>
  <p>
    (viii) Realizar backups;
  </p>
  <p>
    (ix) Consultar e editar cadastros, acessar a conta do Usuário para realização de alterações por ele solicitadas e
    prestar auxílio na utilização das funcionalidades;
  </p>
  <p>
    (x) Cadastrar/alterar as formas de pagamento do Usuário pelos Serviços, consultar e gerir a situação financeira do
    Usuário para com a Archio, transferir a titularidade da assinatura; realizar estornos ou cobranças; emitir Notas
    Fiscais.
  </p>
  <h5 class="blue">
    4. Outras possíveis utilizações dos dados
  </h5>
  <p>
    Para tornar sua experiência ainda melhor, eventualmente nós também poderemos realizar o tratamento dos dados
    pessoais para outras finalidades, a seguir listadas, mas você será informado.
  </p>
  <br>
  <h5 class="blue">
    4.1 Análises estatísticas, melhorias dos Serviços e produtos
  </h5>
  <p>
    Os dados (inclusive aqueles coletados pelos cookies) também poderão ser utilizados para finalidades estatísticas,
    para que possamos entender melhor o perfil de nossos clientes, aprimorar continuamente nosso produto e para fins de
    direcionamento de conteúdo específico. Nesse caso você não será identificado, sendo que seus dados irão apenas
    compor estatísticas sobre o uso de nosso produto, como por exemplo, quantos por cento de nossos clientes se
    encontram em determinada região, preferências do Usuário etc.
    Os próprios dados e os resultados estatísticos também poderão ser utilizados para direcionar questões
    administrativas, comerciais e financeiras da Archio, inclusive mediante direcionamento de campanhas de marketing.
  </p>
  <br>
  <h5 class="blue">
    4.2. Para fins legais e obrigatórios
  </h5>
  <p>
    A Archio poderá utilizar dados de Usuários e dados de terceiros, inseridos por Usuários, para o cumprimento de
    obrigações legais ou regulatórias, compartilhando dados pessoais com autoridades públicas. Alguns exemplos, não
    exaustivos, desse tipo de tratamento são:
  </p>
  <p>
    (i) Emissão de Notas Fiscais, compartilhamento com a Receita Federal: Nome, CPF, CNPJ, endereço, telefone, e-mail,
    razão social, inscrição municipal/estadual, dados da venda;
  </p>
  <p>
    (ii) Preenchimento de livro de Serviços tomados, livro de Serviços prestados, integração fiscal, preenchimento do
    DAS – compartilhamento com a Receita Federal: CPF informado na Nota Fiscal;
  </p>
  <p>
    (iii) Credenciamento junto à Receita Federal – nome e CPF do sócio;
  </p>
  <p>
    (iv) Emissão de DRE, balancete, livro razão, livro diário ou relatório de imobilizado – compartilhamento com a
    Receita Federal – nome;
  </p>
  <p>
    (v) Preenchimento de SEFIP, GRRF, CAGED, DIRF, RAIS e demais obrigações trabalhistas – compartilhamento com o
    Ministério do Trabalho e Emprego.
  </p>
  <p>
    Além disso, eventualmente os dados pessoais poderão ser utilizados:
  </p>
  <p>
    (i) Para auditorias internas e externas, para validações de questões de segurança da informação, buscando-se na
    medida do possível o sigilo e anonimização desses dados;
  </p>
  <p>
    (ii) Para atender solicitações legais de autoridades públicas;
  </p>
  <br>
  <h5 class="blue">
    5. Compartilhamento
  </h5>
  <p>
    A Archio não transmite dados para organizações e/ou indivíduos externos, exceto mediante solicitação e/ou
    consentimento livre do Usuário, informado e inequívoco, ou quando o consentimento for dispensável no escopo das
    hipóteses legítimas de tratamento de dados pessoais, previstas na legislação vigente.
  </p>
  <p>
    São hipóteses de compartilhamento:
  </p>
  <p>
    (i) Quando permitido, nos termos da lei aplicável, poderemos tratar determinados dados pessoais, como endereço de
    e-mail, para compartilhá-los com plataformas de mídia social, como Facebook e Google, para gerar leads, direcionar
    tráfego para nosso site ou de outra forma, promover nossos Serviços. Essas atividades de tratamento baseiam-se em
    nosso interesse legítimo em realizar atividades de marketing para oferecer Serviços que possam ser de seu interesse.
  </p>
  <p>
    (ii) Qualquer dúvida sobre como seus provedores de aplicações, como por exemplo Facebook e Google, processam suas
    informações pessoais deve ser direcionada para esses provedores.
  </p>
  <p>
    (iii) A Archio poderá compartilhar os dados dos Usuários com autoridades públicas, tais como autoridades fiscais,
    fazendárias, judiciárias e policiais, ou terceiros autorizados, se e na medida necessária ou permitida para atender
    a lei, em situações como:
    • Para cumprir com obrigações legais;
    • Para cumprir com uma solicitação legal válida e responder a alegações feitas contra a Archio;
    • Para promover ou se defender em ações judiciais;
    • Para responder a uma solicitação legal válida relacionada a investigações criminais, suspeitas de atividade ilegal
    ou qualquer outra atividade que possa expor a Archio e os Usuários a responsabilização legal;
    • Para aplicar e administrar nossos Termos e Condições Gerais;
    • Para realizar a segurança física e cibernética da Archio, em todos seus ativos, e de seus Usuários.
  </p>
  <p>
    Para execução dos Serviços a Archio poderá compartilhar dados dos Usuários com prestadores de serviço terceirizados,
    que atuam em diversos processos, tais como:
    • Armazenamento de informações em nuvem;
    • Verificação da identidade dos Usuários, para prevenção a fraudes e avaliação de risco de crédito;
    • Verificação de informações em comparação com bancos de dados públicos;
    • Pesquisa, desenvolvimento e manutenção de aplicações;
    • Fornecimento dos Serviços da Archio por meio de plataformas de terceiros e ferramentas de software (por exemplo,
    por meio da integração com APIs)
    • Atendimento ao Usuário;
    • Promoção de marketing, inclusive serviços de publicidade em redes sociais, prospecção de leads e análise de dados;
    • Processamento e garantia da segurança de pagamentos.
  </p>
  <p>
    Os prestadores de serviços têm acesso limitado aos dados dos Usuários para realizar tarefas específicas e estão
    contratualmente obrigados a proteger as informações, empregando-as somente para as finalidades contratadas e sob a
    supervisão da Archio.
  </p>
  <br>
  <h5 class="blue">
    6. Segurança de suas informações
  </h5>
  <p>A Archio adota medidas técnicas e administrativas para a proteção da privacidade dos dados dos clientes, utilizando
    todos os esforços para manter a estrita confidencialidade, integridade e disponibilidade restrita às pessoas
    autorizadas.</p>
  <p>
    Tanto nosso site, por meio do qual você acessa o produto Archio, quanto o backup de nossos dados, estão no Google
    Cloud Platform (GCP), um dos maiores e mais confiáveis datacenters do mundo.
  </p>
  <p>
    Além disso, utilizamos as melhores práticas de segurança do mercado, além de controles de acesso físico e digital,
    criptografia, medidas contra a destruição ou uso ilegal, gestão de vulnerabilidades, tratamento de incidentes e
    acessos não autorizados ou em desconformidade com o Termo de Serviço do produto.
  </p>
  <br>
  <h5 class="blue">
    7. Responsabilidade dos Usuários
  </h5>
  <p>Sem prejuízo às demais obrigações previstas nesta Política ou no Termo de Uso, para a adequada utilização do
    produto Archio, ao utilizar nosso produto é preciso que você se comprometa a:</p>
  <p>
    (i) Ser o único responsável pela guarda e confidencialidade do login e senha, não podendo fornecê-los a terceiros;
  </p>
  <p>
    (ii) Fornecer informações de cartão de crédito, senhas de qualquer natureza utilizando os recursos existentes em
    nossa aplicação.
  </p>
  <p>
    (iii) Nos comunicar sobre toda e qualquer suspeita ou constatação de violação aos Termos de Serviço ou à Política de
    Privacidade, inclusive acessos não autorizados à sua conta, movimentações suspeitas, boletos que você desconhece
    etc.
  </p>
  <p>
    (iv) Prestar informações verídicas, honestas e completas, responsabilizando-se por toda e qualquer informação
    incorreta ou falsa;
  </p>
  <p>
    (v) Responsabilizar-se por todos os dados de terceiros;
  </p>
  <p>
    (vi) Nos comunicar sobre toda e qualquer alteração de seus dados, de modo que para todos os fins legais os últimos
    dados fornecidos serão considerados como corretos, autênticos e suficientes para o cumprimento desta Política e do
    Termo de Uso;
  </p>
  <p>
    Por questões de segurança, nos reservamos no direito de suspender ou cancelar a conta do Usuário em caso de suspeita
    ou descumprimento dos Termos de Uso ou da Política de Privacidade, sem prejuízo de demais medidas judiciais e
    administrativas.
  </p>
  <br>
  <h5 class="blue">8. Manutenção dos dados</h5>
  <p>Consideradas as situações, conservaremos os dados dos Usuários pelo prazo de retenção necessário, considerada a
    situação que justifica o tratamento:</p>
  <p>(i) se para cumprimento de obrigação legal ou regulatória, pelo prazo indicado na norma em questão, estando o
    contrato em vigência;</p>
  <p>
    (ii) se para o cumprimento de contrato, até o alcance dos objetivos da relação contratual; e
  </p>
  <p>
    Poderemos ainda conservar seus dados pessoais, na extensão mínima exigida, independente do seu pedido de eliminação
    e consentimento, conforme artigo 16 da Lei Geral de Proteção de Dados, nas seguintes situações e respeitadas as
    seguintes finalidades:

    • Cumprimento de obrigação legal ou regulatória;
    • Estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização; Transferência a terceiro,
    respeitados os direitos do titular e previsão nas leis de proteção de dados e privacidade;
    • Nosso uso exclusivo, desde que vedado acesso por terceiro, e desde que anonimizados os dados.
  </p>
  <br>
  <h5 class="blue">
    9. Direitos dos Usuários
  </h5>
  <p>
    Os Usuários poderão gerenciar o uso de seus dados, podendo para tanto:
  </p>
  <p>
    (i) Pedir a exclusão de seus dados, ressalvado impeditivo legal;
  </p>
  <p>
    (ii) Pedir a alteração ou correção de seus dados;
  </p>
  <p>
    (iii) Pedir informações sobre o compartilhamento de seus dados;
  </p>
  <p>
    (iv) Restringir, na medida do possível, o uso de seus dados, inclusive no que diz respeito ao recebimento de campanhas publicitárias e utilização de Cookies;
  </p>
  <p>
    (v) Realizar a cópia de seus dados;
  </p>
  <p>
    (vi) Revogar o consentimento para o tratamento de seus dados, sendo avisado neste caso sobre as consequências;
  </p>
  <p>(vii) Solicitar que a Archio cesse o tratamento de seus dados para fins de marketing enviando um e-mail para suporte@archio.com.br.</p>
  <p>
    A Archio atenderá aos pleitos dos Usuários, mas informa que esses direitos não serão absolutos, de modo que algumas situações podem resultar em atendimento parcial do pedido ou até negativa. Nessas situações, prestará os esclarecimentos e justificativas necessárias.
  </p>
  <br>
  <h5 class="blue">
    10. Contato e relatos de incidentes
  </h5>
  <p>Para o exercício de seus Direitos ou qualquer comunicação necessária com a Archio em razão da utilização do produto ou por conta da presente Política de Privacidade, você poderá utilizar dos seguintes Canais de Comunicação:</p>
  <p>
    Telefone: (34)3314-5800
    E-mail: suporte@archio.com,br
  </p>
  <p>
    O contato do cliente e sua identidade poderão ser validados pela Archio, razão pela qual informações e dados podem ser solicitados no momento do atendimento.
  </p>
  <p>
    Para se precaver em caso de incidentes de privacidade que importem em risco de dano aos Titulares de Dados Pessoais, a Archio também utiliza os canais de contatos supracitados, para recebimento de notícias ou relatos de incidentes.
  </p>
  <br>
  <h5 class="blue">
    11. REVISÃO DA POLÍTICA
  </h5>
  <p>
    Esta Política poderá sofrer alterações, sendo os clientes previamente comunicados. A versão atual foi publicada em 01 de setembro de 2020.
  </p>
  <br>
  <h5 class="blue">
    12. FORO
  </h5>
  <p>
    Nossa Política de Privacidade está em conformidade com a legislação da República Federativa do Brasil. Qualquer questão decorrente do relacionamento entre o cliente e a Archio serão tratadas no Foro da Comarca de Uberaba, Estado de Minas Gerais.
  </p>
  <br>
</div>