<div [@routerTransition]> 
  <ngx-loading
  [show]="loading"
  [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: false,
    primaryColour: '#222',
    secondaryColour: '#222',
    tertiaryColour: '#222'
  }"
  ></ngx-loading>

  <div class="base-modal-content" style="min-height: 80vh" >

    <div class="card-header base-modal-header flex">
      <div class="row" *ngIf="!loading">
          <div class="col text-left">
              <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
          </div>
          <button type="button" (click)="close()" class="close col text-right" data-dismiss="modal" aria-label="Close">
              <span id="call5" aria-hidden="true">&times;</span>
          </button>
          <!-- <br> -->
          <div class="col-lg-12" >
              <h2 id="call1">Filtros Secundários</h2>
          </div>
      </div>  
    </div>

    <div class="card-body base-modal-body " >
        <form class="row" [formGroup]="searchForm" style="flex-direction: row;">
            <div class="col-md-6 col-sm-12" >
                <div class="col-lg-6">
                    <label>Status:</label>
                </div>
                <ng-multiselect-dropdown
                    [placeholder]="'Selecione os Status'"
                    [settings]="dropdownSettings"
                    [data]="statusList"
                    (onSelect)="onItemSelectStatus($event)"
                    (onSelectAll)="onSelectAllStatus($event)"
                    >
                </ng-multiselect-dropdown>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="col-lg-6">
                    <label>Fase:</label>
                </div>
                <ng-multiselect-dropdown
                    [placeholder]="'Selecione as Fases'"
                    [settings]="dropdownSettings"
                    [data]="faseList"
                    (onSelect)="onItemSelectFase($event)"
                    (onSelectAll)="onSelectAllFase($event)"
                    >
                </ng-multiselect-dropdown>
            </div>
        </form>
    </div>

  </div>
</div>