<nav class="navbar navbar-expand-sm fixed-top">
    <a class="navbar-brand" class="nav-link">
        <img src="assets/images/logo.png" width="100px" />
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">

            <!-- Email Notification -->

            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">

                    <div *ngIf="(ArrMail | async) !== 0">
                        <span class="badgeAlertEmail"></span>
                        <span class="caret"></span>
                    </div>
                    <i class="icon mdi mdi-email mdi-18px"></i> <b class="caret"></b>

                </a>

                <div class="dropdown-menu-right" ngbDropdownMenu id="notificationMail">
                    <h6 class="dropdown-header" style="text-align: center">
                        Notificações de Email
                    </h6>
                    <hr style="margin: 0;" />
                    <div *ngIf="(notifysMail | async) == 0" style="margin-top: 10px; text-align: center; width: 400px;">
                        <p> Não possui novos Emails </p>
                    </div>
                    <div *ngFor="let noti of notifysMail | async">
                        <hr />
                        <div class="media"  [routerLink]="['/email-service']" (click)="delete(noti.key)">
                            <div class="media-left">
                                <a>
                                    <i class={{noti.linkIcon}} aria-hidden="true" style="color: #343A40;"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{noti.title}}</h4>
                                <a class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{noti.dateCreated | date:'dd/MM/yyyy HH:mm:ss'}}
                                </a>
                                <p>
                                    {{noti.msg}}
                                </p>
                            </div>
                            <div style="align-items: flex-end; margin-left: 5px;">
                                <i class="icon mdi mdi-eye mdi-18px" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- MENU NOTIFICATION -->
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">

                    <div *ngIf="(sizeArr | async) !== 0">
                        <span class="badgeAlert"> {{(sizeArr | async)}} </span>
                        <span class="caret"></span>
                    </div>
                    <i class="icon mdi mdi-bell mdi-18px"></i><b class="caret"></b>

                </a>

                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <h6 class="dropdown-header" style="text-align: center">
                        Notificações
                    </h6>
                    <hr style="margin: 0;" />
                    <div *ngIf="(notifys | async) == 0" style="margin-top: 10px; text-align: center; width: 400px;">
                        <p> Não possui novas notificações </p>
                    </div>
                    <div *ngFor="let notify of notifys | async">
                        <hr />
                        <div class="media">
                            <div class="media-left">
                                <a>
                                    <i class={{notify.linkIcon}} aria-hidden="true" style="color: #343A40;"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{notify.title}}</h4>
                                <a class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{notify.dateCreated | date:'dd/MM/yyyy HH:mm:ss'}}
                                </a>
                                <p>
                                    {{notify.msg}}
                                </p>
                            </div>
                            <div class="button-group" style="align-items: flex-end;">
                                <button class="btn btn-secundary" type="button" (click)="clearNotify(notify.key)"
                                    *ngIf="notify.active">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                                <button class="btn-del btn btn-secundary" type="button" (click)="delete(notify.key)"
                                    style="margin-left: 5px;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- MENU LOGOUT -->
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{ email }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/users/alter']"
                        [routerLinkActive]="['router-link-active']">
                        <i class="fa fa-fw fa-user"></i>
                        {{ "Alterar Dados" | translate }}
                    </a>
                    <hr />
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i>
                        {{ "Log Out" | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
