$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
.dropdown-menu-right{
    padding: 0px;
}
.media-heading {
    font-size: 15px;
    margin-bottom: 0px;
}
.media-left {
    padding-top: 6%;
    margin-right: 2%;
}

.dropdown-item {
    margin-bottom: 10px;
    padding: 5px;
}
.dropdown-item:hover {
    animation: 1ms;
    background-color: #999;
    .delete-button{
        display:inline;
    }
}
.delete-button{
    display: none;
}


.dropdown-menu-right {
    hr {
        margin: 0%;
    }
}
.dropdown-menu-right::-webkit-scrollbar {
    display: none;
}

.time {
    font-size: 10px;
}
.media-body {
    font-size: 12px;
}
.dropdown-footer{
    padding: 0px;
    margin: 0px;
}
.badgeAlert {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #d9534f;
    border-radius: 10px;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}
