<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
          backdropBorderRadius: '3px',
          fullScreenBackdrop: true,
          primaryColour: '#222',
          secondaryColour: '#222',
          tertiaryColour: '#222'
      }"></ngx-loading>
    <app-page-header [heading]="'Movimentação'" [icon]="'fa-user'"></app-page-header>
    <div style="margin-bottom: 10px">
        <app-button-back [redirectTo]="'moviments'"></app-button-back>
        <app-buttons-custom *ngIf="moviment" [id]="moviment._id" (edit)="editMoviment(moviment._id)"
            (delete)="open('focusFirst', moviment._id)" [permissionEdit]="false"
            [permissionDelete]="permissionDelete && !moviment.processed && !moviment.demand"></app-buttons-custom>
        <br />
    </div>

    <div class="card bg-light mb-12">
        <div class="card-body">
            <ngb-tabset #tab *ngIf="moviment" (tabChange)="beforeChange($event)">
                <ngb-tab title="Movimentação Nr {{moviment.nr}}" id="tab1">
                    <ng-template ngbTabContent>
                        <br />
                        <form [formGroup]="movimentForm" role="FormGroup">
                            <div class="row">
                                <div class="form-group col-sm-12 col-lg-6">
                                    <label for="typeahead-basic">Empresa</label>
                                    <input id="typeahead-basic" type="text" placeholder="Nome da Empresa"
                                        class="form-control" formControlName="company" [resultTemplate]="rtCompany"
                                        [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                                        [ngClass]="{ 'is-invalid': !companyIpt.valid && !companyIpt.disabled }" />
                                    <div *ngIf="companyIpt.invalid && (companyIpt.dirty || companyIpt.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="!companyIpt.valid">
                                            Empresa é obrigatória.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-lg-6">
                                    <label for="">Solicitante</label>
                                    <input type="text" placeholder="Nome do Solicitante" class="form-control"
                                        formControlName="requester">
                                </div>
                                <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-lg-6">
                                    <label for="">Natureza da Movimentação</label>
                                    <input type="text" class="form-control" *ngIf="moviment && moviment.loan"
                                        formControlName="loan">
                                    <input type="text" class="form-control" *ngIf="moviment && moviment.low"
                                        formControlName="low">
                                </div>
                                <div class="form-group col-sm-12 col-lg-6">
                                    <label for="">Tipo da Movimentação</label>
                                    <input type="text" *ngIf="moviment && moviment.moveVolume" class="form-control"
                                        formControlName="moveVolume">
                                    <input type="text" *ngIf="moviment && moviment.moveArchive" class="form-control"
                                        formControlName="moveArchive">
                                </div>
                                <div class="form-group col-sm-12 col-lg-6">
                                    <label for="">Prazo</label>
                                    <input type="text" class="form-control" *ngIf="moviment && moviment.normal"
                                        formControlName="normal">
                                    <input type="text" class="form-control" *ngIf="moviment && moviment.emergency"
                                        formControlName="emergency">
                                </div>
                                <div class="form-group col-sm-12 col-lg-6">
                                    <label for="">Formato da Entrega</label>
                                    <input type="text" class="form-control" *ngIf="moviment && moviment.delivery"
                                        formControlName="delivery">
                                    <input type="text" class="form-control" *ngIf="moviment && moviment.withdraw"
                                        formControlName="withdraw">
                                    <input type="text" class="form-control" *ngIf="moviment && moviment.digital"
                                        formControlName="digital">
                                </div>
                            </div>
                            <!-- <button class="btn btn-primary pull-right"
                    [routerLink]="['/moviments/searchvolumes', moviment._id]"
                    *ngIf="moviment && moviment.moveVolume " [disabled]="moviment.processed">Pesquisar
                    Caixas</button> -->
                            <!-- <button class="btn btn-primary pull-right"
                    [routerLink]="['/moviments/searcharchives', moviment._id]"
                    *ngIf="moviment && moviment.moveArchive" [disabled]="moviment.processed">Pesquisar
                    Arquivos</button> -->
                        </form>
                    </ng-template>
                </ngb-tab>

                <ngb-tab *ngIf="moviment &&  moviment.moveArchive" id="tabSearchArchives" title="Pesquisar Arquivos">
                    <ng-template ngbTabContent>
                        <div>
                            <app-search-archives [id]="moviment._id"></app-search-archives>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab *ngIf="moviment && moviment.moveVolume " id="tabSearchArchives" title="Pesquisar Caixas">
                    <ng-template ngbTabContent>
                        <div>
                            <app-search-volumes [id]="moviment._id"></app-search-volumes>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="tab2" title="Ver Arquivos" *ngIf="moviment.moveArchive"
                    (tabChange)="searchItensArchives()">
                    <ng-template ngbTabContent>
                        <br>
                        <form [formGroup]="archiveForm" role="FormGroup" (ngSubmit)="searchItensArchives()">
                            <div class="form-row">
                                <div class="form-group col-lg-3 col-sm-12">
                                    <label for="typeahead-basic">Documento</label>
                                    <input id="typeahead-basic" type="text" class="form-control"
                                        formControlName="document" [resultTemplate]="rtDocument"
                                        [inputFormatter]="formatter" [ngbTypeahead]="searchDocument" />
                                </div>
                                <div class="form-group col-lg-3 col-sm-12">
                                    <label for="typeahead-basic">Depósito</label>
                                    <input id="typeahead-basic" type="text" class="form-control"
                                        formControlName="storehouse" [resultTemplate]="rtStorehouse"
                                        [inputFormatter]="formatter" [ngbTypeahead]="searchStorehouse" />
                                </div>
                                <div class="form-group col-lg-2 col-sm-12">
                                    <label for="location">Posição</label>
                                    <input type="text" class="form-control" formControlName="location" />
                                </div>
                                <div class="form-group col-lg-2 col-sm-12">
                                    <label for="search">Índice</label>
                                    <input type="text" class="form-control" formControlName="search" />
                                </div>
                                <div class="form-group col-lg-1 col-sm-6">
                                    <br />
                                    <button type="submit" class="btn btn-primary" style="margin-top: 7px">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <div class="form-group col-lg-1 col-sm-6" *ngIf="moviment.moveArchive && !moviment.processed">
                                    <br />
                                    <button type="button" class="btn btn-danger" style="margin-top: 7px"
                                        (click)="removeArchives()">Remover</button>
                                </div>
                            </div>

                            <ng-template #rtStorehouse let-r="result" let-t="storehouse" class="custom-typeahead">
                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                            </ng-template>
                            <ng-template #rtDocument let-r="result" let-t="document" class="custom-typeahead">
                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                            </ng-template>
                        </form>
                        <form *ngIf="moviment.processed" [formGroup]="processForm" role="FormGroup"
                            (ngSubmit)="devolutionOrLowArchives()">
                            <div class="form-row">
                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-check">
                                        <div class="pretty p-switch p-fill">
                                            <input class="form-check-input" type="radio" name="process"
                                            formControlName="process" value="devolution" id="devolution">
                                            <div class="state">
                                                <label class="form-check-label" for="exampleRadios1">
                                                    Devolução
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <div class="pretty p-switch p-fill">
                                            <input class="form-check-input" type="radio" name="process" id="low"
                                                formControlName="process" value="low">
                                                <div class="state">
                                                    <label class="form-check-label" for="exampleRadios2">
                                                        Baixa
                                                    </label>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12 form-group">
                                    <input type="date" class="form-control" formControlName="date">
                                </div>
                                <div class="col-lg-1 col-sm-12">
                                    <button class="btn btn-success" type="submit">Processar</button>
                                </div>
                            </div>
                        </form>
                        <div class="row" *ngIf="archives && archives.items.length > 0">
                            <div class="col col-xl-12 col-lg-12" style="padding-top: 20px">
                                <ngx-datatable class="material striped" [rows]="archives.items" [columnMode]="'force'"
                                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="pageArchives.totalElements" [offset]="pageArchives.pageNumber - 1"
                                    [limit]="10" (page)="searchItensArchives($event)" [selected]="selected"
                                    [selectionType]="'checkbox'" [selectAllRowsOnPage]="true"
                                    [selectAllRowsOnPage]="false" (select)="onSelectArchives($event)">
                                    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false"
                                        [draggable]="false" [resizeable]="false">
                                        <ng-template ngx-datatable-header-template let-value="value"
                                            let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                            <input type="checkbox" [checked]="allRowsSelected"
                                                (change)="selectFn(!allRowsSelected)" />
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-row="row"
                                            let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">

                                            <input type="checkbox" *ngIf="!moviment.processed" [checked]="isSelected"
                                                (change)="onCheckboxChangeFn($event)" />

                                            <input type="checkbox" *ngIf="moviment.processed" [checked]="isSelected"
                                                [disabled]="isCheckable(row.status)"
                                                (change)="onCheckboxChangeFn($event)" />
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Document" prop="doct.name"></ngx-datatable-column>
                                    <ngx-datatable-column name="Depósito" prop="storehouse.name"></ngx-datatable-column>
                                    <ngx-datatable-column name="Posição" prop="volume.location"></ngx-datatable-column>
                                    <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
                                    <!-- <ngx-datatable-column name="Devolução" prop="devolutions[0].dateDevolution"></ngx-datatable-column> -->


                                    <ngx-datatable-column name="Baixa" prop="lows">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span *ngIf="value.length && value[0].dateLows">{{ value[0].dateLows | date:
                                                'dd/MM/yyyy'
                                                }}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Indexação" prop="tag"></ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="tab3" title="Ver Volumes" *ngIf="moviment.moveVolume" (onChange)="showItensVolumes()">
                    <ng-template ngbTabContent>
                        <br>
                        <form [formGroup]="volumeForm" role="FormGroup" (ngSubmit)="showItensVolumes()">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="typeahead-basic">Departamento</label>
                                    <input id="typeahead-basic" type="text" class="form-control"
                                        formControlName="departament" [resultTemplate]="rtDepartament"
                                        [inputFormatter]="formatter" [ngbTypeahead]="searchDepartament" />
                                </div>
                                <ng-template #rtDepartament let-r="result" let-t="departament" class="custom-typeahead">
                                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>
                                <div class="form-group col">
                                    <label for="location">Posição</label>
                                    <input type="text" class="form-control" formControlName="location" />
                                </div>
                                <div class="form-group col">
                                    <label for="typeahead-basic">Depósito</label>
                                    <input id="typeahead-basic" type="text" class="form-control"
                                        formControlName="storehouse" [resultTemplate]="rtStorehouse"
                                        [inputFormatter]="formatter" [ngbTypeahead]="searchStorehouse" />
                                </div>
                                <ng-template #rtStorehouse let-r="result" let-t="storehouse" class="custom-typeahead">
                                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>
                                <div class="form-group col">
                                    <label for="reference">Referência</label>
                                    <input type="text" class="form-control" formControlName="reference" />
                                </div>
                                <div class="form-group">
                                    <br />
                                    <button type="submit" class="btn btn-primary" style="margin-top: 7px">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>



                                <div class="form-group col-1" *ngIf="moviment.moveVolume && !moviment.processed">
                                    <br />
                                    <button type="button" class="btn btn-danger" style="margin-top: 7px" type="button"
                                        class="btn btn-danger" (click)="removeVolumes()">Remover</button>
                                </div>



                            </div>
                        </form>
                        <form *ngIf="moviment.processed" [formGroup]="processForm" role="FormGroup"
                            (ngSubmit)="devolutionOrLowVolumes()">

                            <div class="form-row">
                                <div class="col-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="process" id="devolution"
                                            formControlName="process" value="devolution">
                                        <label class="form-check-label" for="exampleRadios1">
                                            Devolução
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="process" id="low"
                                            formControlName="process" value="low">
                                        <label class="form-check-label" for="exampleRadios2">
                                            Baixa
                                        </label>
                                    </div>
                                </div>
                                <div class="col form-group">
                                    <input type="date" class="form-control" formControlName="date">
                                </div>
                                <div class="col">
                                    <button class="btn btn-success" type="submit">Processar</button>
                                </div>
                            </div>
                        </form>
                        <div class="row" *ngIf="volumes && volumes.items.length > 0">
                            <div class="col col-xl-12 col-lg-12" style="padding-top: 20px">
                                <ngx-datatable class="material striped" [rows]="volumes.items" [columnMode]="'force'"
                                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="pageVolumes.totalElements" [offset]="pageVolumes.pageNumber - 1"
                                    [limit]="10" (page)="showItensVolumes($event)" [selected]="selected"
                                    [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
                                    (select)="onSelectVolumes($event)">
                                    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false"
                                        [draggable]="false" [canAutoResize]="false" [draggable]="false"
                                        [resizeable]="false">
                                        <ng-template ngx-datatable-header-template let-value="value"
                                            let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                            <input type="checkbox" [checked]="allRowsSelected"
                                                (change)="selectFn(!allRowsSelected)" />
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-row="row"
                                            let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">


                                            <input type="checkbox" *ngIf="!moviment.processed" [checked]="isSelected"
                                                (change)="onCheckboxChangeFn($event)" />

                                            <input type="checkbox" *ngIf="moviment.processed" [checked]="isSelected"
                                                [disabled]="isCheckable(row.status)"
                                                (change)="onCheckboxChangeFn($event)" />


                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="true"
                      [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                    </ngx-datatable-column> -->
                                    <ngx-datatable-column name="Departamento" prop="departament.name">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Depósito" prop="storehouse.name"></ngx-datatable-column>
                                    <ngx-datatable-column name="Posição" prop="location"></ngx-datatable-column>
                                    <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
                                    <!-- <ngx-datatable-column name="Devolução" prop="devolutions">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="value.length && value[0].dateDevolution">{{ value[0].dateDevolution | date:
                          'dd/MM/yyyy' }}</span>
                      </ng-template>
                    </ngx-datatable-column> -->
                                    <ngx-datatable-column name="Baixa" prop="lows">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span *ngIf="value.length && value[0].dateLows">{{ value[0].dateLows | date:
                                                'dd/MM/yyyy'
                                                }}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Referência" prop="reference"></ngx-datatable-column>
                                    <!-- <ngx-datatable-column name="Tipo de Guarda" prop="guardType"></ngx-datatable-column> -->
                                    <!-- <ngx-datatable-column name="Criado em" prop="dateCreated">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value | date: 'dd/MM/yyyy' }}
                      </ng-template>
                    </ngx-datatable-column> -->
                                    <!-- <ngx-datatable-column name="Suspensa" prop="indDemand">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value ? 'Sim' : 'Não' }}
                      </ng-template>
                    </ngx-datatable-column> -->
                                </ngx-datatable>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="tab4" title="Processar Movimentação">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-lg-12">
                                <br>
                                <button class="btn btn-primary pull-right"
                                    *ngIf="moviment.processed && !moviment.demand" (click)="extract()">Imprimir
                                    Extrato</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <br>
                                <p>Movimentação NR {{ moviment.nr }}</p>
                                <br>
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <th>
                                            Empresa
                                        </th>
                                        <th>
                                            Solicitante
                                        </th>
                                        <th>
                                            Natureza da Movimentação
                                        </th>
                                        <th>
                                            Tipo da Movimentação
                                        </th>
                                        <th>
                                            Prazo
                                        </th>
                                        <th>
                                            Formato da Entrega
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>{{ moviment.company.name }}</td>
                                        <td>{{ moviment.requester.name }}</td>
                                        <td>{{ moviment.low ? 'BAIXA' : 'EMPRESTIMO' }}</td>
                                        <td>{{ moviment.moveVolume ? 'CAIXAS' : 'ARQUIVO' }}</td>
                                        <td>{{ moviment.normal ? 'Normal' : 'Emergencial' }}</td>
                                        <td>{{ delivery() }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <th></th>
                                        <th>Quantidade de tipos de Caixas Movimentadas</th>
                                    </tr>
                                    <tr>
                                        <td>Box</td>
                                        <td>{{ countMove.box }}</td>
                                    </tr>
                                    <tr>
                                        <td>Container</td>
                                        <td>{{ countMove.container }}</td>
                                    </tr>
                                    <tr>
                                        <td>Gaveta</td>
                                        <td>{{ countMove.gaveta }}</td>
                                    </tr>
                                    <tr>
                                        <td>Mapoteca</td>
                                        <td>{{ countMove.mapoteca }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Serviços</td>
                                        <td>{{ countMove.box + countMove.container + countMove.gaveta +
                                            countMove.mapoteca }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <th>
                                        </th>
                                        <th>Quantidade de tipos de Arquivos Movimentados
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>{{ countMove.totalArchiveMove }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row" *ngIf="moviment.demand">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <h5>Serviços</h5>
                                        </div>
                                        <form [formGroup]="serviceForm" (submit)="processMoviment()">
                                            <div formArrayName="servicesDemand">
                                                <div *ngFor="let service of services.controls; index as i">
                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <div class="form-row" [formGroupName]="i">
                                                                <div class="form-group col-lg-1 col-md-1">
                                                                    <label for="btn-remove">&emsp;</label><br />
                                                                    <button type="button"
                                                                        class="btn btn-danger btn-xs pull-right"
                                                                        (click)="removeService(i)">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="form-group col-lg-2 col-md-2">
                                                                    <label for="label-quantity">Quantidade</label>
                                                                    <input type="number" class="form-control"
                                                                        formControlName="quantityItem" />
                                                                    <div *ngIf="quantityItemIpt(i).invalid && (quantityItemIpt(i).dirty || quantityItemIpt(i).touched)"
                                                                        class="invalid-feedback">
                                                                        <div *ngIf="!quantityItemIpt(i).valid">
                                                                            Quantidade é obrigatório.
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group col-lg-5 col-md-5">
                                                                    <label for="typeahead-basic">Serviço</label>
                                                                    <input id="typeahead-basic" type="text"
                                                                        class="form-control" formControlName="item"
                                                                        [resultTemplate]="rtService"
                                                                        [inputFormatter]="formatterService"
                                                                        [ngbTypeahead]="searchService" />
                                                                    <div *ngIf="serviceIpt(i).invalid && (serviceIpt(i).dirty || serviceIpt(i).touched)"
                                                                        class="invalid-feedback">
                                                                        <div *ngIf="!serviceIpt(i).valid">
                                                                            Serviço é obrigatório.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <ng-template #rtService let-r="result" let-t="item"
                                                                    class="custom-typeahead">
                                                                    <ngb-highlight [result]="r.description" [term]="t">
                                                                    </ngb-highlight>
                                                                </ng-template>
                                                                <div class="form-group col-lg-2 col-md-2">
                                                                    <label for="">Valor Unitário</label>
                                                                    <input type="text" class="form-control" readonly
                                                                        formControlName="itemValue"
                                                                        [value]="returnValueItem(service)">
                                                                </div>
                                                                <div class="form-group col-lg-2 col-md-2">
                                                                    <label for="">Total</label>
                                                                    <input type="text" class="form-control" readonly
                                                                        formControlName="totalItem"
                                                                        [value]="returnTotal(service)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-xs btn-success pull-right"
                                                (click)="addService()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <br><br><br>
                                            <button type="submit" class="btn btn-primary pull-right"
                                                *ngIf="!moviment.processed">Salvar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
