<div [@routerTransition]>
  <ngx-loading
      [show]="loading"
      [config]="{
          backdropBorderRadius: '3px',
          fullScreenBackdrop: true,
          primaryColour: '#222',
          secondaryColour: '#222',
          tertiaryColour: '#222'
      }"
  ></ngx-loading>
  <app-page-header [heading]="'Solicitantes'" [icon]="'fa-table'" [btnNew]="'Novo Solicitante'" [permissionBtnNew]="permissionNew" [routerTo]="'/requesters/new'"></app-page-header>
  <div class="row">
      <div class="col col-xl-12 col-lg-12">
          <ngb-accordion #acc="ngbAccordion" activeIds="requesters-0">
              <ngb-panel id="requesters-0">
                <ng-template ngbPanelTitle>
                  <span> <i class="fa fa-filter" style="margin-right: 5px"></i> <b>Filtros</b></span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <form [formGroup]="searchForm" (ngSubmit)="getRequesters()" role="FormGroup" class="form-inline">
                    <div class="row col-12">
                      <div class="form-group mb-2 col-3">
                        <label for="typeahead-basic">Empresa</label>
                        <input id="typeahead-basic" autoFocus="true" type="text" placeholder="Nome da Empresa"  class="form-control typehead"
                          formControlName="company" [resultTemplate]="rtCompany" [inputFormatter]="formatter"
                          [ngbTypeahead]="searchCompany" style="width: 100%" [ngClass]="{ 'is-invalid': !company.valid }" />
                          <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                            <div *ngIf="!company.valid">
                              Empresa é obrigatório.
                            </div>
                          </div>
                      </div>
                      <div class="form-group mb-2 col-4">
                          <label for="labelName">Nome</label>
                          <input id="name" autoFocus="true" type="text" placeholder="Nome do Solicitante"  class="form-control" formControlName="name"
                            style="width: 100%" />
                      </div>
                    </div>
                    <div class="row" style="margin-left: 40%;">
                        <div class="form-group col align-self-center">
                            <button type="submit" class="btn btn-primary" [disabled]="company.invalid">
                                <i class="fa fa-search"></i>
                            </button>
                            <button type="button" class="btn btn-default" [disabled]="company.invalid" style="margin-left: 5px;"(click)="clear()">
                                Limpar Campos
                            </button>
                        </div>
                    </div>
                      <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                        </ng-template>
                    </form>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          <br />
          <app-datatables
              [data]="requesters"
              (setPage)="setPageRequesters($event)"
              (show)="getRequester($event)"
              [columns]="columns"
          ></app-datatables>
      </div>
  </div>
</div>
