<div *ngIf="moviment" style="background-color: white;">
  <div class="row">
    <div class="col-lg-12">
      <p class="header">
        <br>
        SMARTSCAN SERVIÇOS DIGITAIS LTDA.
      </p>
      <p class="sub-header">EXTRATO DE MOVIMENTAÇÃO</p>
      <hr>
      <p class="title">CLIENTE</p>
      <table class="table customer" style="font-size: 12px;">
        <tr>
          <th>
            {{ moviment.company.name }}
          </th>
        </tr>
        <tr>
          <th>
            Endereço: {{ moviment.company.adress }}
          </th>
        </tr>
        <tr>
          <th>
            Cidade: {{ moviment.company.city }}
          </th>
        </tr>
        <tr>
          <th>
            Estado: {{ moviment.company.province }}
          </th>
        </tr>
        <tr>
          <th>
            Telefone: {{ moviment.company.fone }}
          </th>
        </tr>
      </table>
      <table class="table table-bordered">
        <tr>
          <th>Solicitante</th>
          <th>Natureza Movimentação</th>
          <th>Tipo da Movimentação</th>
          <th>Prazo</th>
          <th>Formato da Entrega</th>
          <th>Data Solicitação</th>
          <th>Data Movimentação</th>
        </tr>
        <tr>
          <td>{{ moviment.requester.name }}</td>
          <td>{{ moviment.loan ? 'Empréstimo' : 'Baixa' }}</td>
          <td>{{ moviment.moveVolume ? 'Caixa' : 'Arquivo' }}</td>
          <td>{{ moviment.normal ? 'Normal' : 'Emergencial' }}</td>
          <td>{{ delivery() }}</td>
          <td>{{ moviment.demandDate | date: 'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ moviment.processedDate | date: 'dd/MM/yyyy hh:mm' }}</td>
        </tr>
      </table>
      <p class="title">ITENS MOVIMENTADOS</p>
      <table class="table customer table-bordered" *ngIf="moviment.moveVolume">
        <tr>
          <th>
            CAIXA
          </th>
          <th>
            REF
          </th>
        </tr>
        <tr *ngFor="let items of itemsVolume">
        </tr>
      </table>
      <table class="table customer table-bordered" *ngIf="moviment.moveArchive">
        <tr>
          <th>
            CAIXA
          </th>
          <th>
            DOCUMENTO
          </th>
          <th>
            INDICES
          </th>
        </tr>
        <tr *ngFor="let items of itemsArchives">
        </tr>
      </table>
      <p class="title">SERVIÇOS</p>
      <table class="table customer table-bordered">
        <tr>
          <th>QUANTIDADE</th>
          <th>DESCRIÇÃO</th>
          <th>VALOR UNITÁRIO</th>
          <th>VALOR</th>
        </tr>
        <tr *ngFor="let service of moviment.servicesDemand">
          <td>
            {{ service.quantity }}
          </td>
          <td>
            {{ service.description }}
          </td>
          <td>
            {{ service.value }}
          </td>
          <td>
            {{ service.value }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <p class="title">
            <br>
            LOCAL, DATA E HORA DA ENTREGA
            <br>
            UBERABA, MG
            <br><br><br>
            HORÁRIO: _____: _____ hrs
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <p class="header">CONFIRMAÇÃO DE RECEBIMENTO</p>
          <p class="sub-header">Atesto para os devido fins, que recebi as caixas de documentos constantes da relação
            acima.<br>
            Por ser verdade, firmo o presente documento.
            <br><br>
            ____________________________________________________________________
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <app-footer></app-footer>
</div>