<button style="margin: 10px" class="btn btn-primary" printSectionId="print-section" ngxPrint
    [useExistingCss]="true">Imprimir Relatório</button>
<div *ngIf="moviment" id="print-section">
    <div class="row p-2">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <img src="../../assets/images/PNG-05MENOR2.png" alt="Card image cap">
                    <h5 class=" text-center">
                        SMARTSCAN SERVIÇOS DIGITAIS LTDA.
                    </h5>
                    <h6 class=" text-center">
                        EXTRATO DE MOVIMENTAÇÃO
                    </h6>
                    <p class="text-end">
                        Movimentação Nr. {{ moviment.nr }}
                    </p>
                </div>
                <div class="card-content">
                    <table class="table table-bordered table-responsive-md table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col">CLIENTE</th>
                                <th scope="col">Endereço</th>
                                <th scope="col">Cidade</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{ moviment.company.name }}</th>
                                <td> {{ moviment.company.adress }}</td>
                                <td>{{ moviment.company.city }}</td>
                                <td>{{ moviment.company.province }}</td>
                                <td>{{ moviment.company.fone }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col">Solicitante</th>
                                <th scope="col">Natureza Movimentação</th>
                                <th scope="col">Tipo da Movimentação</th>
                                <th scope="col">Prazo</th>
                                <th scope="col">Formato da Entrega</th>
                                <th scope="col">Data Solicitação</th>
                                <th scope="col">Data Movimentação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ moviment.requester.name }}</td>
                                <td>{{ moviment.loan ? 'Empréstimo' : 'Baixa' }}</td>
                                <td>{{ moviment.moveVolume ? 'Caixa' : 'Arquivo' }}</td>
                                <td>{{ moviment.normal ? 'Normal' : 'Emergencial' }}</td>
                                <td>{{ delivery() }}</td>
                                <td>{{ moviment.demandDate | date: 'dd/MM/yyyy hh:mm' }}</td>
                                <td>{{ moviment.processedDate | date: 'dd/MM/yyyy hh:mm' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body">
                    <h6>ITENS MOVIMENTADOS</h6>
                    <table class="table table-bordered table-responsive-md table-responsive-sm"
                        *ngIf="moviment.moveVolume">
                        <thead>
                            <tr>
                                <th scope="col">CAIXA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemsVolumes">
                                <td scope="row">{{ item.location }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-responsive-md table-responsive-sm"
                        *ngIf="moviment.moveArchive">
                        <thead>
                            <tr>
                                <th scope="col">CAIXA</th>
                                <th scope="col">DOCUMENTO</th>
                                <th scope="col">INDICES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemsArchives">
                                <td>{{ item.volume.location }}</td>
                                <td>{{ item.doct.name }}</td>
                                <td>{{ item.tag }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h6>SERVIÇOS</h6>
                    <table class="table table-bordered table-responsive-md table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col">QUANTIDADE</th>
                                <th scope="col">DESCRIÇÃO</th>
                                <th scope="col">VALOR UNITÁRIO</th>
                                <th scope="col">VALOR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of moviment.servicesDemand">
                                <td>{{ service.quantityItem }}</td>
                                <td>{{ service.item }}</td>
                                <td *ngIf="moviment.itemValue">R$ {{ service.itemValue.toFixed(2) }}</td>
                                <td *ngIf="moviment.totalItem">R$ {{ service.totalItem.toFixed(2) }}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <th scope="row">Total</th>
                                <td *ngIf="moviment.totalValueDemand">R$ {{
                                    moviment.totalValueDemand.toFixed(2) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="title">
                                        <br>
                                        LOCAL, DATA E HORA DA ENTREGA
                                        <br>
                                        UBERABA, MG
                                        <br><br><br>
                                        HORÁRIO: _____: _____ hrs
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <p class="header">CONFIRMAÇÃO DE RECEBIMENTO</p>
                                    <p class="sub-header">Atesto para os devido fins, que recebi as caixas de documentos
                                        constantes da
                                        relação
                                        acima.<br>
                                        Por ser verdade, firmo o presente documento.
                                        <br><br>
                                        ____________________________________________________________________
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
</div>
