<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }">
    </ngx-loading>
    <div class="card bg-light">
        <div class="card-header">
            <!-- <app-page-header *ngIf="!loading" [heading]="'Arquivo'" [icon]="'fa-user'"></app-page-header> -->
            <h2>Arquivo</h2>
            <div style="margin-bottom: 10px" *ngIf="!loading">
                <app-button-back [redirectTo]="'archives'"></app-button-back>
                <app-buttons-custom [id]="archive._id" (edit)="editArchive(archive._id)"
                    (delete)="open('focusFirst', archive._id)" [permissionEdit]="permissionEdit"
                    [permissionDelete]="permissionDelete" [isUser]="isUsers">
                </app-buttons-custom>
            </div>
        </div>
        <div class="card-body">
            <div class="row" *ngIf="!loading">
                <div class="col-4">
                    <ngb-tabset #tab>
                        <ngb-tab title="Dados do Volume" id="tab1">
                            <ng-template ngbTabContent>
                                <div class="card bg-light mb-12">
                                    <div class="card-body">
                                        <div>
                                            <strong> EMPRESA: </strong> <br />
                                            <label> {{ archive.company.name }} </label>
                                        </div>
                                        <br />
                                        <div>
                                            <strong> DEPARTAMENTO: </strong> <br />
                                            <label> {{ archive.departament.name }} </label>
                                        </div>
                                        <br />
                                        <div>
                                            <strong> DOCUMENTO: </strong> <br />
                                            <label> {{ archive.doct.name }} </label>
                                        </div>
                                        <br />
                                        <div>
                                            <strong> DEPÓSITO: </strong> <br />
                                            <label> {{ archive.storehouse.name }} </label>
                                        </div>
                                        <br />
                                        <div>
                                            <strong> POSIÇÃO: </strong> <br />
                                            <label> {{ archive.volume.location }} </label>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="Correções" id="tab2">
                            <ng-template ngbTabContent>
                                <div class="card">
                                    <div class="card-header">
                                        Correções
                                    </div>
                                    <div class="card-body">
                                        <div class="pretty p-icon p-round">
                                            <input type="radio" name="icon_solid" />
                                            <div class="state p-primary">
                                                <i class="icon mdi mdi-check"></i>
                                                <label>
                                                    Correção de Imagem
                                                </label>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="pretty p-icon p-round">
                                            <input type="radio" name="icon_solid" />
                                            <div class="state p-primary">
                                                <i class="icon mdi mdi-check"></i>
                                                <label>
                                                    Correção de Indíce
                                                </label>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="pretty p-icon p-round">
                                            <input type="radio" name="icon_solid" />
                                            <div class="state p-primary">
                                                <i class="icon mdi mdi-check"></i>
                                                <label>
                                                    Deletear Registro
                                                </label>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Observações"
                                                id="floatingTextarea2" style="height: 100px; width: 450px;"></textarea>
                                            <label for="floatingTextarea2">Observações:</label>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-dark">Enviar</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>

                    <br />

                    <div class="col-lg-4">
                        <h5>ÍNDICES</h5>
                    </div>
                    <div class="card bg-light mb-12">
                        <div class="card-body">
                            <app-form-index [data]="archive" [isArchive]="true">
                            </app-form-index>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <form [formGroup]="uploadFile" (ngSubmit)="submit()">
                        <div class="form-group">
                            <app-form-upload formControlName="file" [archive]="file" (postFile)="postFile($event)"
                                [savedFile]="savedFile" (deleteFile)="open('focusFirst', file._id)">
                            </app-form-upload>
                        </div>
                    </form>
                    <app-modal-progress-right-bottom [progress]="uploadResponse" [error]="errorUpload">
                    </app-modal-progress-right-bottom>
                </div>
            </div>
            <br />

            <div class="row" *ngIf="!loading">
                <div class="col-4">
                    <h5>TEMPORALIDADE</h5>

                    <!-- FASE CORRENTE -->
                    <div class="card bg-light md-12">
                        <div class="card-body">
                            <strong>Corrente: </strong><br />
                            <label
                                *ngIf="startCurrentDate && archive.doct.currentControl === false && archive.startDateCurrent == undefined">
                                Fase Corrente não Controlada
                            </label>
                            <label *ngIf="archive && archive.startDateCurrent === undefined">
                                {{ archive.doct.dcurrentLabel }}
                            </label>
                            <label *ngIf="archive && archive.startDateCurrent != undefined">
                                Início:
                                {{ returnDate(archive.startDateCurrent) }}
                            </label>
                            <label *ngIf="archive && archive.finalDateCurrent === true">
                                Fim:
                                {{ returnDate(archive.finalDateCurrent) }}
                            </label>
                            <br />
                            <br />

                            <strong>Intermediária: </strong> <br />
                            <label *ngIf="archive && archive.startDateCurrent === undefined">
                                {{ archive.doct.dintermediateValue }} Anos
                            </label>
                            <label *ngIf="archive && archive.startDateIntermediate">
                                Início:
                                {{ returnDate(archive.startDateIntermediate) }}
                            </label>
                            <label *ngIf="archive && archive.finalDateIntermediate">
                                Fim:
                                {{ returnDate(archive.finalDateIntermediate) }}
                            </label>

                            <br />
                            <br />
                            <strong>Destinação Final: </strong><br />
                            <label *ngIf="archive && archive.finalFase">
                                {{ archive.finalFase }}
                            </label>
                            <label *ngIf="archive && archive.startDateCurrent === undefined">
                                {{ archive.doct.dfinal }}
                            </label>
                            <label *ngIf="archive && archive.finalDateIntermediate">
                                Início:
                                {{ returnDate(archive.finalDateIntermediate) }}
                            </label>
                            <br />

                            <hr>
                            <div class="dataBtn" *ngIf="startCurrentDate && archive.doct.currentControl === true">
                                <h6>Ajuste de Temporalidade </h6>
                                <input type="date" class="form-control" [(ngModel)]="inputStartCurrentDate" />
                                <button *ngIf="archive && archive.doct.currentControl === true"
                                    class="btn btn-danger btn-sm" (click)="setStartCurrentDate()"
                                    style="margin-top: 5px;">
                                    Final Corrente
                                </button>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row" *ngIf="!loading">
                        <div class="col-12">
                            <div style="font-size: 12px">
                                {{ archive.sponsor.name }}<br />
                                {{ archive.sponsor.cnpj }}<br />
                                Autor: {{ archive.author.email }}<br />
                                Data da criação: {{ returnDateCreate(archive.create) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button class="whatsapp btn btn-dark" (click)="openMod(content)" title="Solicitar Correção"> <i
                class="mdi mdi-application-edit mdi-24px" aria-hidden="true"></i></button>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                Solicitação de Correção
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div style="margin-left: 20px;">
                <div class="pretty p-icon p-round">
                    <input type="radio" name="icon_solid" />
                    <div class="state p-primary">
                        <i class="icon mdi mdi-check"></i>
                        <label>
                            Correção de Imagem
                        </label>
                    </div>
                </div>
                <br />
                <div class="pretty p-icon p-round">
                    <input type="radio" name="icon_solid" />
                    <div class="state p-primary">
                        <i class="icon mdi mdi-check"></i>
                        <label>
                            Correção de Indíce
                        </label>
                    </div>
                </div>
                <br />
                <div class="pretty p-icon p-round">
                    <input type="radio" name="icon_solid" />
                    <div class="state p-primary">
                        <i class="icon mdi mdi-check"></i>
                        <label>
                            Deletear Registro
                        </label>
                    </div>
                </div>
                <br />
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Observações" id="floatingTextarea2"
                        style="height: 100px; width: 500px;"></textarea>
                    <label for="floatingTextarea2">Observações:</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark">Enviar</button>
        </div>
    </ng-template>
</div>
