<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
          backdropBorderRadius: '3px',
          fullScreenBackdrop: true,
          primaryColour: '#222',
          secondaryColour: '#222',
          tertiaryColour: '#222'
      }"></ngx-loading>
  <app-page-header [heading]="'Arquivo'" [icon]="'fa-user'"></app-page-header>
  <div style="margin-bottom: 10px">
    <app-button-back [redirectTo]="'archives'"></app-button-back>
    <app-buttons-custom *ngIf="archive" [id]="archive._id" [permissionEdit]="['DAENERYS']"
      [permissionDelete]="['DAENERYS']">
    </app-buttons-custom>
    <br />
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card bg-light mb-12">
        <div class="card-body">
          <app-form-index [data]="archive" [isArchive]="true">
          </app-form-index>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="progress" *ngIf="uploadResponse.status === 'progress'">
        <div class="progress-bar" role="progressbar" style="height: 10px;" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100" [style.width.%]="uploadResponse.message">
        </div>
      </div>
      <form [formGroup]="uploadFile" (ngSubmit)="submit()">
        <div class="form-group">
          <app-form-upload formControlName="file" [archive]="file" (postFile)="postFile($event)"
            [savedFile]="savedFile">
          </app-form-upload>
        </div>
      </form>
    </div>
  </div>
</div>