<div>
    <ngx-loading [show]="loading" [config]="{
        backdropBorderRadius: '3px',
        fullScreenBackdrop: true,
        primaryColour: '#222',
        secondaryColour: '#222',
        tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card bg-light">
        <div class="card-header">
            <h3>Documentos Permitidos</h3>
            <div style="margin-bottom: 10px">
                <app-button-back [redirectTo]="'user/get'"></app-button-back>
            </div>
        </div>
        <div class="card-body">
            <ul *ngFor="let listItem of companyList; index as i">
                <li>{{companyList[i]}}</li>
            </ul>
        </div>
    </div>
</div>
