<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
    <div class="card bg-light">
        <div class="card-header">
            <h3>Alterar Perfis</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="accessProfileForm" role="FormGroup">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" id="name" formControlName="name"
                                class="form-control input-underline input-lg" style="margin-bottom: 10px;"
                                placeholder="Nome" [ngClass]="{ 'is-invalid': !name.valid && name.value === '' }" />
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                                <div *ngIf="!name.valid">
                                    Nome é obrigatório.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="company">Empresa</label>
                            <input id="company" type="text" class="form-control" formControlName="company"
                                [resultTemplate]="rtCompany" [inputFormatter]="formatter"
                                [ngbTypeahead]="searchCompany" />
                            <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5>Permissões</h5>
                        <button class="btn btn-sm btn-dark" (click)="open(content)">Adicionar
                            Documentos</button>
                        <div class="form-group">
                            <ng-template #content let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Editar documentos
                                        permitidos</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    
                                    <ul *ngFor="let listItem of listDoc; index as i">
                                        <li>{{listDoc[i]}}</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark"
                                        (click)="c('Save click')">Salvar</button>
                                </div>
                            </ng-template>


                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="goBack()" class="btn btn-danger"
                        style="margin-right:10px">Cancelar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="name.invalid"
                        (click)="updateUser()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
