.block {
    float: none;
  }

  .cus-modal-content .cus-modal-body {
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    background: #fff;

  }
  .cus-modal-footer {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
