<form [formGroup]="form" (ngSubmit)="postArchive(model)">
    <div class="card bg-light mb-3" style="margin:5px;font-size: 16px;" >
        <div class="card-header">Fonte de dados</div>
        <input id="worksheets" style="width: 72%; margin-left: 50px; margin-top: 10px;"placeholder="Digite Aqui">
    </div>
    <div class="form-group col-12">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <button type="submit" *ngIf="edit" class="btn btn-primary submit-button" [disabled]="!form.valid">Salvar</button>
    </div>
</form>
