<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
        backdropBorderRadius: '3px',
        fullScreenBackdrop: true,
        primaryColour: '#222',
        secondaryColour: '#222',
        tertiaryColour: '#222'
    }"></ngx-loading>
    <div class="card bg-light">
        <div class="card-header" id="step1">
            <div class="row mt-0">
                <div class="col-lg-11">
                    <h3>Dados do Serviço</h3>
                </div>
                <div class="col-lg-1 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
            <div style="margin-bottom: 10px" *ngIf="service">
                <app-button-back [redirectTo]="'menu-services'"></app-button-back>
                <app-buttons-custom [id]="service._id" [permissionEdit]="permissionEdit" [permissionDelete]="permissionDelete"
                    (edit)="editMenu(service._id)" (delete)="open('focusFirst', service._id)">
                </app-buttons-custom>
            </div>
        </div>
        <div class="card-body" id="step2">
            <form [formGroup]="serviceForm" role="FormGroup">
                <div class="form-content">
                    <div class="form-group">
                        <label for="">Descrição</label>
                        <input id="descriptionService" type="text" placeholder="Descrição" class="form-control"
                            formControlName="descriptionService" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
