<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
        backdropBorderRadius: '3px',
        fullScreenBackdrop: false,
        primaryColour: '#222',
        secondaryColour: '#222',
        tertiaryColour: '#222'
      }"></ngx-loading>

    <div class="base-modal-content" style="min-height: 90vh">
        <div class="card-header base-modal-header flex">
            <div class="row" *ngIf="!loading">
                <div class="col text-left">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
                <button type="button" (click)="close()" class="close col text-right" data-dismiss="modal"
                    aria-label="Close">
                    <span id="call5" aria-hidden="true">&times;</span>
                </button>
                <div class="col-lg-12">
                    <h2 id="call1" *ngIf="!isEditing">Dados do Arquivo</h2>
                    <h2 id="call1" *ngIf="isEditing">Editar Arquivo</h2>
                </div>
                <br />
                <div style="margin-bottom: 10px" id="call2">
                    <app-buttons-custom [id]="arch?._id" (edit)="editArchive()" (delete)="open('focusFirst', arch._id)"
                        [permissionEdit]="permissionEdit" [permissionDelete]="permissionDelete"></app-buttons-custom>
                </div>
            </div>
        </div>

        <div class="card-body base-modal-body">
            <div class="row" *ngIf="!loading">
                <div class="tab-component" id="step2">
                    <ngb-tabset #tab (tabChange)="beforeChange($event)">
                        <ngb-tab title="Início" id="tab1">
                            <ng-template ngbTabContent>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        <ngb-accordion #acc="ngbAccordion" activeIds="custom-panel-1">
                                            <ngb-panel title="Índices" id="custom-panel-1">
                                                <ng-template ngbPanelHeader let-opened="opened">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="m-0">Índices</h5>
                                                        <button ngbPanelToggle class="btn btn-link p-0">
                                                            <i *ngIf="!opened" class="fa fa-arrow-down"
                                                                aria-hidden="true"></i>
                                                            <i *ngIf="opened" class="fa fa-arrow-up"
                                                                aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </ng-template>
                                                <ng-template ngbPanelContent>
                                                    <div class="card-body p-1" id="calling">
                                                        <span #myComponent>
                                                            <app-form-index [data]="archive" [isArchive]="true"
                                                                [edit]="isEditing" [canSave]="permissionConfirm"
                                                                (sendArchive)="updateArchive($event)"></app-form-index>
                                                        </span>
                                                    </div>
                                                </ng-template>
                                            </ngb-panel>

                                            <ngb-panel title="Dados do Volume" id="custom-panel-2">
                                                <ng-template ngbPanelHeader let-opened="opened">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="m-0">Dados do Volume</h5>
                                                        <button ngbPanelToggle class="btn btn-link p-0">
                                                            <i *ngIf="!opened" class="fa fa-arrow-down"
                                                                aria-hidden="true"></i>
                                                            <i *ngIf="opened" class="fa fa-arrow-up"
                                                                aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </ng-template>
                                                <ng-template ngbPanelContent>
                                                    <ul>
                                                        <li class="mb-1">
                                                            <strong class="m-0">EMPRESA: </strong>
                                                            <a>{{ arch.company.name }} </a>
                                                        </li>
                                                        <li class="mb-1">
                                                            <strong class="m-0">DEPARTAMENTO: </strong>
                                                            <a>{{ arch.departament.name }} </a>
                                                        </li>
                                                        <li class="mb-1">
                                                            <strong class="m-0">DOCUMENTO: </strong>
                                                            <a>{{ arch.doct.name }} </a>
                                                        </li>
                                                        <li class="mb-1">
                                                            <strong class="m-0">DEPÓSITO: </strong>
                                                            <a>{{ arch.storehouse.name }} </a>
                                                        </li>
                                                        <li class="mb-1">
                                                            <strong class="m-0">POSIÇÃO: </strong>
                                                            <a>{{ arch.volume.location }} </a>
                                                        </li>
                                                    </ul>
                                                </ng-template>
                                            </ngb-panel>

                                            <ngb-panel title="Temporalidade" id="custom-panel-3">
                                                <ng-template ngbPanelHeader let-opened="opened">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="m-0">Temporalidade</h5>
                                                        <button ngbPanelToggle class="btn btn-link p-0">
                                                            <i *ngIf="!opened" class="fa fa-arrow-down"
                                                                aria-hidden="true"></i>
                                                            <i *ngIf="opened" class="fa fa-arrow-up"
                                                                aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </ng-template>
                                                <ng-template ngbPanelContent>
                                                    <ul>
                                                        <li class="mb-1">
                                                            <strong *ngIf="archive?.startDateCurrent" class="m-0">Início
                                                                da Fase
                                                                Corrente: </strong>
                                                            <strong
                                                                *ngIf="!archive?.startDateCurrent && archive.doct.currentControl === false"
                                                                class="m-0">Fase Corrente: </strong>

                                                            <a *ngIf="startCurrentDate && archive?.doct.currentControl === false
                                                                && !archive?.startDateCurrent">Não Controlada</a>

                                                            <a *ngIf="!archive?.startDateCurrent">
                                                                {{ archive.doct.dcurrentLabel }}
                                                            </a>

                                                            <a *ngIf="archive?.startDateCurrent">
                                                                {{ returnDate(archive.startDateCurrent) }}
                                                            </a>
                                                        </li>

                                                        <li class="mb-1">
                                                            <strong *ngIf="archive?.startDateCurrent" class="m-0">Início
                                                                da Fase
                                                                Intermediária: </strong>
                                                            <strong *ngIf="!archive?.startDateCurrent"
                                                                class="m-0">Intermediária: </strong>

                                                            <a *ngIf="!archive?.startDateCurrent">
                                                                {{ archive.doct.dintermediateValue }} Anos
                                                            </a>

                                                            <a *ngIf="archive?.startDateIntermediate">
                                                                {{ returnDate(archive.startDateIntermediate) }}
                                                            </a>

                                                            <a
                                                                *ngIf="!archive?.startDateIntermediate && archive?.startDateCurrent">
                                                                {{ returnDate(archive.finalDateCurrent) }}
                                                            </a>
                                                        </li>

                                                        <li class="mb-1">
                                                            <strong class="m-0">Destinação Final: </strong>
                                                            <a *ngIf="archive?.finalFase">
                                                                {{ archive.finalFase }}
                                                            </a>
                                                            <a *ngIf="!archive?.startDateCurrent">
                                                                {{ archive.doct.dfinal }}
                                                            </a>
                                                        </li>

                                                        <li *ngIf="archive?.finalDateIntermediate" class="mb-1">
                                                            <strong class="m-0">Início da Destinação Final: </strong>
                                                            <a>{{ returnDate(archive.finalDateIntermediate) }}</a>
                                                        </li>
                                                    </ul>

                                                    <hr class="m-1">
                                                    <div class="dataBtn"
                                                        *ngIf="startCurrentDate && archive?.doct.currentControl === true">
                                                        <h6>Ajuste de Temporalidade </h6>
                                                        <input type="date" class="form-control"
                                                            [(ngModel)]="inputStartCurrentDate" />
                                                        <button *ngIf="archive && archive.doct.currentControl === true"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="setStartCurrentDate()" style="margin-top: 5px;">
                                                            Final Corrente
                                                        </button>
                                                    </div>

                                                </ng-template>
                                            </ngb-panel>
                                        </ngb-accordion>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group col-lg-7 col-sm-12" id="call3" *ngIf="select !== 1">
                                            <form [formGroup]="uploadFile" (ngSubmit)="submit()">
                                                <app-form-upload formControlName="file" [archive]="file"
                                                    (postFile)="postFile($event)" [savedFile]="savedFile"
                                                    (deleteFile)="open('focusFirst', file._id)" [height]="pdfHeight">
                                                </app-form-upload>
                                            </form>
                                            <app-modal-progress-right-bottom [progress]="uploadResponse"
                                                [error]="errorUpload">
                                            </app-modal-progress-right-bottom>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <br />
                                        <div class="col-12" id="call4">
                                            <div style="font-size: 12px; text-align: left;">
                                                {{ archive.sponsor.name }}<br />
                                                {{ archive.sponsor.cnpj }}<br />
                                                Indexado por: {{ archive.author.email }}<br />
                                                Data da indexação: {{ returnDateCreate(archive.create) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="Solicitar Correções" id="tab2">
                            <ng-template ngbTabContent>
                                <form [formGroup]="requestForm">
                                    <div class="card-body p-1 row" style="margin-top: 20px">
                                        <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-lg-12 text-center" *ngIf="pending">
                                                    <button class="btn text-center btn-outline-danger"
                                                        (click)="FimRequest()">
                                                        Finalizar
                                                    </button>
                                                </div>
                                                <div class="col-lg-12 form-check" *ngIf="!pending">
                                                    <!-- <label class="ml-3 mb-0 mr-2" for="requestType">Solicitar Correções: </label> -->
                                                    <div class="pretty p-switch p-fill">
                                                        <input class="form-check-input" type="radio" name="requestType"
                                                            formControlName="requestType" value="CORRECAO_IMAGEM"
                                                            id="requestType1"
                                                            onclick="if(document.getElementById('enviar').disabled==true){document.getElementById('enviar').disabled=false}" />
                                                        <div class="state" for="requestType1">
                                                            <label>
                                                                Correção de Imagem
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="pretty p-switch p-fill">
                                                        <input class="form-check-input" type="radio" name="requestType"
                                                            formControlName="requestType" value="CORRECAO_INDICE"
                                                            id="requestType2"
                                                            onclick="if(document.getElementById('enviar').disabled==true){document.getElementById('enviar').disabled=false}" />
                                                        <div class="state" for="requestType2">
                                                            <label>
                                                                Correção de Índice
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <br />

                                                    <div class="pretty p-switch p-fill">
                                                        <input class="form-check-input" type="radio" name="requestType"
                                                            formControlName="requestType" value="EMPRESTIMO"
                                                            id="requestType3"
                                                            onclick="if(document.getElementById('enviar').disabled==true){document.getElementById('enviar').disabled=false}" />
                                                        <div class="state" for="requestType3">
                                                            <label>
                                                                Empréstimo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="!pending">
                                                <div class="col-lg-12 pl-4">
                                                    <div class="form-floating">
                                                        <textarea class="form-control" name="notes"
                                                            formControlName="notes" placeholder="Observações:"
                                                            id="notes"
                                                            style="height: 15%; width: 100%; border-radius: 20px; margin-top: 10px;"></textarea>
                                                        <label for="notes"></label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 mt-5 text-center">
                                                    <button (click)="sendRequest()" type="button" name="enviar"
                                                        id="enviar" class="btn btn-sm dark-btn enviar"
                                                        disabled="disabled">Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="form-group col-lg-7 col-sm-12" id="call3" *ngIf="select !== 1">
                                                <form [formGroup]="uploadFile" (ngSubmit)="submit()">
                                                    <app-form-upload formControlName="file" [archive]="file"
                                                        (postFile)="postFile($event)" [savedFile]="savedFile"
                                                        (deleteFile)="open('focusFirst', file._id)"
                                                        [height]="pdfHeight">
                                                    </app-form-upload>
                                                </form>
                                                <app-modal-progress-right-bottom [progress]="uploadResponse"
                                                    [error]="errorUpload">
                                                </app-modal-progress-right-bottom>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="Pesquisa de Volumes" id="tab3">
                            <ng-template ngbTabContent>
                                <div class="card-body p-1 mt-1">
                                    <div class="form-row">
                                        <form [formGroup]="newSeachrForm">
                                            <div class="form-group col-lg-3 col-sm-12">
                                                <label for="typeahead-basic">Empresa</label>
                                                <input id="typeahead-basic" type="text" disabled [value]="companyName"
                                                    class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3 col-sm-12">
                                                <label for="typeahead-basic">Departamento</label>
                                                <input id="typeahead-basic" type="text" [value]="deptName" disabled
                                                    class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3 col-sm-12">
                                                <label for="location">Posição</label>
                                                <input type="text" class="form-control" placeholder="Informe a Posição"
                                                    formControlName="location" />
                                            </div>
                                            <div class="form-group col-lg-3 col-sm-12">
                                                <label for="typeahead-basic">Depósito</label>
                                                <select placeholder="teste" class="form-control" id="exampleFormControlSelect1"
                                                    formControlName="storehouse">
                                                    <option *ngFor="let item of storehouses" [value]="item._id">
                                                        {{item.name}}</option>
                                                </select>
                                                
                                                <!-- <input id="typeahead-basic" type="text" placeholder="Nome do Depósito" class="form-control"
                                                    formControlName="storehouse" [resultTemplate]="rtStorehouse"
                                                    [inputFormatter]="formatter" [ngbTypeahead]="searchStorehouse"
                                                    #instanceStorehouse="ngbTypeahead"
                                                    (focus)="focusStorehouse$.next($any($event).target.value)"
                                                    (click)="clickStorehouse$.next($any($event).target.value)" /> -->
                                            </div>
                                            <ng-template #rtStorehouse let-r="result" let-t="storehouse"
                                                class="custom-typeahead">
                                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                            </ng-template>
                                        </form>
                                    </div>
                                    <div class="form-row btnsStyles">
                                        <button class="btn btn-primary" (click)="searchPosition()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <button type="button" class="btn btn-default ml-1" (click)="clear()">
                                            Limpar Campos
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-xl-12 col-lg-12">
                                        <ngx-datatable class="bootstrap" [rows]="locations.items" [columnMode]="'force'"
                                            [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                                            [externalPaging]="true" [count]="page.totalElements"
                                            [offset]="page.pageNumber" [limit]="10" (page)='setPage($event)'>
                                            <ngx-datatable-column name="Empres" prop="company.name" [width]=350>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Departamento" prop="departament.name"
                                                [width]=350>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Depósito" prop="storehouse.name" [width]=300>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Posição" prop="location" [width]=135>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>
                </div>
            </div>
        </div>

        <div *ngIf="isEditing" class="modal-footer">
            <div class="pull-right" id="call6">
                <button [disabled]="!permissionCancel" type="button" (click)="cancelEdit()" class="btn btn-danger"
                    style="margin-right:10px">Cancelar</button>
            </div>
        </div>

    </div>
</div>