@import "~pretty-checkbox/src/pretty-checkbox.scss";
@import '~@mdi/font/css/materialdesignicons.css';

.row {
    width: 100%;
}
.text-left {
    margin-left: 10x;
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
strong{
    margin-left: 20px;
}
label{
    margin-left: 22px;
}
h5{
    margin-left: 20px;
}
h2 {
//   margin-left: 20px;
  white-space: normal;
}
h6{
    font-weight: bold;
}
.form-control{
    // width: 100%;
    border-radius: 50px;
}

.form-group {
    display: inline-block;
}

.dataBtn{
    margin-left: 22px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
// .base-modal-body {
//     height: 50vh;
//     align-items: space-between;
// }

::ng-deep .customModal .modal-dialog {
    vertical-align: middle;
    max-width: 95%;
    width: auto;
    height: auto;
    min-height: 80vh;
}

::ng-deep .customModal .modal-footer:not(:last-child):not(:first-child) {
    margin-right: 0.25rem;
}

::ng-deep .customModal .modal-content {
    margin-top: 0%;
}

::ng-deep .modal-header .close {
    background-color: #ff0000;
}

:ng-deep .customModal .accordion {

    button {
        padding: 1.2rem;
        width: 100%;
  
        span {
            float: left;
            font-size: 1.2rem;
        }
    }
  }

.tab-component {
    height: 70vh; 
    overflow-y: auto;

    @media screen and (max-width: 991px) {
        height: auto; 
        overflow-y: hidden;
        margin-bottom: 20px;
    }    
}


.row {
    margin-left: 0px !important;
}

@media screen and (max-width: 575px) {
    ::ng-deep .customModal .modal-dialog {
        max-width: 100%;
        width: 100%;
        padding: 30px 40px 30px 30px;

    }
}

@media screen and (max-width: 350px) {
    h2 {
       margin-left: 10px;
       font-size: 25px;
    }
}
