@import '~@mdi/font/css/materialdesignicons.css';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

.list-group-item{
    border-radius: 5px;
}

::ng-deep .my-class .modal-dialog {
    top: -400px;
}

.bootstrap-dark .list-group-item-action{
    background-color: brown;
}
:host-context(.bootstrap-dark) {
    small{
        color: white;
    }
    .visualized{
        color: rgba(122, 121, 121, 0.603);
    }
}
