<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-5">
                        <div class="card-body p-4 p-sm-5">
                            <div class="logo text-center mb-5 mt-2">
                                <img src="assets/images/logo.png" width="250px" />
                            </div>
                            <form [formGroup]="loginForm" (ngSubmit)="onLoggedin()" role="FormGroup">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control input-sm" id="floatingInput"
                                        placeholder="name@example.com" formControlName="email">
                                    <label for="floatingInput">
                                        {{ 'Email' | translate }}
                                    </label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword"
                                        placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                        {{ 'Log in' | translate }}
                                    </button>
                                </div>
                                <hr class="my-4">
                                <div class="d-grid mb-2">
                                    <button type="button" [routerLink]="['/forgot-password']"
                                        class="btn btn-sm btn-link text-white">{{ 'Forgot password'
                                        | translate }}
                                    </button>
                                </div>
                                <div class="d-grid mb-2">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4" style="margin-top: 10%">
            <form [formGroup]="loginForm" (ngSubmit)="onLoggedin()" role="FormGroup">
                <div class="card">
                    <div class="logo text-center mb-5 mt-2">
                        <img src="assets/images/logo.png" width="250px" />
                    </div>
                    <div class="form-content">
                        <div class="row">

                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="email" class="form-control input-underline input-sm"
                                id="" placeholder="{{ 'Email' | translate }}" />
                        </div>

                        <div class="form-group">
                            <input type="password" formControlName="password"
                                class="form-control input-underline input-sm" id=""
                                placeholder="{{ 'Password' | translate }}" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">{{ 'Log in' | translate }}</button>

                    <button type="button" [routerLink]="['/forgot-password']" class="btn btn-sm btn-link"
                        style="color: white !important">{{ 'Forgot password' | translate }}</button>
                </div>
            </form>
        </div> -->
    </div>
</div>
<!-- <div class="login-page" [@routerTransition]>
    <div class="container  align-items-center w-100">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                    <img src="assets/images/logo.png" width="250px" />
                            </div>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onLoggedin()" role="FormGroup">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" formControlName="email">
                                <label for="floatingInput">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control input-sm" id="floatingPassword"
                                    placeholder="Password" formControlName="password">
                                <label for="floatingPassword">{{ 'Password' | translate }}</label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-dark btn-login text-uppercase fw-bold" type="submit">
                                    {{ 'Log in' | translate }}
                                </button>
                            </div>
                            <hr>
                            <div class="d-grid">
                                <button type="button" [routerLink]="['/forgot-password']" class="btn btn-sm btn-link text-white">
                                    {{ 'Forgot password' | translate }}
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> -->
