:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #222;
    background: linear-gradient(to right, #222, #444);
    text-align: center;
    padding: 3em;
    .card {
        max-width: 800px;
        max-height: 500px;
        background: #222;
    }
    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }
    .input-underline {
        background: 0 0;
        border: 2px solid;
        // border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 20px;
    }
    // .input-underline:focus {
    //     border-bottom: 2px solid #fff;
    //     box-shadow: none;
    // }
}

// .login-page {
//     background: #222;
//     background: linear-gradient(to right, #222, #333);
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     overflow: auto;
//     text-align: center;
//     padding: 3em;
// }
// .myform {
//     position: relative;
//     display: -ms-flexbox;
//     display: flex;
//     padding: 1rem;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     width: 100%;
//     pointer-events: auto;
//     background-color: #222;
//     background-clip: padding-box;
//     border: 1px solid rgba(0, 0, 0, 0.2);
//     border-radius: 1.1rem;
//     outline: 0;
//     max-width: 500px;
// }
