@import "~@mdi/font/css/materialdesignicons.css";

body {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    background: linear-gradient(to right, #222, #333);
    .card {
        background: #222;
        background: linear-gradient(to right, #222, #222);
    }
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

// .emailForPhone {
//     display: none;
// }

// @media screen and (max-width: 500px) {
//     .emailForPhone {
//         display: block;
//     }
// }
// .emailForPC {
//     display: block;
// }

// @media screen and (max-width: 500px) {
//     .emailForPC {
//         display: none;
//     }
// }

// .passForPhone {
//     display: none;
// }

// @media screen and (max-width: 500px) {
//     .passForPhone {
//         display: block;
//     }
// }
// .passForPC {
//     display: block;
// }

@media screen and (max-width: 500px) {
    .passForPC {
        display: none;
    }
}
