<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true,
    primaryColour: '#222',
    secondaryColour: '#222',
    tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card bg-light">
        <div class="card-header">
            <h2>Dados do Documento</h2>
            <!-- <app-page-header *ngIf="!loading" [heading]="'Dados Documento'" [icon]="'fa-book'"></app-page-header> -->
            <div *ngIf="!loading">
                <app-button-back [redirectTo]="'documents'"></app-button-back>
                <app-buttons-custom [id]="document._id" (edit)="editDocument(document._id)"
                    (delete)="open('focusFirst', document._id)" [permissionEdit]="permissionEdit"
                    [permissionDelete]="permissionDelete">
                </app-buttons-custom>
                <br />
            </div>
        </div>
        <div class="card-body" *ngIf="!loading">
            <form [formGroup]="documentForm" role="FormGroup">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="typeahead-basic">Empresa</label>
                            <input id="typeahead-basic" type="text" class="form-control" formControlName="company"
                                [resultTemplate]="rtCompany" [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                                [ngClass]="{ 'is-invalid': !companyIpt.valid && !companyIpt.disabled }" />
                            <div *ngIf="companyIpt.invalid && (companyIpt.dirty || companyIpt.touched)"
                                class="invalid-feedback">
                                <div *ngIf="!companyIpt.valid">
                                    Empresa é obrigatória.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Nome</label>
                            <input id="name" type="text" placeholder="Nome" class="form-control"
                                formControlName="name" />
                        </div>

                        <div class="form-group">
                            <label for="">Criado em</label>
                            <input id="dateCreated" type="text" placeholder="Criado em" class="form-control"
                                formControlName="dateCreated" />
                        </div>

                        <div class="card bg-light mb-12">
                            <div class="card-header">
                                Fases
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group" *ngIf="document.currentControl === true">
                                            <label for="labelDcurrentValue">Fase Corrente</label>
                                            <input id="dcurrentLabel" type="text" placeholder="Texto"
                                                class="form-control" formControlName="dcurrentLabel" />
                                            <input id="dcurrentValue" type="number" placeholder="Fase Corrente"
                                                class="form-control" formControlName="dcurrentValue" />
                                        </div>
                                        <div class="pretty p-switch p-fill">
                                            <input type="checkbox" formControlName="currentControl" value="" />
                                            <div class="state">
                                                <label>
                                                    Controlar Fase Corrente
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="labelDintermediateValue">Fase Intermédiaria</label>
                                            <input id="dintermediateValue" type="number"
                                                placeholder="Fase Intermédiaria" class="form-control"
                                                formControlName="dintermediateValue" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="labelDfinal">Final</label>
                                            <input id="dfinal" type="text" placeholder="Final" class="form-control"
                                                formControlName="dfinal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-6">
                        <div class="form-group" formArrayName="label">
                            <label for="">Índices</label>
                            <div *ngFor="let label of labels.controls; index as i">
                                <div class="card bg-light mb-12" style="margin-bottom: 5px">
                                    <div class="card-body">
                                        <div [formGroupName]="i">
                                            <div class="form-group">
                                                <label for="">Nome do Índice</label>
                                                <input type="text" placeholder="Nome do Índice" class="form-control"
                                                    formControlName="namefield" />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Tipo de Índice</label>
                                                <select class="form-control" formControlName="typeField">
                                                    <option *ngFor="let typeFieldN of typeFieldList | enumToArray"
                                                        [value]="typeFieldN">
                                                        {{ typeFieldN | translate }}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="pretty p-switch p-fill">
                                                    <input type="checkbox" formControlName="uniq" value="" />
                                                    <div class="state">
                                                        <label>
                                                            Único
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="pretty p-switch p-fill">
                                                    <input type="checkbox" formControlName="timeControl" value="" />
                                                    <div class="state">
                                                        <label>
                                                            Temporalidade
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
            </form>
        </div>
    </div>
</div>
