<div [@routerTransition]>
    <ngx-loading
        [show]="loading"
        [config]="{
          backdropBorderRadius: '3px',
          fullScreenBackdrop: false,
          primaryColour: '#222',
          secondaryColour: '#222',
          tertiaryColour: '#222'
        }"
    ></ngx-loading>
  
    <div class="modal-body">
    
      <div class="row" *ngIf="!loading">
        <div style="margin-left: 90%;">
          
          <button
            type="button"
            class="close"
            aria-label="Close"
            style="margin-left: 5px;"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>

  
        </div>
      </div>
      <br />
  
      <div class="row" *ngIf="!loading">
        <div class="col-4">
  
          <!-- EDITAR ARQUIVO PRA DEPARTAMENTO -->
          <h5>UM CARD</h5>
          <div class="card bg-light mb-12">
            <div class="card-body">
              <div>
                <strong> EMPRESA: </strong> <br />
                <!-- <label> {{ archive.company.name }} </label> -->
              </div>
              <br />
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div>