<div [@routerTransition]>
    <app-page-header [heading]="'Volumes'" [icon]="'fa-table'" [btnNew]="'Novo Volume'" [routerTo]="'/volumes/new'"></app-page-header>
  <div class="row">
      <div class="col col-xl-12 col-lg-12">
          <app-datatables
            [data]="volumes"
            (setPage)="setPage($event)"
            [columns]="columns"
            (show)="getVolume($event)"
            (edit)="editVolume($event)"
            (delete)="open('focusFirst', $event)"
        ></app-datatables>
      </div>
  </div>
</div>
