@import "~@mdi/font/css/materialdesignicons.css";
@import "~pretty-checkbox/src/pretty-checkbox.scss";
.color-ATIVO {
    color: green;
}
.color-EMPRESTADO {
    color: yellow;
}
.color-BAIXADO {
    color: red;
}
input{
    border-radius: 50px;
}

::ng-deep .bootstrap-dark .mt-1, .bootstrap-dark .my-1 {
    margin-top: 2rem !important;
}
