<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
  <app-page-header [heading]="'Volumes'" [icon]="'fa-table'" [btnNew]="'Novo Volume'"
    [permissionBtnNew]="['DAENERYS', 'TYWIN']" [routerTo]="'/volumes/new'"></app-page-header>
  <ngb-accordion #acc="ngbAccordion" activeIds="volumes-0">
    <ngb-panel id="volumes-0">
      <ng-template ngbPanelTitle>
        <span> <i class="fa fa-filter" style="margin-right: 5px"></i> <b>Filtros</b></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <form [formGroup]="searchForm" (ngSubmit)="getVolumes()" role="FormGroup" class="form-inline">
          <div class="row col-12">
            <div class="form-group mb-2 col-3">
              <label for="typeahead-basic">Empresa</label>
              <input id="typeahead-basic" autoFocus="true" type="text" class="form-control" formControlName="company"
                [resultTemplate]="rtCompany" [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                [ngClass]="{ 'is-invalid': !company.valid }" style="width: 100%" />
                <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                  <div *ngIf="!company.valid">
                    Empresa é obrigatório.
                  </div>
                </div>
            </div>
            <div class="form-group mb-2 col-3">
              <label for="typeahead-basic">Departamento</label>
              <input id="typeahead-basic" autoFocus="true" type="text" class="form-control"
                formControlName="departament" [resultTemplate]="rtDepartament" [inputFormatter]="formatter"
                [ngbTypeahead]="searchDepartament" style="width: 100%" />
            </div>
            <div class="form-group mb-2 col-3">
              <label for="location">Posição</label>
              <input id="location" class="form-control col-12" formControlName="location" />
            </div>
            <div class="form-group mb-2 col-3">
              <label for="typeahead-basic">Depósito</label>
              <input id="typeahead-basic" autoFocus="true" type="text" class="form-control" formControlName="storehouse"
                [resultTemplate]="rtStorehouse" [inputFormatter]="formatter" [ngbTypeahead]="searchStorehouse"
                style="width: 100%" />
            </div>
          </div>
          <div class="row col-12">
            <div class="form-group mb-2 col-2">
              <label for="status">Status</label>
              <select class="form-control col-12" id="status" formControlName="status">
                <option *ngFor="let item of statusList | enumToArray" [value]="item">
                  {{ item }}</option>
              </select>
            </div>
            <div class="form-group mb-2 col-2">
              <label for="status">Tipo de Guarda</label>
              <select class="form-control col-12" id="guardType" formControlName="guardType">
                <option *ngFor="let guardT of guardTypeList | enumToArray" [value]="guardT">
                  {{ guardT | translate }}</option>
              </select>
            </div>
            <div class="form-group mb-2 col-2">
              <label for="reference">Referência</label>
              <input id="reference" class="form-control col-12" formControlName="reference" />
            </div>
            <div class="form-group mb-2 col-3">
              <label for="initDate">Data Inicial</label>
              <input id="initDate" type="date" class="form-control col-12" formControlName="initDate" />
            </div>

            <div class="form-group mb-2 col-3">
              <label for="endDate">Data Final</label>
              <input id="endDate" type="date" class="form-control col-12" formControlName="endDate" />
            </div>
          </div>

          <div class="row col-12" style="justify-content: center; margin-top: 10px;">
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-default" [disabled]="company.invalid">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>

          <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <ng-template #rtDepartament let-r="result" let-t="departament" class="custom-typeahead">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <ng-template #rtStorehouse let-r="result" let-t="storehouse" class="custom-typeahead">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <app-datatables [data]="volumes" (setPage)="setPageVolumes($event)" [columns]="columns" (show)="getVolume($event)">
      </app-datatables>
    </div>
  </div>
</div>