@import "~@mdi/font/css/materialdesignicons.css";
@import "~pretty-checkbox/src/pretty-checkbox.scss";
.color-ATIVO {
    color: green;
}
.color-EMPRESTADO {
    color: yellow;
}
.color-BAIXADO {
    color: red;
}
