/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/themes/material.css";
@import "~@swimlane/ngx-datatable/release/assets/icons.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.dropdown-menu {
    max-height: 10em;
    overflow-y: auto;
    border-radius: 10px;
    .dropdown-item{
        border-radius: 10px;
        padding: 3px;
    }
}

.card input {
    border-radius: 50px;
}

.card select{
    border-radius: 50px;
}

.card {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.ngx-datatable {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.card button {
    border-radius: 15px;
}
// body{
//     background-color: #222222;
// }
