@import "~@mdi/font/css/materialdesignicons.css"; /* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/themes/dark.css";
@import "~@swimlane/ngx-datatable/release/themes/bootstrap";
@import "~@swimlane/ngx-datatable/release/themes/material.css";
@import "~@swimlane/ngx-datatable/release/assets/icons.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
//White Theme
.bootstrap .dropdown-menu {
    max-height: 10em;
    overflow-y: auto;
    border-radius: 10px;
    .bootstrap .dropdown-item {
        border-radius: 10px;
        padding: 3px;
    }
}

.bootstrap .card input {
    border-radius: 50px;
}

.bootstrap .card select {
    border-radius: 50px;
}

.bootstrap .card {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.bootstrap .btn{
    border-radius: 50px;
}
.bootstrap .dark-btn{
    color: #fff;
    background-color: #3c4146;
    border-color: #3c4146;
}

//Dark Theme
.bootstrap-dark .dropdown-menu {
    max-height: 10em;
    overflow-y: auto;
    border-radius: 10px;
    .bootstrap-dark .dropdown-item {
        border-radius: 10px;
        padding: 3px;
    }
}

.bootstrap-dark .card input {
    border-radius: 50px;
}

.bootstrap-dark .card select {
    border-radius: 50px;
}

.bootstrap-dark .card {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.bootstrap-dark .btn{
    border-radius: 50px;
}

.bootstrap-dark .dark-btn{
    color: #ced4da;
    background-color: #1475d6;
    border-color: #1475d6;
}

.ngx-datatable{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

