@import "~@mdi/font/css/materialdesignicons.css"; /* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/themes/dark.css";
@import "~@swimlane/ngx-datatable/release/themes/bootstrap";
@import "~@swimlane/ngx-datatable/release/themes/material.css";
@import "~@swimlane/ngx-datatable/release/assets/icons.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
//White Theme
.dropdown-menu {
    max-height: 50em;
    overflow-y: auto;
    border-radius: 10px;
    .dropdown-item {
        border-radius: 10px;
        padding: 3px;
    }
}
:host-context(.bootstrap-dark) {
    .dropdown-menu {
        max-height: 50em;
        overflow-y: auto;
        border-radius: 10px;
        .dropdown-item {
            border-radius: 10px;
            padding: 3px;
        }
    }
}

.bootstrap .card input {
    border-radius: 50px;
}

.bootstrap .card select {
    border-radius: 50px;
}

.bootstrap .card {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.bootstrap .btn {
    border-radius: 50px;
}
.bootstrap .dark-btn {
    color: #fff;
    background-color: #3c4146;
    border-color: #3c4146;
}

.ngx-datatable.bootstrap .datatable-footer {
    background: #ffffff;
    color: #504f4f;
    margin-top: -1px;
    border-top: solid 1px;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
    color: #504f4f;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    background-color: rgb(165, 159, 159);
    font-weight: bold; }

//Dark Theme

.bootstrap-dark .dropdown-menu {
    max-height: 10em;
    overflow-y: auto;
    border-radius: 10px;
    .bootstrap-dark .dropdown-item {
        border-radius: 10px;
        padding: 3px;
    }
}

.bootstrap-dark .card input {
    border-radius: 50px;
}

.bootstrap-dark .card select {
    border-radius: 50px;
}

.bootstrap-dark .card {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.bootstrap-dark .btn {
    border-radius: 50px;
}
//Button Dark
.bootstrap-dark .dark-btn {
    color: #ced4da;
    background-color: #1475d6;
    border-color: #1475d6;
}
//DataTable Dark
.bootstrap-dark .ngx-datatable.bootstrap .datatable-footer {
    background: #424242;
    color: #f1f1f1;
    margin-top: -1px;
    border-top: solid 1px;
}
.bootstrap-dark .ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
    color: #ffffff;
}
.bootstrap-dark .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    background-color: #545454;
    font-weight: bold; }

.ngx-datatable.bootstrap {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.customTooltip * {
    color: #4a4a4a;
    font-size: 18px;
}
