<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-3">
                <a *ngIf="isArchivesSearch" [routerLink]="['/archives']" [routerLinkActive]="['router-link-active']">
                    <div class="card-content text-center text-dark">
                        <i class="fa fa-search fa-3x"></i>
                        <h4 class="card-title">PESQUISAR ARQUIVOS</h4>
                    </div>
                </a>
                <div class="card-footer text-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <!-- <button class="btn btn-secondary" (click)="divSubClass = !divSubClass" style="margin-right: 5px;">
                        <span [hidden]="!divSubClass">Expandir</span>
                        <span [hidden]="divSubClass">Ocultar</span>
                    </button> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-dark">
                <div class="card-content text-white">
                    <a id="seila" *ngIf="isVolumesSearch" [routerLink]="['/volumes']"
                        [routerLinkActive]="['router-link-active']">
                        <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                        <h4 class="card-title">PESQUISAR VOLUMES</h4>
                    </a>
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        <!-- <button class="btn btn-light" (click)="divSubClass = !divSubClass"
                            style="margin-right: 5px;">
                            <span [hidden]="!divSubClass">Expandir</span>
                            <span [hidden]="divSubClass">Ocultar</span>
                        </button> -->
                    </p>
                </div>
            </div>
        </div>

        <a *ngIf="isUsers" [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Usuários</h4>
                        <p class="card-text">Criação de Usuários</p>
                    </div>
                </div>
            </div>
        </a>

        <!-- <a
            *ngIf="permissionAdmin"
            [routerLink]="['/not-found']"
            [routerLinkActive]="['router-link-active']"
            class="col-sm-4"
        >
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Solicitantes de Documentos</h4>
                        <p class="card-text">
                            Criação de Usuários que solicitam documentação
                            Física
                        </p>
                    </div>
                </div>
            </div>
        </a> -->

        <a *ngIf="isStorehouses" [routerLink]="['/storehouses']" [routerLinkActive]="['router-link-active']"
            class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <i class="fa fa-home fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Depósitos</h4>
                        <p class="card-text">
                            Configurações e Criação de Depósitos
                        </p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="isCompanies" [routerLink]="['/companies']" [routerLinkActive]="['router-link-active']"
            class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <i class="fa fa-building fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Empresas</h4>
                        <p class="card-text">Empresas Cadastradas</p>
                    </div>
                </div>
            </div>
        </a>

        <!-- <a *ngIf="isVolumesSearch" [routerLink]="['/volumes']"
      [routerLinkActive]="['router-link-active']" class="col-sm-4">
      <div>
        <div class="card text-white bg-dark mb-3">
          <div class="card-header"><i class="fa fa-archive fa-4x" aria-hidden="true"></i></div>
          <div class="card-body">
            <h4 class="card-title">Volumes</h4>
            <p class="card-text">Configurações e Criação de Volumes</p>
          </div>
        </div>
      </div>
    </a> -->

        <a *ngIf="isDocuments" [routerLink]="['/documents']" [routerLinkActive]="['router-link-active']"
            class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <i class="fa fa-book fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Documentos</h4>
                        <p class="card-text">
                            Configurações e Criação de Documentos
                        </p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="isArchivesRegister" [routerLink]="['/archives']" [routerLinkActive]="['router-link-active']"
            class="col-sm-4">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    <i class="fa fa-wpforms fa-4x" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Registro de Arquivos</h4>
                    <p class="card-text">Indexação ou Catalogação</p>
                </div>
            </div>
        </a>

        <div *ngIf="isMoves" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    <i class="fa fa-truck fa-4x" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Movimentações</h4>
                    <p class="card-text">Emprestar Documentos Físicos</p>
                </div>
            </div>
        </div>
    </div>
</div>
