<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>

    <hr />
    <div class="row">
        <a *ngIf="permissionPesquisador || permissionAdmin" [routerLink]="['/archives']" [routerLinkActive]="['router-link-active']" class="col-sm-12">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><i class="fa fa-search fa-4x" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">PROCURAR</h4>
                        <p class="card-text">Pesquisa de Documentos</p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="permissionAdmin" [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><i class="fa fa-users fa-4x" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">Usuários</h4>
                        <p class="card-text">Criação de Usuários</p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="permissionAdmin" [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">Solicitantes de Documentos</h4>
                        <p class="card-text">Criação de Usuários que solicitam documentação Física</p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/storehouses']" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><i class="fa fa-home fa-4x" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">Armazéns</h4>
                        <p class="card-text">Configurações e Criação de Armazéns</p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/companies']" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><i class="fa fa-building fa-4x" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">Empresas</h4>
                        <p class="card-text">Empresas Cadastradas</p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/volumes']" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><i class="fa fa-archive fa-4x" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">Volumes</h4>
                        <p class="card-text">Configurações e Criação de Volumes</p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/documents']" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><i class="fa fa-book fa-4x" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">Documentos</h4>
                        <p class="card-text">Configurações e Criação de Documentos</p>
                    </div>
                </div>
            </div>
        </a>

        <a *ngIf="permissionAdmin || permissionArquivador" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><i class="fa fa-wpforms fa-4x" aria-hidden="true"></i></div>
                <div class="card-body">
                    <h4 class="card-title">Registro de Arquivos</h4>
                    <p class="card-text">Indexação ou Catalogação</p>
                </div>
            </div>
        </a>

        <div *ngIf="permissionAdmin" [routerLinkActive]="['router-link-active']" class="col-sm-4">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><i class="fa fa-truck fa-4x" aria-hidden="true"></i></div>
                <div class="card-body">
                    <h4 class="card-title">Movimentações</h4>
                    <p class="card-text">Emprestar Documentos Físicos</p>
                </div>
            </div>
        </div>
    </div>
</div>
