<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
  <app-page-header [heading]="'Documentos'" [icon]="'fa-table'" [btnNew]="'Novo Documento'"
    [routerTo]="'/documents/new'" [permissionBtnNew]="['DAENERYS', 'TYWIN']"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span> <i class="fa fa-filter" style="margin-right: 5px"></i> <b>Filtros</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <form [formGroup]="searchForm" (ngSubmit)="getDocuments()" role="FormGroup" class="form-inline">
              <div class="row col-12">
                <div class="form-group mb-2 col-3">
                  <label for="typeahead-basic">Empresa</label>
                  <input id="typeahead-basic" autoFocus="true" type="text" class="form-control"
                    formControlName="company" [resultTemplate]="rtCompany" [inputFormatter]="formatter"
                    [ngbTypeahead]="searchCompany" style="width: 100%" />
                </div>
                <div class="form-group mb-2 col-3">
                  <label for="labelName">Nome</label>
                  <input id="name" autoFocus="true" type="text" class="form-control" formControlName="name"
                    style="width: 100%" />
                </div>
                <div class="form-group mb-2 col-4" style="padding-top: 3%;">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
              <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
              </ng-template>
            </form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <br />
      <app-datatables [data]="documents" (setPage)="setPage($event)" [columns]="columns" (show)="getDocument($event)">
      </app-datatables>
    </div>
  </div>
</div>