<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card  mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-12 mt-0 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
            <div class="row" id="step1">
                <app-page-header [heading]="'Documentos'" [modalNew]="true"  [icon]="'fa-table'" [btnNew]="'Novo Documento'"
                    (click)="getDocument($event)" [permissionBtnNew]="permissionNew">
                </app-page-header>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="getDocuments()" role="FormGroup" class="form">
                <div class="row" id="step2">
                    <div class="form-group mb-2 col-lg-6">
                        <label for="typeahead-focus">Empresa</label>
                        <input id="typeahead-focus" autoFocus="true" type="text" placeholder="Nome da Empresa"
                            class="form-control typehead" formControlName="company" [resultTemplate]="rtCompany"
                            [inputFormatter]="formatter" [ngbTypeahead]="searchCompany" style="width: 100%"
                            [ngClass]="{ 'is-invalid': company.invalid && company.touched }"
                            #instanceCompany="ngbTypeahead" (focus)="focusCompany$.next($any($event).target.value)"
                            (click)="clickCompany$.next($any($event).target.value)" />
                        <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                            <div *ngIf="!company.valid">
                                Empresa é obrigatório.
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2 col-lg-6">
                        <label for="labelName">Nome</label>
                        <input id="name" autoFocus="true" type="text" placeholder="Nome do Documento"
                            class="form-control" formControlName="name" style="width: 100%" />
                    </div>
                    <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                </div>
                <div class="row" id="step3">
                    <div class="col-lg-12 text-center mt-1" >
                        <div class="form-group">
                            <button type="button" [disabled]="company.invalid"
                                class="btn btn-dark" (click)="clear()">
                                Limpar Campos
                            </button>
                            <button type="submit" [disabled]="company.invalid" style="margin-left: 5px;"
                             class="btn btn-primary">
                                <i class="fa fa-search"></i>
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12" id="step4">
            <!-- <app-datatables [data]="documents" (setPage)="setPageDocuments($event)" [columns]="columns"
                (show)="getDocument($event)">
            </app-datatables> -->

            <ngx-datatable #myTable class="bootstrap" [rows]="documents.items" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"
                [offset]="page.pageNumber - 1" [columns]="columns" [limit]="10" (page)="setPageDocuments($event)"
                [scrollbarH]="true" (activate)="getDocument($event)">
                <!-- <ngx-datatable-column name="Actions" prop="name">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                        let-row="row">
                        <button type="button" class="btn btn-outline-dark" (click)="getDocument(row, 'Antigo')">OpenPage</button>
                        <button type="button" class="btn btn-outline-success" (click)="getDocument(row, 'Novo')">OpenModal</button>
                    </ng-template>
                </ngx-datatable-column> -->
            </ngx-datatable>
        </div>
    </div>
</div>
<!-- (activate)="getDocument($event)" -->
