<div [@routerTransition]>
    <ngx-loading
        [show]="loading"
        [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"
    ></ngx-loading>
    <app-page-header
        [heading]="'Documentos'"
        [icon]="'fa-table'"
        [btnNew]="'Novo Documento'"
        [routerTo]="'/documents/new'"
        [permissionBtnNew]="['DAENERYS', 'TYWIN']"
    ></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <app-datatables
                [data]="documents"
                (setPage)="setPage($event)"
                [columns]="columns"
                (show)="getDocument($event)"
            ></app-datatables>
        </div>
    </div>
</div>
