<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true,
    primaryColour: '#222',
    secondaryColour: '#222',
    tertiaryColour: '#222'}">
  </ngx-loading>
  <div class="card mb-3">
    <div class="card-header" id="step1">
      <app-page-header [heading]="'Certificados'" [modalNew]="true" [icon]="'fa-table'" [btnNew]="'Novo Certificado'"
        [permissionBtnNew]="permissionNew">
      </app-page-header>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="setPageCertificates(page)" role="FormGroup">
        <div class="row" id="step2">
          <div class="form-group mb-2 col-lg-7 col-sm-12">
            <label for="labelName">Nome do Certificado</label>
            <input id="labelCertificate" autoFocus="true" type="text" placeholder="Nome do Certificado"
              class="form-control" formControlName="labelCertificate" style="width: 100%" />
          </div>
        </div>
        <div class="row" id="step3">
          <div class="form-group mb-2 col-lg-12 col-sm-12 text-center">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search"></i>
            </button>
            <button type="submit" class="btn dark-btn" style="margin-left: 5px;" (click)="clear()">
              Limpar Campos
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <div id="step4">
    <ngx-datatable #myTable class="bootstrap" [rows]="certificates.items" [columnMode]="ColumnMode.force"
      [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true"
      [count]="page.totalElements" [offset]="page.pageNumber" [limit]="10" (page)='setPageCertificates($event)'>
      <ngx-datatable-column name="Nome do Pacote" prop="labelPackage"></ngx-datatable-column>
       <ngx-datatable-column name="Assinatura Digital" prop="signature">
              <ng-template let-value="value" ngx-datatable-cell-template>
                  <ng-container *ngIf="value == true">
                      <abbr title="Possui assinatura digital">
                          <i class="mdi mdi-draw-pen mdi-24px"></i>
                      </abbr>
                  </ng-container>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="OCR" prop="ocr">
              <ng-template let-value="value" ngx-datatable-cell-template>
                  <ng-container *ngIf="value === true">
                      <abbr title="Possui OCR">
                          <i class="mdi mdi-ocr mdi-24px"></i>
                      </abbr>
                  </ng-container>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Criado em" prop="dateCreated">
              <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | date: 'dd/MM/yyyy' }}
              </ng-template>
          </ngx-datatable-column>
    </ngx-datatable>
  </div> -->
</div>