<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
      backdropBorderRadius: '3px',
      fullScreenBackdrop: false,
      primaryColour: '#222',
      secondaryColour: '#222',
      tertiaryColour: '#222'
    }"></ngx-loading>

  <div class="base-modal-content" style="min-height: 90vh">
    <div class="card-header base-modal-header flex">
      <div class="row" *ngIf="!loading">
        <div class="col text-left">
          <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
        </div>
        <button type="button" (click)="close()" class="close col text-right" data-dismiss="modal" aria-label="Close">
          <span id="call5" aria-hidden="true">&times;</span>
        </button>
        <!-- <br> -->
        <div class="col-lg-12">
          <h2 id="call1">Dados do Certificado</h2>
        </div>

        <br />
        <div style="margin-bottom: 10px" id="call2">
          <app-buttons-custom [id]="listCertificate?._id" (delete)="open('focusFirst', listCertificate._id)"
            [permissionDelete]="permissionDelete"></app-buttons-custom>
        </div>
      </div>
    </div>

    <div class="card-body base-modal-body">
      <div class="col-lg-10">
        <strong class="m-0">Nome do certificado: </strong>
        <a>{{ listCertificate?.subscriber }} </a>
      </div>
      <div class="col-lg-10">
        <strong class="m-0">Nome do Arquivo: </strong>
        <a>{{ listCertificate?.fileName }} </a>
      </div>
    </div>
  </div>
</div>