<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
        backdropBorderRadius: '3px',
        fullScreenBackdrop: true,
        primaryColour: '#222',
        secondaryColour: '#222',
        tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-11">
                    <h2>Novo Departamento</h2>
                </div>
                <div class="col-lg-1 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
        </div>
        <div class="card-body bg-light">
            <form [formGroup]="departamentForm" role="FormGroup" (ngSubmit)="postDepartament()">
                <div class="form-content" id="step1">
                    <div class="form-group">
                        <label for="typeahead-basic">Empresa</label>
                        <input id="typeahead-basic" type="text" class="form-control" placeholder="Nome da Empresa"
                            formControlName="company" [resultTemplate]="rtCompany" [inputFormatter]="formatter"
                            [ngbTypeahead]="searchCompany" #instanceCompany="ngbTypeahead"
                            (focus)="focusCompany$.next($any($event).target.value)"
                            (click)="clickCompany$.next($any($event).target.value)"
                            [ngClass]="{ 'is-invalid': company.invalid && company.touched }" />
                        <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                            <div *ngIf="!company.valid">
                                Empresa é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Departamento</label>
                        <input type="text" placeholder="Nome do Departamento" class="form-control"
                            formControlName="name" [ngClass]="{ 'is-invalid': name.invalid && name.touched }" />
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                            <div *ngIf="!name.valid">
                                Departamento é obrigatório.
                            </div>
                        </div>
                    </div>

                    <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                </div>
                <div class="pull-right" id="step2">
                    <button type="button" [routerLink]="['/departaments']" class="btn btn-default"
                        style="margin-right:10px">Voltar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="company.invalid || name.invalid">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
