<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
          backdropBorderRadius: '3px',
          fullScreenBackdrop: true,
          primaryColour: '#222',
          secondaryColour: '#222',
          tertiaryColour: '#222'
      }"></ngx-loading>
  <app-page-header [heading]="'Dados do Departamento'" [icon]="'fa-user'"></app-page-header>
  <div style="margin-bottom: 10px">
      <app-button-back [redirectTo]="'departaments'"></app-button-back>
      <app-buttons-custom [id]="departament._id" (edit)="editDepartament(departament._id)" (delete)="open('focusFirst', departament._id)"
          [permissionEdit]="permissionEdit" [permissionDelete]="permissionDelete"></app-buttons-custom>
      <br />
  </div>
  <div class="card bg-light mb-12">
      <div class="card-body">
          <form [formGroup]="departamentForm" role="FormGroup" (ngSubmit)="updateDepartament()">
              <div class="form-content">
                  <div class="form-group">
                      <label for="typeahead-basic">Empresa</label>
                      <input id="typeahead-basic" type="text" class="form-control" formControlName="company"
                          [resultTemplate]="rtCompany" [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                          [ngClass]="{ 'is-invalid': !companyIpt.valid && !companyIpt.disabled }" />
                      <div *ngIf="companyIpt.invalid && (companyIpt.dirty || companyIpt.touched)"
                          class="invalid-feedback">
                          <div *ngIf="!companyIpt.valid">
                              Empresa é obrigatória.
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="input-name">Departamento</label>
                      <input type="text" class="form-control" formControlName="name" />
                      <div *ngIf="name.invalid && (name.dirty || name.touched)"
                          class="invalid-feedback">
                          <div *ngIf="!name.valid">
                            Departamento é obrigatória.
                          </div>
                      </div>
                  </div>

                  <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                  </ng-template>
              </div>
          </form>
      </div>
  </div>
</div>