<div [@routerTransition]>
    <ngx-loading
        [show]="loading"
        [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"
    ></ngx-loading>
    <app-page-header [heading]="'Usuários'" [icon]="'fa-table'" [btnNew]="'Novo Usuário'" [permissionBtnNew]="permissionNew" [routerTo]="'/users/new'"></app-page-header>
        <ngb-accordion #acc="ngbAccordion" activeIds="users-0">
          <ngb-panel id="users-0">
            <ng-template ngbPanelTitle>
              <span> <i class="fa fa-filter" style="margin-right: 5px"></i> <b>Filtros</b></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <form [formGroup]="searchForm" (ngSubmit)="getUsers()" role="FormGroup" class="form-inline">
                <div class="row col-12">
                  <div class="form-group mb-2 col-4">
                      <label for="labelName">Nome</label>
                      <input id="name" autoFocus="true" type="text" class="form-control" formControlName="name"
                        style="width: 100%" />
                  </div>
                  <div class="form-group mb-2 col-4">
                      <label for="labelEmail">E-mail</label>
                      <input id="email" autoFocus="true" type="text" class="form-control" formControlName="email"
                        style="width: 100%" />
                  </div>
                  <div class="form-group mb-2 col-4" style="padding-top: 3%;">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      <br />
      <app-datatables [data]="users" (setPage)="setPage($event)" (show)="getUser($event)" [columns]="columns"></app-datatables>
</div>
