<div [@routerTransition]>
    <ngx-loading
        [show]="loading"
        [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"
    ></ngx-loading>
    <app-page-header [heading]="'Usuários'" [icon]="'fa-table'" [btnNew]="'Novo Usuário'" [routerTo]="'/users/new'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <app-datatables [data]="users" (setPage)="setPage($event)" (show)="getUser($event)" [columns]="columns"></app-datatables>
        </div>
    </div>
</div>
