.light-blue-backdrop {
  background-color: #5cb3fd00;
}
.position {
  transform: translate(38%);
  display: flex !important;
  flex-direction: column-reverse;
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
#modal-style {
  top: 70%;
  left: 80%;
}

.modal-dialog {
  top: 70% !important;
  left: 80% !important;
}
.modal.fade .modal-dialog {
  top: 70%;
}