
::ng-deep .customMod .modal-dialog {
    position: fixed;
    max-width: 95%;
    width: 89%;
    height: 90%;
    bottom: 50%;
    left: 10%;

}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
