<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-11">
                    <h2>Dados do Depósito</h2>
                </div>
                <div class="col-lg-1 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
            <div class="row" id="step1">
                <div class="col-10">
                    <app-button-back [redirectTo]="'storehouses'"></app-button-back>
                </div>
                <div class="col-2 text-right">
                    <app-buttons-custom (edit)="editStoreHouse(storeHouse._id)" (delete)="open('focusFirst', storeHouse._id)"
                        [permissionEdit]="permissionEdit" [permissionDelete]="permissionDelete">
                    </app-buttons-custom>
                </div>
            </div>
            <!-- <app-page-header [id]="storeHouse._id" [heading]="'Dados do Depósito'" [icon]="'fa-house'">
            </app-page-header> -->
        </div>
        <div class="card-body">
            <ngb-tabset #tab>
                <ngb-tab title="Depósito" id="tab1">
                    <ng-template ngbTabContent>
                        <br />
                        <form [formGroup]="storeHouseForm" role="FormGroup">
                            <div class="form-content">
                                <div class="form-group">
                                    <label for="name">Nome</label>
                                    <input id="name" class="form-control" formControlName="name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="pretty p-switch p-fill">
                                    <input type="checkbox" formControlName="mapStorehouse" value="" />
                                    <div class="state">
                                        <label>
                                            Mapear Depósito
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm" display="none" *ngIf="storeHouse.mapStorehouse">
                                <app-pie-chart></app-pie-chart>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Pesquisar Posições" id="tab2" [disabled]="!storeHouse.mapStorehouse">
                    <ng-template ngbTabContent>
                        <br />
                        <form [formGroup]="storeHouseForm" (ngSubmit)="getPosicoes()" role="FormGroup">
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label for="typeahead-basic">Nome</label>
                                    <input id="typeahead-basic" type="text" class="form-control"
                                        formControlName="name" />
                                </div>
                                <div class="form-group col-sm">
                                    <label for="position">Posição</label>
                                    <input id="position" autoFocus="true" type="text" class="form-control"
                                        formControlName="position" style="width: 100%" placeholder="Nome do Depósito" />
                                </div>
                                <div class="form-check col-sm mt-4" style="margin-left: 2%">
                                    <div class="form-check">
                                        <div class="pretty p-switch p-fill">
                                            <input class="form-check-input" type="radio" id="flexRadioTrue"
                                                formControlName="used" [(ngModel)]="used" [value]="true" checked
                                                name="switch1" />
                                            <div class="state">
                                                <label class="form-check-label" for="flexRadioTrue">
                                                    Posição indisponível
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <div class="pretty p-switch p-fill">
                                            <input class="form-check-input" type="radio" id="flexRadioFalse"
                                                formControlName="used" [(ngModel)]="used" [value]="false" />
                                            <div class="state">
                                                <label class="form-check-label" for="flexRadioTrue">
                                                    Posição disponível
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 40%">
                                <div class="form-group col align-self-center">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" style="margin-left: 5px"
                                        (click)="clear()">
                                        Limpar Campos
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-lg-12 col-md-10">
                                <app-datatables [data]="positions" (setPage)="setPage($event)" [columns]="columns">
                                </app-datatables>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Mapa do Depósito" id="tab3" [disabled]="!storeHouse.mapStorehouse">
                    <ng-template ngbTabContent>
                        <br />
                        <div>
                            <app-bar-chart></app-bar-chart>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
