<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
    <app-page-header [id]="storeHouse._id" [heading]="'Dados do Armazém'" [icon]="'fa-house'"></app-page-header>
    <div style="margin-bottom: 10px">
        <app-button-back [redirectTo]="'storehouses'"></app-button-back>
        <app-buttons-custom (edit)="editStoreHouse(storeHouse._id)" (delete)="open('focusFirst', storeHouse._id)"
            [permissionEdit]="['DAENERYS']" [permissionDelete]="['DAENERYS']">
        </app-buttons-custom>
        <br />
    </div>
    <div class="card bg-light mb-12">
        <div class="card-body">
            <form [formGroup]="storeHouseForm" role="FormGroup" (ngSubmit)="updateStoreHouse()">
                <div class="form-content">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" class="form-control"
                            [ngClass]="{ 'is-invalid': !name.valid && name.value === '' }" formControlName="name" />
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                            <div *ngIf="!name.valid">
                                Nome é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>