<!-- /.cus-modal-wrap -->
<div class="block allModal">
  <div class="cus-modal right-bottom" id="right-bottom" role="dialog">
    <div class="cus-modal-dialog">
      <div class="cus-modal-content">
        <div class="cus-modal-body"> <a class="cus-close">×</a>
          <h5 class="modal-title">Upload Arquivo</h5>
          <br>
          <p>
            <ngb-progressbar type="{{returnColorProgress}}" [striped]="true" [animated]="true" [value]="progress.message">
              {{progress.message}}</ngb-progressbar>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>