<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
          backdropBorderRadius: '3px',
          fullScreenBackdrop: true,
          primaryColour: '#222',
          secondaryColour: '#222',
          tertiaryColour: '#222'
      }"></ngx-loading>
  <app-page-header [heading]="'Arquivos'" [icon]="'fa-user'"></app-page-header>
  <div style="margin-bottom: 10px">
    <app-button-back [redirectTo]="'moviments/get'" [id]="this.id"></app-button-back>
    <!-- <app-buttons-custom *ngIf="moviment" [id]="moviment._id" (edit)="editMoviment(moviment._id)"
      (delete)="open('focusFirst', moviment._id)" [permissionEdit]="false"
      [permissionDelete]="permissionDelete && !processed"></app-buttons-custom> -->
    <br />
  </div>
  <ngb-accordion #acc="ngbAccordion" activeIds="searcharchives-0">
    <ngb-panel id="searcharchives-0">
      <ng-template ngbPanelTitle>
        <span> <i class="fa fa-filter" style="margin-right: 5px"></i> <b>Filtros</b></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <form [formGroup]="searchForm" role="FormGroup" (submit)="getSearchArchives()">
          <div class="form-row">
            <div class="form-group col">
              <label for="typeahead-basic">Empresa</label>
              <input id="typeahead-basic" type="text" class="form-control" formControlName="company"
                [resultTemplate]="rtCompany" [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                [ngClass]="{ 'is-invalid': !companyIpt.valid && !companyIpt.disabled }" />
              <div *ngIf="companyIpt.invalid && (companyIpt.dirty || companyIpt.touched)" class="invalid-feedback">
                <div *ngIf="!companyIpt.valid">
                  Empresa é obrigatória.
                </div>
              </div>
            </div>
            <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>
            <div class="form-group col">
              <label for="typeahead-basic">Departamento</label>
              <input id="typeahead-basic" type="text" class="form-control" formControlName="departament"
                [resultTemplate]="rtDepartament" [inputFormatter]="formatter" [ngbTypeahead]="searchDepartament" />
            </div>
            <ng-template #rtDepartament let-r="result" let-t="departament" class="custom-typeahead">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>
            <div class="form-group col">
              <label for="location">Posição</label>
              <input type="text" class="form-control" formControlName="location" />
            </div>
            <div class="form-group col">
              <label for="typeahead-basic">Depósito</label>
              <input id="typeahead-basic" type="text" class="form-control" formControlName="storehouse"
                [resultTemplate]="rtStorehouse" [inputFormatter]="formatter" [ngbTypeahead]="searchStorehouse" />
            </div>
            <ng-template #rtStorehouse let-r="result" let-t="storehouse" class="custom-typeahead">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="typeahead-basic">Documento</label>
              <input id="typeahead-basic" type="text" class="form-control" formControlName="doct"
                [resultTemplate]="rtDoct" [inputFormatter]="formatter" [ngbTypeahead]="searchDoct" />
            </div>
            <ng-template #rtDoct let-r="result" let-t="document" class="custom-typeahead">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>
            <div class="form-group col">
              <label for="location">Índice</label>
              <input type="text" class="form-control" formControlName="search" />
            </div>
            <div class="col-3">
              <div class="form-group col">
                <label for="location">Data Inicial</label>
                <input type="text" class="form-control" type="date"  formControlName="initDate" />
              </div>
              <div class="form-group col">
                <label for="location">Data Final</label>
                <input type="text" class="form-control" type="date"  formControlName="endDate" />
              </div>
            </div>
          </div>
          <div class="form-row" style="display: flex;justify-content: center;">
            <button type="submit" class="btn btn-primary" [disabled]="companyIpt.invalid">
              <i class="fa fa-search"></i>
            </button>
            <button style="margin-left: 5px;margin-right: 5px;" type="button" class="btn btn-default" (click)="clear()">
              Limpar Campos
            </button>
            <button class="btn btn-success" (click)="include()">Incluir</button>
            <!-- <button class="btn btn-danger" (click)="remove()">Removerr</button> -->
          </div>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="row" *ngIf="archives.items.length > 0">
    <div class="col col-xl-12 col-lg-12">
      <ngx-datatable class="material striped" [rows]="archives.items" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"
        [offset]="page.pageNumber - 1" [limit]="page.size" (page)="setPageArchives($event)" [selected]="selected"
        [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)="onSelect($event)">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Departamento" prop="departament.name"></ngx-datatable-column>
        <ngx-datatable-column name="Movimentação Aberta" prop="demand.nr"></ngx-datatable-column>
        <ngx-datatable-column name="Posição" prop="volume.location"></ngx-datatable-column>
        <ngx-datatable-column name="Depósito" prop="storehouse.name"></ngx-datatable-column>
        <ngx-datatable-column name="Documento" prop="doct.name"></ngx-datatable-column>
        <ngx-datatable-column name="Indexação" prop="tag"></ngx-datatable-column>
        <ngx-datatable-column name="Criado em" prop="create">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | date: 'dd/MM/yyyy' }}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Suspensa" prop="indDemand">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value ? 'Sim' : 'Não' }}
          </ng-template>
        </ngx-datatable-column> -->
      </ngx-datatable>
    </div>
  </div>
</div>
