<div [@routerTransition]>
    <ngx-loading
        [show]="loading"
        [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"
    ></ngx-loading>
    <div class="row">
        <div class="col-sm-auto">
            <app-button-back [redirectTo]="'batches'"></app-button-back>
        </div>
        <div class="col-lg-11">
            <app-page-header
                [heading]="'Controle de Lote'"
                [icon]="'fa-table'"
            ></app-page-header>
        </div>
    </div>

    <div class="card bg-light mb-12">
        <div class="card-body">
            <ngb-tabset #tab>
                <ngb-tab title="Dados do Lote" id="tab1">
                    <ng-template ngbTabContent>
                        <br />
                        <div class="row">
                            <div class="col">
                                <div class="" id="dados" *ngIf="batch">
                                    <h5>Nr Lote - {{ batch.batchNr }}</h5>
                                    <p style="font-size: 12px">
                                        <b>EMPRESA</b>: {{ batch.company.name
                                        }}<br />
                                        <b>DOCUMENTO</b>: {{ batch.doct.name
                                        }}<br />
                                        <b>QUANTIDADE DE ARQUIVOS:</b>
                                        {{ page.totalElements }}
                                    </p>
                                    <p
                                        style="font-size: 12px"
                                        class="pull-left"
                                    >
                                        Criado em: {{ batch.dateCreated }}
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <h5 style="margin-bottom: 0px">
                                    Funcionalidades
                                </h5>
                                <div class="btns">
                                    <div *ngIf="batch">
                                        <button
                                            (click)="toIndex()"
                                            type="button"
                                            [disabled]="
                                                batchImages &&
                                                batchImages.length <= 0
                                            "
                                            class="btn btn-xs btn-success"
                                            style="margin-right: 5px"
                                        >
                                            Indexar Lote
                                        </button>
                                        <button
                                            type="button"
                                            [disabled]="
                                                batchImages &&
                                                batchImages.length <= 0
                                            "
                                            class="btn btn-xs btn-danger"
                                            (click)="deleteBatch()"
                                            style="margin-right: 5px"
                                        >
                                            Excluir Lote
                                        </button>
                                        <button
                                            type="button"
                                            [disabled]="
                                                batchImages &&
                                                batchImages.length <= 0
                                            "
                                            class="btn btn-xs btn-dark"
                                        >
                                            Excluir PDF
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h5 style="margin-top: 1px; margin-bottom: 0px">
                                    Importar Imagens
                                </h5>
                                <div class="import">
                                    <form
                                        class="form-control"
                                        [formGroup]="myForm"
                                        (ngSubmit)="submit()"
                                        id=""
                                    >
                                        <div
                                            class="form-group"
                                            id="btn-import"
                                            style="
                                                font-weight: bolder;
                                                margin-bottom: 2px;
                                            "
                                        >
                                            <input
                                                formControlName="file"
                                                id="file"
                                                type="file"
                                                multiple
                                                class="form-control"
                                                (change)="onFileChange($event)"
                                            />
                                        </div>
                                        <button
                                            class="btn btn-xs btn-primary"
                                            type="submit"
                                            style="margin-top: 0"
                                        >
                                            Importar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-lg-6 col-sm-12 col-xs-12">
                                            <form action="" class="form-control" style="border:none;border-radius:none">
                                                <div class="col">
                                                    <label for="">Thumbnail</label>
                                                    <div class="radio">
                                                        <label>
                                                            <input (click)="getBatchImages(null, 50)"
                                                                [disabled]="batchImages && batchImages.length <= 0" type="radio"
                                                                name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                            auto
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input (click)="getBatchImages(null, 2)"
                                                                [disabled]="batchImages && batchImages.length <= 0" type="radio"
                                                                name="optionsRadios" id="optionsRadios2" value="option2">
                                                            2
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="radio">
                                                        <label>
                                                            <input (click)="getBatchImages(null, 10)"
                                                                [disabled]="batchImages && batchImages.length <= 0" type="radio"
                                                                name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                                            10
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input (click)="getBatchImages(null, 20)"
                                                                [disabled]="batchImages && batchImages.length <= 0" type="radio"
                                                                name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                                            20
                                                        </label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> -->
                        <div class="col">
                            <div class="gallery">
                                <div
                                    style="
                                        margin: 15px;
                                        max-width: 150px;
                                        height: 195px;
                                    "
                                    *ngFor="let image of batchImages"
                                >
                                    <iframe
                                        *ngIf="pipes.isPdf(image.url)"
                                        src="https://storage.googleapis.com/archiobucket/ARCHIOFILES/PDFthumbnailMenor.png"
                                        style="border: none !important"
                                    >
                                    </iframe>

                                    <img
                                        *ngIf="!pipes.isPdf(image.url)"
                                        [src]="image.url"
                                        id="{{ image._id }}"
                                        class="img-thumbnail rounded"
                                        (click)="selectedImg($event)"
                                        [alt]="image.name"
                                        style="vertical-align: 0"
                                    />
                                    <p style="font-size: 10px">
                                        {{ image.name }}
                                    </p>
                                </div>
                            </div>
                            <br />
                            <div style="display: flex; justify-content: center">
                                <ngb-pagination
                                    (pageChange)="getBatchImages($event)"
                                    [maxSize]="5"
                                    [(page)]="page.pageNumber"
                                    [pageSize]="24"
                                    [collectionSize]="page.totalElements"
                                ></ngb-pagination>
                            </div>
                        </div>
                        <!-- /.cus-modal-wrap -->
                        <div class="block allModal">
                            <div
                                class="cus-modal right-bottom"
                                id="right-bottom"
                                role="dialog"
                                style="overflow-y: scroll"
                            >
                                <div class="cus-modal-dialog">
                                    <div class="cus-modal-content">
                                        <div class="header">
                                            <a
                                                class="cus-close"
                                                (click)="close()"
                                                >×</a
                                            >
                                            <h5>Upload Arquivos</h5>
                                        </div>
                                        <div
                                            class="cus-modal-body"
                                            style="font-size: 10px"
                                        >
                                            <br />
                                            <div
                                                *ngFor="
                                                    let progressInfo of progressInfos;
                                                    let i = index
                                                "
                                                class="mb-2"
                                            >
                                                <span>{{
                                                    progressInfo.fileName
                                                }}</span>
                                                <div
                                                    *ngIf="!progressInfo.error"
                                                    class="progress"
                                                >
                                                    <div
                                                        [class]="
                                                            progressInfo.class
                                                        "
                                                        role="progressbar"
                                                        attr.aria-valuenow="{{
                                                            progressInfo.value
                                                        }}"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                        [ngStyle]="{
                                                            width:
                                                                progressInfo.value +
                                                                '%'
                                                        }"
                                                    >
                                                        {{
                                                            progressInfo.value
                                                        }}%
                                                    </div>
                                                </div>
                                                <div
                                                    *ngIf="progressInfo.error"
                                                    style="
                                                        display: flex;
                                                        align-items: center;
                                                    "
                                                >
                                                    <div
                                                        class="progress"
                                                        style="width: 88%"
                                                    >
                                                        <div
                                                            [class]="
                                                                progressInfo.class
                                                            "
                                                            role="progressbar"
                                                            attr.aria-valuenow="{{
                                                                progressInfo.value
                                                            }}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"
                                                            [ngStyle]="{
                                                                width:
                                                                    progressInfo.value +
                                                                    '%'
                                                            }"
                                                        >
                                                            {{
                                                                progressInfo.value
                                                            }}%
                                                        </div>
                                                    </div>
                                                    <button
                                                        type="button"
                                                        class="
                                                            btn-xs btn-default
                                                        "
                                                        style="margin-left: 5px"
                                                        (click)="
                                                            reUpload(
                                                                progressInfo,
                                                                i
                                                            )
                                                        "
                                                    >
                                                        <i
                                                            class="
                                                                fa fa-refresh
                                                            "
                                                        ></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Dados da Planilha" id="tab2">
                    <ng-template ngbTabContent>
                        <br />
                        <form
                            [formGroup]="searchForm"
                            (ngSubmit)="setPage()"
                            role="FormGroup"
                        >
                            <div class="row">
                                <div class="form-group col-8">
                                    <label for="sheetname"
                                        >Nome da Planilha</label
                                    >
                                    <input
                                        id="sheetname"
                                        autoFocus="true"
                                        type="text"
                                        class="form-control"
                                        formControlName="sheetname"
                                        style="
                                            background-color: #fff;
                                            border: 1px solid #ced4da;
                                            padding: 0.375rem 0.75rem;
                                        "
                                    />
                                </div>
                                <div class="col-4">
                                    <h5
                                        style="
                                            margin-top: 1px;
                                            margin-bottom: 0px;
                                        "
                                    >
                                        Importar Planilha
                                    </h5>
                                    <div class="import">
                                        <form
                                            class="form-control"
                                            [formGroup]="myForm"
                                            (ngSubmit)="sub()"
                                            id=""
                                        >
                                            <div
                                                class="form-group"
                                                id="btn-import"
                                                style="
                                                    font-weight: bolder;
                                                    margin-bottom: 2px;
                                                "
                                            >
                                                <input
                                                type="file"
                                                class="form-control-file"
                                                id="exampleInputFile"
                                                multiple

                                                />
                                            </div>
                                            <button
                                                class="btn btn-xs btn-primary"
                                                type="submit"
                                                style="margin-top: 0"
                                            >
                                                Importar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6" style="text-align: center">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-default"
                                        style="margin-left: 5px"
                                        (click)="clear()"
                                    >
                                        Limpar Campo
                                    </button>
                                </div>
                                <br />
                            </div>
                        </form>

                        <div>
                            <br />
                            <ngx-datatable
                                #myTable
                                class="material"
                                [rows]="sheetnames"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [externalPaging]="true"
                                [count]="page2.totalElements"
                                [offset]="page2.pageNumber"
                                [limit]="10"
                                (page2)="setPage($event)"
                            >
                                <ngx-datatable-column
                                    name=""
                                    [width]="15"
                                    prop="sheetname"
                                >
                                    <ng-template
                                        let-value="value"
                                        ngx-datatable-cell-template
                                    >
                                        <i
                                            *ngIf="value"
                                            class="fa fa-file-excel-o"
                                            style="
                                                font-size: 30px;
                                                color: #0f6235;
                                            "
                                        ></i>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column
                                    name="Nome"
                                    [width]="200"
                                    prop="sheetname"
                                >
                                </ngx-datatable-column>
                                <ngx-datatable-column
                                    name="Criado em"
                                    [width]="150"
                                    prop="createAt"
                                >
                                    <ng-template
                                        let-value="value"
                                        ngx-datatable-cell-template
                                    >
                                        {{ value | date: "dd/MM/yyyy" }}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column
                                    name="Excluir da Planilha"
                                    [width]="200"
                                    prop="_id"
                                >
                                    <ng-template
                                        let-value="value"
                                        ngx-datatable-cell-template
                                    >
                                        <button
                                            class="btn btn-danger btn-sm"
                                            (click)="deleteSheet(value)"
                                        >
                                            Excluir
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
