
#dados{
    width: 350px;
}
.form-control{
    border: none;
    padding: 0;
    background-color: #F8F9FA;
}
.btns{
    width: 400px;
    margin-right: 5px;
}

.import{
    width: 400px;
}

.cus-modal{
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    background: rgba(255, 0, 0, 0);
}

.cus-modal.in {
    opacity: 1;
    z-index: 1;
}

.cus-modal-dialog {
    overflow-y: initial !important;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    max-width: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}

.cus-modal.in .cus-modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.cus-modal.left-top .cus-modal-dialog {
    left: 20px;
    right: auto;
    bottom: auto;
}

.cus-modal.left-bottom .cus-modal-dialog {
    left: 20px;
    right: auto;
    top: auto;
}

.cus-modal.right-top .cus-modal-dialog {
    left: auto;
    right: 20px;
    bottom: auto;
}

.cus-modal.right-bottom .cus-modal-dialog {
    left: auto;
    right: 20px;
    bottom: auto;
}

.cus-modal.center-bottom .cus-modal-dialog {
    left: 0;
    right: 0;
    top: auto;
}

.cus-modal.center-center .cus-modal-dialog {
    display: table;
    height: 100%;
    text-align: center;
}

.cus-modal.center-center .cus-modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

.cus-modal-content .cus-modal-body {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.4);
    height: 350px;
    overflow-y: auto;
}
    ::-webkit-scrollbar {
        width: 0px;
    }

.cus-close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.cus-close:focus,
.cus-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.cus-modal-open {
    overflow: hidden;
}
.header{
    position: fixed; width: 99%; background-color: white; padding: 0px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content:center;

}

.gallery div {
    flex-grow: 1;
    flex-basis: 150px;
    max-width: 300px;
    margin: 5px;
}

.gallery img {
    height: 100%;
    width: 100%;
}

.gallery iframe {
    height: 100%;
    width: 100%;
}
