<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>

    <div class="row">
        <div class="col-xl-4 col-lg-4">
            <app-page-header [heading]="'Controle de Lote'" [icon]="'fa-table'"></app-page-header>
            <h5>Dados do Lote</h5>
            <div class="card" *ngIf="batch">
                <h5>Nr Lote - {{ batch.batchNr }}</h5>
                <p style="font-size:12px">
                    <b>EMPRESA</b>: {{ batch.company.name }}<br>
                    <b>DOCUMENTO</b>: {{ batch.doct.name }}
                </p>
                <p style="font-size:12px" class="pull-right">
                    Criado em: {{ batch.dateCreated }}
                </p>
            </div>
            <h5>Funcionalidades</h5>

            <div class="card" *ngIf="batch">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12" style="justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: column;">
                        <button type="button" [disabled]="batchImages && batchImages.length <= 0"
                            class="btn btn-xs btn-danger" (click)="deleteBatch()">Excluir Lote</button>
                        <button type="button" [disabled]="batchImages && batchImages.length <= 0"
                            class="btn btn-xs btn-warning">Excluir Imagem</button>
                        <button type="button" [disabled]="batchImages && batchImages.length <= 0"
                            class="btn btn-xs btn-success">Indexar Lote</button>
                    </div>
                    <!-- <div class="col-lg-6 col-sm-12 col-xs-12">
                        <form action="" class="form-control" style="border:none;border-radius:none">
                            <div class="col">
                                <label for="">Thumbnail</label>
                                <div class="radio">
                                    <label>
                                        <input (click)="getBatchImages(null, 50)"
                                            [disabled]="batchImages && batchImages.length <= 0" type="radio"
                                            name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        auto
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input (click)="getBatchImages(null, 2)"
                                            [disabled]="batchImages && batchImages.length <= 0" type="radio"
                                            name="optionsRadios" id="optionsRadios2" value="option2">
                                        2
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="radio">
                                    <label>
                                        <input (click)="getBatchImages(null, 10)"
                                            [disabled]="batchImages && batchImages.length <= 0" type="radio"
                                            name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                        10
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input (click)="getBatchImages(null, 20)"
                                            [disabled]="batchImages && batchImages.length <= 0" type="radio"
                                            name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                        20
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
            <h5>Importar Imagens</h5>
            <div class="card">
                <form class="form-control" [formGroup]="myForm" (ngSubmit)="submit()">
                    <div class="form-group" style="font-weight: bolder;">
                        <input formControlName="file" id="file" type="file" multiple class="form-control"
                            (change)="onFileChange($event)">
                    </div>
                    <button class="btn btn-xs btn-primary" type="submit">Importar</button>
                </form>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8">

            <span *ngFor="let image of batchImages">
                <span style="margin:5px" *ngIf="pipes.isPdf(image.url)">
                    <iframe [src]="sanitizeUrl(image.url)"
                        style="width: 150px;height: 195px;border: none !important;"></iframe>
                </span>
                <span style="margin:5px">
                    <img *ngIf="!pipes.isPdf(image.url)" [src]="image.url" id="{{ image._id }}"
                        class="img-thumbnail rounded" (click)="selectedImg($event)" [alt]="image.name"
                        style="width: 150px !important;height: 195px!important;vertical-align: 0;">
                </span>
            </span>

            <ngb-pagination (pageChange)="getBatchImages($event)" [maxSize]="5" [(page)]="page.pageNumber"
                [pageSize]="50" [collectionSize]="page.totalElements"></ngb-pagination>
        </div>
        <!-- /.cus-modal-wrap -->
        <div class="block allModal">
            <div class="cus-modal right-bottom" id="right-bottom" role="dialog">
                <div class="cus-modal-dialog">
                    <div class="cus-modal-content">
                        <div class="cus-modal-body" style="font-size:10px"> <a class="cus-close"
                                (click)="clearUpload()">×</a>
                            <h5 class="modal-title">Upload Arquivos</h5>
                            <br>
                            <div *ngFor="let progressInfo of progressInfos" class="mb-2">
                                <span>{{ progressInfo.fileName }}</span>
                                <div class="progress">
                                    <div [class]="progressInfo.class" role="progressbar"
                                        attr.aria-valuenow="{{ progressInfo.value }}" aria-valuemin="0"
                                        aria-valuemax="100" [ngStyle]="{ width: progressInfo.value + '%' }">
                                        {{ progressInfo.value }}%
                                    </div>
                                </div>
                            </div>
                            <!-- <p>
              <ngb-progressbar type="{{returnColorProgress}}" [striped]="true" [animated]="true" [value]="progress.message">
                {{progress.message}}</ngb-progressbar>
            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8">
        </div>
    </div>
</div>