<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
        backdropBorderRadius: '3px',
        fullScreenBackdrop: true,
        primaryColour: '#222',
        secondaryColour: '#222',
        tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card bg-light">
        <div class="card-header">
            <h3>Dados do Usuário</h3>
            <div style="margin-bottom: 10px" *ngIf="user">
                <app-button-back (click)="goBack()"></app-button-back>
                <app-buttons-custom [id]="user._id" (edit)="editUser(user._id)" (delete)="open('focusFirst', user._id)"
                    [permissionEdit]="permissionEdit" [permissionDelete]="permissionDelete"></app-buttons-custom>
            </div>
        </div>
        <div class="card-body" *ngIf="user">
            <form [formGroup]="userForm" role="FormGroup">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group">
                            <label for="" style="margin-bottom: 0px;">Nome</label>
                            <input type="text" formControlName="name" class="form-control input-underline input-lg"
                                style="margin-bottom: 10px;" />
                            <label for="" style="margin-bottom: 0px;">E-mail</label>
                            <input type="text" formControlName="email" class="form-control input-underline input-lg"
                                style="margin-bottom: 10px;" />
                        </div>
                        <div class="form-group">
                            <label for="" style="margin-bottom: 0px;">Perfil do Usuário</label>
                            <select class="form-control" id="profile" formControlName="profile"
                                style="margin-bottom: 10px;">
                                <option *ngFor="let profile of profilesList" [value]="profile._id">
                                    {{ profile.profilePlaceHolder | translate }}
                                </option>
                            </select>
                            <label for="" style="margin-bottom: 0px;">Data de Criação</label>
                            <input type="date" formControlName="dateCreated" style="margin-bottom: 10px;"
                                class="form-control input-underline input-lg" />
                        </div>
                        <div class="col-lg-auto mb-3">
                            <div class="pretty p-switch p-fill">
                                <input type="checkbox" formControlName="download" value="" />
                                <div class="state">
                                    <label>Download</label>
                                </div>
                            </div>
                            <div class="pretty p-switch p-fill">
                                <input type="checkbox" formControlName="print" value="" />
                                <div class="state">
                                    <label>Impressão</label>
                                </div>
                            </div>
                            <div class="pretty p-switch p-fill">
                                <input type="checkbox" formControlName="physicalDocuments" value="" />
                                <div class="state">
                                    <label>Solicitação de Documentos</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 pull-right" *ngIf="isViewPermission">
                        <div class="row">
                            <div class="col">
                                <button type="button" (click)="openMod(content)"
                                    class="btn btn-success btn-xs pull-right">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <h5>Empresas </h5>
                            </div>
                        </div>
                        <div *ngFor="let listItem of companyList; index as i">
                            <button class="btn btn-outline-dark" (click)="selectCompany(i)"
                                style="margin-bottom: 5px;">{{companyList[i]}}</button>
                        </div>
                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Adicionar Empresas</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ng-multiselect-dropdown name="company" [placeholder]="'Selecione as Empresas'"
                                    [data]="companyName" [settings]="dropdownSettings" formControlName="company"
                                    (onSelect)="onItemSelect($event)">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"
                                    (click)="updateListCompany()">Salvar</button>
                            </div>
                        </ng-template>
                        <!-- <div class="form-group" formArrayName="permissions">
                            <div *ngFor="let permissions of permissions.controls; index as i">
                                <div class="card bg-light col-lg-12" style="margin-bottom: 10px">
                                    <div class="card-body">
                                        <div [formGroupName]="i">
                                            <div class="form-group">
                                                <label for="typeahead-basic">Empresa</label>
                                                <div class="input-group mb-3">
                                                    <input id="typeahead-basic" type="text" class="form-control"
                                                        formControlName="company" (selectItem)="getDocuments($event)"
                                                        [resultTemplate]="rtCompany" [inputFormatter]="formatter"
                                                        [ngbTypeahead]="searchCompany" />
                                                </div>
                                            </div>



                                            <button class="btn btn-sm btn-dark">Exibir
                                                Documentos</button>

                                            <div class="collapse navbar-collapse col-12" id="collapseExample"
                                                [ngbCollapse]="isCollapsed">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
            </form>
        </div>
    </div>
</div>
