<ngx-loading [show]="loading" [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true,
    primaryColour: '#222',
    secondaryColour: '#222',
    tertiaryColour: '#222'
}"></ngx-loading>
<div [@routerTransition]>
    <app-page-header [heading]="'Dados do Usuário'" [icon]="'fa-user'"></app-page-header>
    <div style="margin-bottom: 10px" *ngIf="user">
        <app-button-back [redirectTo]="'users'"></app-button-back>
        <app-buttons-custom [id]="user._id" (edit)="editUser(user._id)" (delete)="open('focusFirst', user._id)"
            [permissionEdit]="permissionEdit" [permissionDelete]="permissionDelete"></app-buttons-custom>
        <br />
    </div>
    <div class="card bg-light mb-12">
        <div class="card-body" *ngIf="user">
            <form [formGroup]="userForm" role="FormGroup">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="">Nome</label>
                            <input type="text" formControlName="name" class="form-control input-underline input-lg"
                                placeholder="Nome" [ngClass]="{ 'is-invalid': !name.valid && !name.disabled }" />
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                                <div *ngIf="!name.valid">
                                    Nome é obrigatório.
                                </div>
                            </div>

                            <label for="">E-mail</label>
                            <input type="text" formControlName="email" class="form-control input-underline input-lg"
                                placeholder="Email" [ngClass]="{ 'is-invalid': !email.valid && !email.disabled }" />
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                                <div *ngIf="!email.valid">
                                    E-mail é obrigatório.
                                </div>
                            </div>

                            <label for="">Perfil do Usuário</label>
                            <select class="form-control" id="profile" formControlName="profile"
                                [ngClass]="{ 'is-invalid': !profile.valid && !profile.disabled }">
                                <option *ngFor="let profile of profilesList" [value]="profile._id">
                                    {{ profile.profilePlaceHolder | translate }}</option>
                            </select>
                            <div *ngIf="profile.invalid && (profile.dirty || profile.touched)" class="invalid-feedback">
                                <div *ngIf="!profile.valid">
                                    Perfil do Usuário é obrigatório.
                                </div>
                            </div>
                            <label for="">Data de Criação</label>
                            <input type="date" formControlName="dateCreated"
                                class="form-control input-underline input-lg" placeholder="Criado em" />
                        </div>
                    </div>

                    <div class="col-lg-6" *ngIf="isViewPermission">
                        <div class="col-lg-12">
                            <label style="float: left;">Permissões</label>
                        </div>
                        <div class="form-group" formArrayName="permissions">
                            <div *ngFor="let permissions of permissions.controls; index as i">
                                <div class="card bg-light col-lg-12" style="margin-bottom: 10px">
                                    <div class="card-body">
                                        <div [formGroupName]="i">
                                            <div class="form-group">
                                                <label for="typeahead-basic">Empresa</label>
                                                <div class="input-group mb-3">
                                                    <input id="typeahead-basic" type="text" class="form-control"
                                                        formControlName="company" (selectItem)="getDocuments($event)"
                                                        [resultTemplate]="rtCompany" [inputFormatter]="formatter"
                                                        [ngbTypeahead]="searchCompany" />
                                                    <div class="input-group-append">
                                                        <button class="navbar-toggler" type="button"
                                                            (click)="isCollapsed = !isCollapsed"
                                                            [attr.aria-expanded]="!isCollapsed"
                                                            aria-controls="collapseExample">
                                                            <span [hidden]="!isCollapsed"> <i class="fa fa-caret-down"
                                                                    aria-hidden="true"></i></span>
                                                            <span [hidden]="isCollapsed"><i class="fa fa-caret-up"
                                                                    aria-hidden="true"></i></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="collapse navbar-collapse col-12" id="collapseExample"
                                                [ngbCollapse]="isCollapsed">
                                                <label>Documentos</label>
                                                <type-ahead class="form-control" [multi]="true" [complex]="true"
                                                    idField="_id" formControlName="docts"
                                                    [suggestions]="documentsAll[i].docts">
                                                </type-ahead>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pretty p-switch p-fill">
                            <input type="checkbox" formControlName="download" value=""/>
                            <div class="state">
                                <label>Download</label>
                            </div>
                        </div>
                        <div class="pretty p-switch p-fill">
                            <input type="checkbox" formControlName="print" value=""/>
                            <div class="state">
                                <label>Impressão</label>
                            </div>
                        </div>
                        <div class="pretty p-switch p-fill">
                            <input type="checkbox" formControlName="physicalDocuments" value=""/>
                            <div class="state">
                                <label>Solicitação de Documentos</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
