<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
        backdropBorderRadius: '3px',
        fullScreenBackdrop: true,
        primaryColour: '#222',
        secondaryColour: '#222',
        tertiaryColour: '#222'
    }"></ngx-loading>
    <div class="card  mb-3">
        <div class="card-header" id="step1">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
            <app-page-header [heading]="'Valores dos Serviços'" [icon]="'fa-table'"
                [btnNew]="'Novos Valores de Serviços'" [permissionBtnNew]="permissionNew"
                [routerTo]="'/company-services/new'">
            </app-page-header>
        </div>
        <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="setPageCompanyServices(page)" role="FormGroup">
                <div class="row" id="step2">
                    <div class="form-group mb-2 col-lg-7 col-sm-12" *ngIf="companies">
                        <label for="typeahead-basic">Empresa</label>
                        <input id="typeahead-basic" placeholder="Nome da Empresa" autoFocus="true" type="text"
                            class="form-control typehead" formControlName="company" [resultTemplate]="rtCompany"
                            [inputFormatter]="formatter" [ngbTypeahead]="searchCompany" style="width: 100%"
                            #instanceCompany="ngbTypeahead" (focus)="focusCompany$.next($any($event).target.value)"
                            (click)="clickCompany$.next($any($event).target.value)"
                            [ngClass]="{ 'is-invalid': company.invalid && company.touched }" />
                        <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                            <div *ngIf="!company.valid">
                                Empresa é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="step3">
                    <div class="form-group mb-2 col-lg-12 col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="submit" class="btn dark-btn" style="margin-left: 5px;"
                            [disabled]="company.invalid" (click)="clear()">
                            Limpar Campos
                        </button>
                    </div>
                </div>
                <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
            </form>
        </div>
    </div>

    <div id="step4">
        <app-datatables [data]="services" (setPage)="setPageCompanyServices($event)" (show)="getCompanyService($event)"
            [columns]="columns"></app-datatables>
    </div>
</div>
