<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
    }"></ngx-loading>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-11">
                    <h2>Indexação</h2>
                </div>
                <div class="col-lg-1 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;"></i>
                </div>
            </div>
            <div style="margin-bottom: 10px;" *ngIf="!loading">
                <app-button-back [redirectTo]="'batches/get'" [id]="id"></app-button-back>
            </div>
        </div>
        <div class="card-body">
            <div >
                <div class="row" id="selectable">
                    <div class="col-lg-2 text-center p-0 mb-1"
                        style="border: solid 1px #7a828e; border-radius: 10px; background-color: #28292c;"
                        *ngFor="let imagens of batchImages index as i">
                        <ng-container style="margin-top: 20%;">
                            <small class="text-end">
                                {{imagens.name}}
                            </small>
                            <pdf-viewer [src]="imagens.url" [render-text]="true" [original-size]="true"
                                [show-all]="false" [zoom]="0.1" style="margin-top: 20px;">
                            </pdf-viewer>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
