'<div class="pull-right" style="padding-right: 2%;">
  <img src="assets/images/PNG-05.png" width="250px" />
</div>
<br><br>
<div style="padding: 2% 5% 2% 5%; text-align: center;">
  <h1 class="blue">Termos de Serviço</h1>
  <p>Início eficaz: 1 de setembro de 2020</p>
</div>
<div style="padding: 0 5% 0 5%">
  
    <p>Obrigado por usar os produtos em nuvem da Archio! Estes Termos de Serviço da Archio Cloud App (estes "Termos")
    descrevem seus direitos e responsabilidades como cliente de nossos Produtos em Nuvem. Estes Termos estão entre você
    e a entidade Archio que possui ou opera o Produto em Nuvem que você está usando ou
    acessando ("Archio", "nós" ou "nos").  "Vocês" significa a entidade que você representa ao aceitar estes Termos ou,
    se isso não se aplicar, você individualmente. Se você estiver aceitando em nome de seu empregador ou de outra
    entidade, você declara e garante que:</p>
    <p>(i) possui autoridade legal total para vincular seu empregador ou essa
    entidade a estes Termos;</p>
    <p>(ii) você leu e entendeu estes Termos;</p>
    <p>(iii) você concorda com estes Termos em nome da
    parte que você representa. Se você não tem autoridade legal para vincular seu empregador ou a entidade aplicável,
    não clique em "Eu concordo" (ou botão ou caixa de seleção semelhante) que lhe é apresentada.  NOTE QUE SE VOCÊ SE
      INSCREVE EM UM PRODUTO EM NUVEM USANDO UM ENDEREÇO ​​DE EMAIL DO SEU EMPREGADOR OU DE OUTRA ENTIDADE, ENTÃO VOCÊ
      SERÁ CONSIDERADO COMO REPRESENTANTE ESTA ENTIDADE, (B) SEU CLIQUE PARA ACEITAR ENVIARÁ O SEU EMPREGADOR OU ESTA
      ENTIDADE ESTES TERMOS, E (C) A PALAVRA "VOCÊ" NESTES TERMOS SE REFERIRÁ AO SEU EMPREGADOR OU A ESTA
      ENTIDADE.
    </p>
 
  <p>
    Estes Termos são efetivos a partir da data em que você clica em “Eu concordo” (ou botão ou caixa de seleção
    semelhante) ou usa ou acessa um Produto em Nuvem, o que ocorrer primeiro (a “Data Efetiva”). Estes Termos não
    precisam ser assinados para serem vinculativos. Você indica que concorda com estes Termos clicando em "Eu concordo"
    (ou botão ou caixa de seleção semelhante) no momento em que você se registra para o Archio Cloud App, cria uma conta
    no Archio Cloud App ou faz um Pedido. Para Produtos Gratuitos, você também indica que concorda com estes Termos
    acessando ou usando o Produto Gratuito aplicável.  
  </p>
  <h5 class="blue">
    1. O que esses Termos cobrem
  </h5>
  <br>
  <h5 class="blue">1.1  Produtos em nuvem:</h5> 
  <p>
    Estes Termos regem nossos Produtos em Nuvem, Suporte relacionado e Serviços Adicionais, quando
    for o caso.
  </p>
  <h5 class="blue">1.2  Produtos de software não cobertos:</h5>
  <p>
     Estes Termos não se aplicam aos nossos produtos de software para download
    (atualmente designados como implantações "Servidor" e "Data Center"), cuja utilização requer um contrato de licença
    separado conosco. Para maior clareza, no entanto, qualquer software cliente (por exemplo, um aplicativo para desktop
    ou móvel) que fornecemos como parte dos próprios produtos em nuvem permanece sujeito a este Termo.
  </p>
  <h5 class="blue"> 2. Como os produtos em nuvem são administrados.</h5>
  <br>
  <h5 class="blue">2.1 Administradores.</h5>
  <p>
    Por meio dos produtos em nuvem, você poderá especificar determinados usuários finais como
    administradores e/ou administradores do cliente, que terão direitos e controles importantes sobre o uso de produtos
    em
    nuvem e contas de usuário final. Isso pode incluir ativar aplicativos (que podem incorrer em taxas); criar,
    monitorar
    ou modificar contas de usuário final e definir permissões de uso do usuário final; e gerenciar o acesso aos seus
    dados
    por usuários finais ou outros. Sem limitar a Seção 2.4 (Responsabilidade pelos usuários finais), que se aplica
    totalmente aos administradores, você é responsável por quem permite que se torne administrador e quaisquer ações que
    eles executem, incluindo como descrito acima. Você concorda que nossas responsabilidades não se estendem ao
    gerenciamento ou administração interna dos Produtos em Nuvem para você.
  </p>
  <h5 class="blue">2.2  Responsabilidade pelos usuários finais.</h5>
  <p>
    Nossos produtos em nuvem têm vários fluxos de integração do usuário. No
    Archio Cloud App os usuários podem ser designados pelos administradores; os usuários podem se inscrever em contas
    individuais que podem se associar a equipes ou organizações posteriormente; e pode permitir que os usuários convidem
    outros usuários. Você é responsável por entender as configurações e os controles do Archio Cloud App e por controlar
    quem permite que você se torne um Usuário Final. Se for exigido pagamento para que os Usuários Finais usem ou
    acessem
    o Archio Cloud App, apenas seremos obrigados a fornecer o acesso ao Archio Cloud App aos Usuários Finais pelos quais
    você pagou as taxas aplicáveis, e somente esses Usuários Finais terão permissão para acessar e usar o Archio Cloud
    App. Observe que você é responsável pelas atividades de todos os seus usuários finais, incluindo pedidos que eles
    podem fazer e como os usuários finais usam seus dados, mesmo que esses usuários não sejam da sua organização ou
    domínio.
  </p>

  <h5 class="blue">2.3  Credenciais</h5>
  <p>
    Você deve exigir que todos os Usuários Finais mantenham seus IDs de usuário e senhas estritamente
    confidenciais e não compartilhem essas informações com nenhuma pessoa não autorizada.
    Os IDs de usuário são concedidos a indivíduos nomeados e não podem ser compartilhados. Você é responsável por todas
    e
    quaisquer ações tomadas usando contas e senhas de usuário final e concorda em nos notificar imediatamente sobre
    qualquer uso não autorizado de que tenha conhecimento.
  </p>
  <h5 class="blue">2.4  Exigência de idade para usuários finais</h5>
  <p>
    O Archio Cloud App não se destina a, e não devem ser utilizados por
    menores de 16 anos. Você é responsável por garantir que todos os Usuários Finais tenham pelo menos 16 anos de idade.
  </p>

  <h5 class="blue">3. O que está incluído na sua assinatura do Archio Cloud App quais são as restrições</h5>
  <br>
  <h5 class="blue">3.1 Acesso ao Archio Cloud App</h5>
  <p> Sujeito a estes Termos e durante o Termo de Assinatura aplicável, você pode acessar e
    usar os Produtos em Nuvem para seus próprios fins comerciais ou uso pessoal, conforme aplicável, tudo de acordo com
    estes Termos, o Pedido aplicável e a Documentação. Isso inclui o direito, como parte de seu uso autorizado do Archio
    Cloud App, de baixar e imprimir documentos e arquivos de propriedade do cliente associado à conta no Archio Cloud
    App. Os direitos concedidos a você nesta Seção 3.1 são não exclusivos, sublicenciáveis ​​e intransferíveis.
  </p>
  <h5 class="blue">3.2 Suporte</h5>
  <p> Durante o Prazo da Assinatura, forneceremos Suporte para os Produtos em Nuvem de acordo com
    nossa Política de Suporte e Serviços Corporativos.
    Restrições. Exceto quando expressamente permitido nestes Termos, você não irá:</p>
    <p>(a) reproduzir, modificar, adaptar
    ou criar trabalhos derivados do Archio Cloud App;
    </p>
    <p>(b) alugar, arrendar, distribuir, vender, sublicenciar, transferir
    ou fornecer acesso ao Archio Cloud App a terceiros;</p>
    <p>(c) usar o Archio Cloud App para o benefício de terceiros;</p>
    <p>(d) Incorporar quaisquer produto do Archio Cloud App em um produto ou serviço que você fornece a terceiros;</p>
    
    <p>(e) interferir ou contornar os mecanismos do Archio Cloud App destinados a limitar seu uso;</p>
    <p>(f) fazer engenharia reversa, desmontar,
    descompilar, traduzir ou procurar obter ou derivar o código-fonte, idéias subjacentes, algoritmos, formatos de
    arquivo
    ou APIs não públicas do Archio Cloud App, exceto na extensão expressamente permitida pela lei aplicável (e somente
    com
    aviso prévio);</p>
    <p>(g) remover ou ocultar qualquer aviso de propriedade ou outros avisos contidos no Archio Cloud
    App;
    </p>
    <p>(h) usar os produtos em nuvem para análises competitivas ou para criar produtos concorrentes; (i) divulgar publicamente
    informações sobre o desempenho do Archio Cloud App;</p>
    <p>(j) incentivar ou ajudar terceiros a executar qualquer um dos
    itens acima.
  </p>
  <h5 class="blue">4. Nossas políticas de segurança e privacidade de dados</h5>
  <br>
  <h5 class="blue">4.1 Segurança e Certificações</h5>
  <p>
     Implementamos e mantemos medidas de segurança física, técnica e administrativa
    projetadas para proteger seus dados contra acesso, destruição, uso, modificação ou divulgação não autorizados. 
  </p>
  <h5 class="blue">4.2  Privacidade</h5>
  <p>
    Coletamos dados e informações bastante restritos sobre você e seus Usuários Finais em conexão com o
    uso do Archio Cloud App de forma a prover acesso ao Archio Cloud App de forma segura. Os dados e informações
    inseridos
    no Archio Cloud App não são utilizados de qualquer forma pela Archio, sendo estes de sua propriedade e total
    responsabilidade. Os dados que coletamos e informações que usamos estão de acordo com nossa Política de Privacidade,
    que você reconhece.
  </p>
  <h5 class="blue">4.3  Intimações</h5>
  <p>
    Nada nestes Termos nos impede de divulgar Seus Dados na medida exigida por lei, intimações ou ordens
    judiciais, mas usaremos esforços razoáveis ​​para notificá-lo onde for permitido. A Archio se esforça para
    equilibrar
    seus direitos de privacidade com outros requisitos legais.
  </p>

  <h5 class="blue">5. Termos que se aplicam aos seus dados</h5>
  <br>

  <h5 class="blue">5.1 Usando seus dados para fornecer produtos em nuvem para você</h5>
  <p>
    Você mantém todos os direitos, propriedade e
    interesses em seus dados e informações constantes do Archio Cloud App. A Archio armazena e disponibiliza estes dados
    e
    informações exclusivamente na medida necessária para fornecer o Archio Cloud App para você. Você nos concede uma
    licença mundial de prazo limitado para acessar, processar, distribuir, executar e exibir seus dados e informações
    para
    você e seus usuários finais. Também podemos acessar suas contas e contas de usuários finais para responder às suas
    solicitações de suporte.
  </p>
  <h5 class="blue">5.2 Suas obrigações de conformidade de dados</h5>
  <p>
    Você e seu uso do Archio Cloud App (incluindo o uso por seus Usuários
    Finais) devem estar sempre em conformidade com estes Termos e todas as leis. Você declara e garante que: (i) obteve
    todos os direitos, liberações e permissões necessárias para enviar todos os seus dados e informações para o Archio
    Cloud App e conceder os direitos concedidos a nós nestes Termos e (ii) seus dados e informações e seu envio e uso,
    conforme você autoriza nestes Termos, não violará (1) nenhuma lei, (2) propriedade intelectual de terceiros,
    privacidade, publicidade ou outros direitos, ou (3) qualquer uma de suas políticas ou termos de terceiros ou que
    regem
    seus dados. Além das nossas obrigações expressas sob a Seção 4 (Nossas políticas de segurança e privacidade de
    dados),
    não assumimos nenhuma responsabilidade por seus dados e informações, e você é o único responsável por seus dados e
    informações e pelas consequências de enviá-los e usá-los com o Archio Cloud App.
  </p>

  <h5 class="blue">5.3 Informação pessoal sensível proibida</h5>
  <p>
    Você não enviará ao Archio Cloud App (ou usará o Archio Cloud App para
    coletar) quaisquer Informações pessoais sensíveis. Não obstante qualquer outra disposição em contrário, não nos
    responsabilizamos por estes Termos por Informações Pessoais Sensíveis enviadas em violação ao acima exposto.
  </p>
  <h5 class="blue">5.4 Sua indenização</h5>
  <p>
    Você defenderá, indenizará e nos isentará (e nossas afiliadas, executivos, diretores, agentes e
    funcionários) de e contra todas e quaisquer reivindicações, custos, danos, perdas, responsabilidades e despesas
    (incluindo honorários advocatícios e custos razoáveis) resultantes de qualquer reclamação decorrente ou relacionada
    a
    (i) sua violação da Seção 2.3 (Consentimento do Usuário Final) ou quaisquer reclamações ou disputas apresentadas por
    seus Usuários Finais decorrentes do uso do Archio Cloud App, (ii) sua violação (ou suposta violação) de Seções 5.2
    (Suas obrigações de conformidade de dados) ou 5.3 (Informação pessoal sensível proibida); ou (iii) seus
    materiais. Esta obrigação de indenização está sujeita ao recebimento de notificação por escrito imediata de tal
    reivindicação (mas, em qualquer caso, aviso em tempo suficiente para você responder sem prejuízo);
  </p>
  <h5 class="blue">5.5 Remoções e Suspensões</h5>
  <p>
     Não temos obrigação de monitorar qualquer conteúdo carregado no Archio Cloud App. No
    entanto, se considerarmos essa ação necessária com base em sua violação destes Termos, ou em resposta a solicitações
    de remoção que recebermos, para relatar violações de direitos autorais e marcas comerciais, podemos (1) remover seus
    dados do Archio Cloud App ou (2) suspender seu acesso ao Archio Cloud App. Usaremos esforços razoáveis ​​para
    fornecer
    a você um aviso prévio de remoções e suspensões, quando praticável, mas se determinarmos que suas ações colocam em
    risco a operação do Archio Cloud App ou de outros usuários, podemos suspender seu acesso ou remover Seus Dados
    imediatamente sem aviso prévio. Não nos responsabilizamos por remover ou excluir seus dados ou suspender seu acesso
    a
    quaisquer produtos em nuvem, conforme descrito nesta seção 5.5.
  </p>

  <h5 class="blue">6. Faturamento, renovações e pagamento</h5>
  <br>

  <h5 class="blue">6.1 Planos mensais e anuais</h5>
  <p>
     O Archio Cloud App é oferecido com assinatura mensal ou com assinatura anual.
  </p>

  <h5 class="blue">6.2 Renovações</h5>
  <p>
    Exceto quando especificado de outra forma, a menos que uma das partes cancele sua assinatura antes do
    vencimento do Termo de Assinatura atual, sua assinatura será renovada automaticamente por outro Termo de Assinatura
    de
    um período igual ao seu Termo de Assinatura inicial. Você fornecerá qualquer aviso de não renovação através dos
    meios
    que designamos, que podem incluir configurações de conta no Archio Cloud App ou entrar em contato com nossa equipe
    de
    suporte. O cancelamento da sua assinatura significa que você não será cobrado pelo próximo ciclo de faturamento, mas
    não receberá nenhum reembolso ou crédito pelos valores já cobrados.
  </p>

  <h5 class="blue">6.3 Adicionando usuários</h5>
  <p>Você pode adicionar usuários, aumentar os limites de armazenamento ou, de outra forma,
    aumentar o uso do Archio Cloud App, fazendo um novo pedido ou modificando um pedido existente. A menos que
    especificado de outra forma no Pedido aplicável, cobraremos pelo uso aumentado de acordo com as tarifas vigentes,
    proporcionalmente ao restante do Termo de Assinatura vigente.
  </p>

  <h5 class="blue">6.4 Pagamento</h5>
  <p>Você pagará todas as taxas de acordo com o plano escolhido, nas datas de vencimento e na moeda
    especificada no Pedido. Para serviços adicionais fornecidos em qualquer local que não seja da Archio, a menos que
    especificado de outra forma em seu pedido, você nos reembolsará nossas despesas de viagem, hospedagem e refeições
    pré-aprovadas, que poderemos cobrar quando incorridas. Você concorda que podemos cobrar no seu cartão de crédito ou
    outro método de pagamento renovações, usuários adicionais, excedentes para definir limites ou escopos de uso,
    despesas
    e taxas não pagas, conforme aplicável.
  </p>
  <h5 class="blue">6.5 Entrega</h5>
  <p>Entregaremos as instruções de login do Archio Cloud App na sua conta ou por outros meios razoáveis, o
    mais tardar quando recebermos o pagamento das taxas aplicáveis. Você é responsável por acessar sua conta para
    determinar que recebemos o pagamento e que seu pedido foi processado. Todas as entregas sob estes Termos serão
    eletrônicas.
  </p>

  <h5 class="blue">7. Nossa política de devolução</h5>
  <br>
  <p>Como parte de nosso compromisso com a satisfação do cliente, você pode encerrar seu
    Pedido inicial do Archio Cloud App, por nenhuma razão ou motivo, mediante notificação de rescisão, no prazo de
    trinta
    (30) dias após a data do Pedido. No caso de você rescindir seu Pedido inicial sob esta Seção 7, a seu pedido (que
    pode
    ser feito através da sua conta conosco), reembolsaremos o valor pago sob esse Pedido. Este direito de rescisão e
    reembolso aplica-se apenas ao seu Pedido inicial do Archio Cloud App e somente se você exercer seu direito de
    rescisão
    dentro do período especificado acima e não se aplica a eventuais Serviços Adicionais.
  </p>
  <h5 class="blue">8. Impostos não incluídos</h5>
  <br>
  <h5 class="blue">8.1 Impostos</h5>
  <p>
    Suas taxas sob estes Termos excluem quaisquer impostos ou taxas devidos em relação ao Archio Cloud App
    na jurisdição em que o pagamento é feito ou recebido. Na medida em que tais impostos ou taxas sejam devidos por nós,
    você deverá nos pagar o valor de tais impostos ou taxas, além de quaisquer taxas devidas sob estes Termos. Não
    obstante o acima exposto, se você tiver obtido uma isenção de impostos ou taxas relevantes a partir do momento em
    que
    tais taxas ou impostos forem cobrados ou cobrados, você poderá nos fornecer essas informações sobre isenção e
    usaremos
    todos os esforços para fornecer documentos de faturamento projetados para permitir que você obtenha um reembolso ou
    crédito da autoridade de receita relevante, se esse reembolso ou crédito estiver disponível.
  </p>

  <h5 class="blue">8.2 Impostos retidos na fonte</h5>
  <p>
    Você pagará todas as taxas líquidas de quaisquer impostos retidos na fonte
    aplicáveis. Você e nós trabalharemos juntos para evitar qualquer retenção na fonte se houver isenções ou uma taxa
    reduzida na fonte do tratado. Se nos qualificarmos para uma isenção de impostos ou uma taxa reduzida de retenção,
    forneceremos a você uma prova documental razoável, quando aplicável. Você nos fornecerá provas razoáveis ​​de que
    pagou à autoridade relevante pela quantia retida ou deduzida.
  </p>
  <h5 class="blue">9. Não há contingências em outros produtos de funcionalidade futura</h5>
   <p>
    Você reconhece que os produtos em nuvem e os
    serviços adicionais mencionados em um pedido estão sendo adquiridos separadamente de qualquer outro produto ou
    serviço. As obrigações de pagamento de qualquer produto ou serviço não dependem da compra ou do uso de nenhum de
    nossos outros produtos (e para maior clareza, todas as compras de produtos na nuvem e serviços adicionais são
    separadas e não dependem uma da outra, mesmo que listadas no mesmo pedido). Você concorda que suas compras não
    dependem da entrega de quaisquer funcionalidades ou recursos futuros (incluindo disponibilidade futura de quaisquer
    Produtos em Nuvem além do atual Termo de Assinatura) ou dependem de quaisquer comentários públicos orais ou escritos
    que fazemos sobre funcionalidades ou recursos futuros.
     </p>
  <h5 class="blue">10. Avaliações, ensaios e betas</h5>
  <p>
     Podemos oferecer determinados produtos em nuvem gratuitamente, incluindo contas
    gratuitas, uso experimental e versões beta, conforme definido abaixo (coletivamente, "produtos gratuitos "). Seu uso
    de Produtos Gratuitos está sujeito a quaisquer termos adicionais que especificamos e só são permitidos durante o
    Termo
    de Assinatura que designamos (ou, se não for designado, até que seja rescindido de acordo com estes Termos). Os
    termos
    e condições destes Termos que regem os Produtos em Nuvem aplicam-se totalmente a Produtos Sem Taxa. Podemos
    modificar
    ou rescindir o seu direito de usar Produtos Gratuitos a qualquer momento e por qualquer motivo, a nosso exclusivo
    critério, sem responsabilidade perante você. Você entende que quaisquer produtos em nuvem de pré-lançamento e beta,
    e
    quaisquer recursos de pré-lançamento e beta em produtos de nuvem geralmente disponíveis, que disponibilizamos
    (coletivamente, “ Versões beta") Ainda estão em desenvolvimento, podem estar inoperantes ou incompletos e
    provavelmente conterão mais erros e bugs do que os produtos em nuvem geralmente disponíveis. Não prometemos que
    alguma
    versão beta seja disponibilizada em geral. Em algumas circunstâncias, podemos cobrar uma taxa para permitir o acesso
    às versões beta, mas as versões beta ainda estarão sujeitas a esta seção 10. Todas as informações sobre as
    características, recursos ou desempenho de qualquer produto gratuito (incluindo a versão beta) Versões) constitui
    nossa Informação Confidencial.
    Na extensão máxima permitida pela lei aplicável, renunciamos a todas as obrigações ou responsabilidades com relação
    aos produtos gratuitos, incluindo quaisquer obrigações de suporte, garantia e indenização.
  </p>
  <h5 class="blue">11. Direitos de IP nos produtos em nuvem e feedback</h5>
  <p>
    Os produtos em nuvem são disponibilizados com base em acesso
    limitado e nenhum direito de propriedade é concedido a você, independentemente do uso de termos como "compra" ou
    "venda". Nós detemos e mantemos todos os direitos, títulos e interesses, incluindo todos os direitos de propriedade
    intelectual, sobre e a Nossa Tecnologia (incluindo os Produtos em Nuvem). Ocasionalmente, você pode optar por enviar
    um feedback para nós. Podemos, em conexão com qualquer um de nossos produtos ou serviços, usar, copiar, divulgar,
    licenciar, distribuir e explorar livremente qualquer Feedback de qualquer maneira, sem qualquer obrigação, royalties
    ou restrição com base em direitos de propriedade intelectual ou outros. Nenhum Feedback será considerado suas
    Informações Confidenciais e nada nestes Termos limita nosso direito de usar, desenvolver, avaliar ou comercializar
    produtos ou serviços de forma independente.
  </p>
  <h5 class="blue">12. Confidencialidade</h5>
  <p>
     Salvo disposição em contrário nestes Termos, cada parte concorda que todo o código, invenções,
    know-how e negócios, dados e informações técnicas e financeiras divulgadas a essa parte (“Parte Recebedora”) pela
    parte divulgadora ("Parte Divulgadora") constituem o propriedade confidencial da Parte Divulgadora (“Informações
    Confidenciais”), desde que ele seja identificado como confidencial no momento da divulgação ou deva ser
    razoavelmente
    conhecido pela Parte Receptora como confidencial ou proprietário devido à natureza das informações divulgadas e às
    circunstâncias que a envolvem. Qualquer de Nossa Tecnologia e qualquer informação de desempenho relacionada aos
    Produtos em Nuvem serão consideradas nossas Informações Confidenciais sem nenhuma marcação ou designação
    adicional. Exceto quando expressamente autorizado neste documento, a Parte Receptora (1) manterá em sigilo e não
    divulgará nenhuma Informação Confidencial a terceiros e (2) não usará Informações Confidenciais para qualquer
    finalidade que não seja cumprir suas obrigações e exercer seus direitos sob estes Termos. A Parte Receptora pode
    acessar Informações Confidenciais por meio de seus funcionários, agentes, contratados e outros representantes que
    tenham uma necessidade legítima de saber, desde que estejam sujeitos a obrigações de confidencialidade não menos
    protetoras da Parte Divulgadora do que esta Seção 12 e que a Parte Receptora continue sendo responsável pelo
    cumprimento por eles dos termos desta Seção 12. As obrigações de confidencialidade da Parte Receptora não se
    aplicarão
    às informações que a Parte Receptora possa documentar: (i) estava em sua posse ou era conhecida por ela antes do
    recebimento das Informações Confidenciais; (ii) é ou se tornou de conhecimento público sem culpa da Parte Receptora;


    (iii) seja legitimamente obtida pela Parte Receptora de um terceiro sem violar qualquer obrigação de
    confidencialidade. A Parte Receptora também pode divulgar Informações Confidenciais, se necessário, de acordo com
    uma
    regra, lei ou ordem judicial (mas apenas na extensão mínima exigida para cumprir tal regra ou ordem e com aviso
    prévio
    à Parte Divulgadora).
  </p>
  <h5 class="blue">13. Prazo e Rescisão</h5>
  <br>
  <h5 class="blue">13.1 Prazo</h5>
  <p>
    Estes Termos são efetivos a partir da Data Efetiva e expiram na data de vencimento ou término de todos os
    Termos de Assinatura.
  </p>
  <h5 class="blue">13.2 Rescisão por Causa</h5>
  <p>
     Qualquer uma das partes pode rescindir estes Termos (incluindo todos os Pedidos relacionados)
    se a outra parte (a) falhar em resolver qualquer violação material destes Termos dentro de trinta (30) dias após a
    notificação; (b) cesse a operação sem sucessor; ou (c) buscar proteção sob qualquer falência, liquidação judicial,
    escritura, acordo de credores, composição ou processo comparável, ou se tal processo for instaurado contra essa
    parte
    (e não será demitido dentro de sessenta (60) dias depois).
  </p>

  <h5 class="blue">13.3 Rescisão por conveniência</h5>
  <p>
     Você pode optar por parar de usar o Archio Cloud App e rescindir estes Termos
    (incluindo todos os pedidos) a qualquer momento, por qualquer motivo, mediante notificação por escrito, mas, a menos
    que esteja exercendo seu direito de rescisão antecipada, de acordo com a Seção 7 (nossa política de devolução) ,
    após
    qualquer rescisão (i) você não terá direito ao reembolso de quaisquer taxas pré-pagas e (ii) se ainda não tiver pago
    todas as taxas aplicáveis ​​pelo período de assinatura atual ou pelo período de serviços relacionados (conforme
    aplicável) , quaisquer taxas pendentes se tornarão imediatamente devidas e pagáveis.
  </p>
  <h5 class="blue">13.4 Efeitos da rescisão</h5>
  <p>
     Após qualquer expiração ou rescisão destes Termos, você deve parar de usar o Archio Cloud
    App e excluir e/ou exportar todos os dados e Informações Confidenciais ou outros materiais de sua propriedade
    armazenados no Archio Cloud App. Você terá até o término de sua assinatura e/ou contrato para excluir e/ou exportar
    seus arquivos, anexos, documentos, dados e informações e deverá se certificar que essa exclusão e/ou exportação foi
    efetivamente concluída. Após esta data você não terá acesso aos Seus Dados (e nós faremos a exclusão de todos os
    Seus
    Dados, a menos que seja legalmente proibido) após a expiração ou rescisão destes Termos (ou de seu Termo de
    Assinatura
    aplicável), portanto, certifique-se de exportar Seus Dados usando a funcionalidade do Archio Cloud App durante o
    período de assinatura aplicável. Se você rescindir estes Termos de acordo com a Seção 13.2 (Rescisão por Causa), nós
    reembolsaremos todas as taxas pagas antecipadamente, cobrindo o restante do Prazo de Assinatura vigente após a data
    efetiva da rescisão. 


    Se rescindirmos estes Termos de acordo com a Seção 13.2 (Rescisão por Causa), você pagará quaisquer taxas não pagas
    cobrindo o restante do Prazo de Assinatura vigente após a data efetiva da rescisão. Em nenhum caso a rescisão o
    isentará de sua obrigação de pagar quaisquer taxas devidas a nós pelo período anterior à data efetiva da
    rescisão. Exceto quando um recurso exclusivo puder ser especificado nestes Termos, o exercício por qualquer parte de
    qualquer recurso, incluindo rescisão, não prejudicará quaisquer outros recursos que possa ter sob esses Termos, por
    lei ou de outra forma. Em nenhum caso a rescisão o isentará de sua obrigação de pagar quaisquer taxas devidas a nós
    pelo período anterior à data efetiva da rescisão. Exceto quando um recurso exclusivo puder ser especificado nestes
    Termos, o exercício por qualquer parte de qualquer recurso, incluindo rescisão, não prejudicará quaisquer outros
    recursos que possa ter sob esses Termos, por lei ou de outra forma.
  </p>

  <h5 class="blue">14 Garantias e Isenção de Responsabilidade</h5>
  <br>
  <h5 class="blue">14.1  Garantias mútuas</h5>
  <p>
     Cada parte representa e garante que tem o poder e a autoridade legais para celebrar estes
    Termos.
  </p>
  <h5 class="blue">14.2  Nossas garantias</h5>
  <p>
     Garantimos, apenas para seu benefício, que realizamos todos os esforços comercialmente
    razoáveis ​​para impedir a introdução de vírus, cavalos de Troia ou materiais nocivos semelhantes no Archio Cloud
    App
    (mas não somos responsáveis ​​por materiais nocivos enviados por você ou por Usuários Finais) (o "Desempenho
    Garantia
    ”).
  </p>
  <h5 class="blue">14.3 Solução de Garantia</h5>
  <p>Faremos todos os esforços comercialmente razoáveis, sem nenhum custo para você, para
    corrigir não conformidades relatadas. Se determinarmos que as correções são impraticáveis, qualquer uma das partes
    poderá rescindir o Termo de Assinatura aplicável. Nesse caso, você receberá um reembolso de quaisquer taxas pagas
    antecipadamente pelo uso do Archio Cloud App pela parte rescindida do Termo de Assinatura aplicável. A Garantia não
    se
    aplicará: (i) a menos que você faça uma reclamação dentro de trinta (30) dias a partir da data em que notou pela
    primeira vez a não conformidade, (ii) se a não conformidade foi causada por uso indevido, modificações não
    autorizadas
    ou produtos, software, serviços ou equipamentos de terceiros ou (iii) produtos gratuitos.
  </p>
  <h5 class="blue">14.4 ISENÇÃO DE GARANTIA</h5>
  <p>
     EXCETO EXPRESSAMENTE FORNECIDO NESTA SEÇÃO 14, TODOS OS PRODUTOS, SUPORTE E SERVIÇOS
    ADICIONAIS DA NUVEM SÃO FORNECIDOS "NO ESTADO EM QUE SE ENCONTRAM", E NÓS E NOSSOS FORNECEDORES EXPRESSAMENTE
    EXONERAM
    QUALQUER E TODAS AS GARANTIAS E REPRESENTAÇÕES DE QUALQUER TIPO, INCLUINDO QUALQUER GARANTIA DE NÃO INFRAÇÃO, TÍTULO
    ,
    ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA, FUNCIONALIDADE OU COMERCIALIZAÇÃO, EXPRESSA, IMPLÍCITA OU ESTATUTÁRIA. SEM
    LIMITAR AS NOSSAS OBRIGAÇÕES
    EXPRESSAS NESTES TERMOS, NÃO GARANTIMOS QUE SEU USO DOS PRODUTOS DA NUVEM SERÁ ININTERRUPTO OU LIVRE DE ERROS, QUE
    REVERAMOS SEUS DADOS POR EXATIDÃO OU QUE MANTEREMOS OS SEUS DADOS. VOCÊ COMPREENDE QUE O USO DOS PRODUTOS DA NUVEM
    NECESSARIAMENTE ENVOLVE A TRANSMISSÃO DE SEUS DADOS POR REDES QUE NÃO POSSUEM, OPERAM OU CONTROLAM, E NÃO SOMOS
    RESPONSÁVEIS POR QUALQUER DADO PERDIDO, ALTERADO, INTERCEPTO OU ARMAZENADO EM TAIS REDES. NÃO PODEMOS GARANTIR QUE
    OS
    NOSSOS PROCEDIMENTOS DE SEGURANÇA SERÃO SEM ERROS, QUE AS TRANSMISSÕES DE SEUS DADOS SERÃO SEMPRE SEGURAS OU QUE
    TERCEIROS NÃO AUTORIZADOS NUNCA SERÃO CAPAZ DE DERROTAR AS MEDIDAS DE SEGURANÇA OU AQUELES DOS NOSSOS PRESTADORES DE
    SERVIÇOS DE TERCEIROS. NÃO SEREMOS RESPONSÁVEIS POR ATRASOS, INTERRUPÇÕES, FALHAS DE SERVIÇO OU OUTROS PROBLEMAS
    INERENTES AO USO DA INTERNET E COMUNICAÇÕES ELETRÔNICAS OU OUTROS SISTEMAS FORA DO NOSSO CONTROLE RAZOÁVEL. VOCÊ
    PODE
    TER OUTROS DIREITOS ESTATUTÁRIOS, MAS A DURAÇÃO DAS GARANTIAS ESTATUTORIALMENTE NECESSÁRIAS, SE HOUVER, SERÁ
    LIMITADA
    AO PERÍODO MAIS CURTO PERMITIDO POR LEI. QUE AS TRANSMISSÕES DE SEUS DADOS SEMPRE SERÃO SEGURAS OU QUE TERCEIROS NÃO
    AUTORIZADOS NUNCA PODERÃO ADOTAR NOSSAS MEDIDAS DE SEGURANÇA
  </p>
  <h5 class="blue">15. Limitação de responsabilidade</h5>
  <br>
  <h5 class="blue">15.1 Renúncia a Danos Conseqüentes</h5>
  <p> EXCETO AS RECLAMAÇÕES EXCLUÍDAS (CONFORME DEFINIDO ABAIXO), NENHUMA PARTE (NEM
    SEUS FORNECEDORES) TERÁ QUALQUER RESPONSABILIDADE DECORRENTE OU RELACIONADA A ESTES TERMOS POR QUALQUER PERDA DE
    USO,
    DADOS PERDIDOS OU IMPRECISOS, LUCROS PERDIDOS, FALTA DE SEGURANÇA NEGÓCIOS, CUSTOS DE ATRASO OU QUALQUER DANO
    INDIRETO, ESPECIAL, INCIDENTAL, RELATIVO OU CONSEQÜENCIAL DE QUALQUER TIPO, MESMO SE INFORMADO DA POSSIBILIDADE DE
    TAIS DANOS ANTECIPADOS. 
  </p>
  <h5 class="blue">15.2 Limite de responsabilidade</h5>
  <p>
    EXCETO AS RECLAMAÇÕES EXCLUÍDAS, A RESPONSABILIDADE AGREGADA DE CADA PARTE E DE SEUS
    FORNECEDORES AOS OUTROS RESULTANTES DE OU RELACIONADOS A ESTES TERMOS NÃO EXCEDERÁ O VALOR PAGO PELO USUÁRIO POR
    ESTES
    TERMOS NOS 12 (DOZE) MESES ANTERIORES.
  </p>
  <h5 class="blue">15.3 Reivindicações excluídas</h5>
  <p>
     “Reivindicações excluídas” significa (1) valores devidos por você sob quaisquer Pedidos
    e (2) obrigações de indenização expressa de qualquer uma das partes nestes Termos.
  </p>
  <h5 class="blue">16.  Direitos de publicidade</h5>
  <p>
     Podemos identificá-lo como um cliente Archio em nossos materiais promocionais. Pararemos
    imediatamente de fazê-lo mediante sua solicitação enviada para nosso suporte.
  </p>
   
  <h5 class="blue"> 17. Resolução de disputas</h5>
  <br> 
  <h5 class="blue">17.1 Resolução informal</h5>
  <p>
     No caso de qualquer controvérsia ou reclamação decorrente ou relacionada a estes Termos, as
    partes consultarão e negociarão entre si e, reconhecendo seus interesses mútuos, tentarão alcançar uma solução
    satisfatória para ambas as partes. Se as partes não chegarem a um acordo dentro de um período de sessenta (60) dias,
    qualquer uma das partes poderá buscar uma medida que esteja disponível sob estes Termos, de acordo com a Seção 17.2
    (Lei Aplicável; Jurisdição). Todas as negociações de acordo com esta Seção 17.1 serão confidenciais e tratadas como
    negociações de compromisso e solução para fins de todas as regras e códigos de evidência da legislação e jurisdições
    aplicáveis.
  </p>
  <h5 class="blue"> 17.2 Lei Aplicável; Jurisdição</h5>
  <p>
     Estes Termos serão regidos e interpretados de acordo com as leis aplicáveis ​​do
    Estado de Minas Gerais, Brasil, com foro na cidade de Uberaba. Cada parte concorda irrevogavelmente que qualquer
    ação,
    processo ou processo legal decorrente ou relacionado a estes Termos deve ser apresentado única e exclusivamente e
    estará sujeito ao serviço do processo e outras regras processuais aplicáveis ​​do tribunal estadual ou federal em
    Uberaba, MG, Brasil, e cada uma das partes submete-se irrevogavelmente à esta jurisdição.
  </p>
  <h5 class="blue">18. Alterações nestes Termos</h5>
  <p>
     Podemos modificar os termos e condições destes Termos (incluindo Nossas Políticas) de
    tempos em tempos, com aviso para você de acordo com a Seção 20.1 (Avisos) ou publicando os Termos modificados em
    nosso
    site. Juntamente com o aviso, especificaremos a data efetiva das modificações.
  </p>
  <h5 class="blue">18.1 Produtos com teste gratuito</h5>
  <p>
    Você deve aceitar as alterações nos Termos para continuar usando os produtos com
    teste gratuitos. Se você se opuser às alterações, deverá parar de usar os Produtos Gratuitos.
  </p>

  <h5 class="blue">18.2 Assinaturas pagas</h5>
  <p>
     Exceto quando indicado em contrário, as modificações destes Termos entrarão em vigor na
    próxima renovação do seu Termo de Assinatura e serão aplicadas automaticamente a partir da data de renovação, a
    menos
    que você decida não renovar de acordo com a Seção 6.2 (Renovações). Não obstante o acima exposto, em alguns casos
    (por
    exemplo, para tratar da conformidade com as Leis ou conforme necessário para novos recursos), podemos especificar
    que
    essas modificações se tornem efetivas durante o seu atual período de assinatura. Se a data efetiva de tais
    modificações for durante o prazo de assinatura atual e você se opuser às modificações, então (como seu recurso
    exclusivo), você poderá rescindir seus pedidos afetados mediante aviso prévio e reembolsaremos todas, porém
    exclusivamente, as taxas que tiver pago antecipadamente pelo uso do Archio Cloud App. Para exercer esse direito,
    você
    deve nos enviar uma notificação de sua objeção e rescisão dentro de trinta (30) dias após a notificação da
    modificação. Para evitar dúvidas, qualquer Pedido está sujeito à versão destes Termos em vigor no momento do Pedido.
  </p>

  <h5 class="blue">18.3 Nossas políticas</h5>
  <p>
     Podemos modificar Nossas Políticas para que entrem em vigor durante o seu Termo de Assinatura
    atual, a fim de responder a alterações em nossos produtos, negócios ou leis. Nesse caso, a menos que exigido pelas
    leis, concordamos em não fazer modificações em nossas políticas que, consideradas como um todo, diminuiriam
    substancialmente nossas obrigações durante o seu atual período de assinatura. As modificações em nossas políticas
    entrarão em vigor automaticamente a partir da data efetiva especificada para as políticas atualizadas.
  </p>
  <h5 class="blue">19. Alterações nos produtos em nuvem</h5>
  <p>
     Você reconhece que os produtos em nuvem são on-line, com base em assinaturas e
    que, para oferecer uma experiência aprimorada ao cliente, podemos fazer alterações nos produtos em nuvem e atualizar
    a
    documentação aplicável de acordo. Sujeitos à nossa obrigação de fornecer Produtos em Nuvem e Serviços Adicionais sob
    Pedidos existentes, podemos descontinuar quaisquer Produtos em Nuvem, quaisquer Serviços Adicionais ou qualquer
    parte
    ou recurso de qualquer Produto em Nuvem, por qualquer motivo, a qualquer momento e sem responsabilidade para com
    você.
  </p>
  <h5 class="blue">20. Disposições gerais</h5>
  <br>
  <h5 class="blue">20.1 Avisos</h5>
  <p>
     Qualquer notificação sob estes Termos deve ser feita por escrito. Podemos notificá-lo através do seu
    endereço de e-mail de notificação, sua conta ou notificações no produto. Você concorda que qualquer comunicação
    eletrônica atenderá a todos os requisitos legais aplicáveis, incluindo a comunicação escrita. Qualquer aviso a você
    será considerado entregue no primeiro dia útil após o envio.
  </p>
  <h5 class="blue">20.2  Força Maior</h5>
  <p>Nenhuma das partes será responsável perante a outra por qualquer atraso ou falha no cumprimento de
    qualquer obrigação sob estes Termos (exceto por falta de pagamento de taxas) se o atraso ou falha ocorrer devido a
    eventos que estão além do controle razoável de tal parte, como uma greve, bloqueio, guerra, ato de terrorismo,
    motim,
    desastre natural, pandemias ou epidemias, falha ou diminuição de energia ou telecomunicações ou redes ou serviços de
    dados ou recusa de licença por uma agência governamental.
  </p>
  <h5 class="blue">20.3  Contrato completo</h5>
  <p>
     Estes Termos são o contrato completo entre você e nós em relação aos Produtos em Nuvem e
    qualquer outro assunto coberto por estes Termos e substituem todas as comunicações, propostas e representações orais
    ou escritas anteriores ou contemporâneas entre você e nós em relação aos Produtos em Nuvem ou qualquer outro assunto
    coberto por estes Termos. Nenhuma disposição de qualquer pedido de compra ou outro formulário comercial empregado
    por
    você substituirá ou complementará os termos e condições destes Termos, e qualquer documento relacionado a esses
    Termos
    será apenas para fins administrativos e não terá efeito legal.
  </p>



  <h5 class="blue"> 20.4  Conflitos</h5>
  <p>
     No caso de qualquer conflito entre o corpo principal destes Termos e Nossas Políticas ou Termos
    Específicos de Produtos, Nossas Políticas ou Termos Específicos de Produtos (conforme aplicável) prevalecerão sobre
    o
    assunto em questão.
  </p>
  <h5 class="blue">21. Definições</h5>
  <p>
    Certos termos em maiúscula são definidos nesta Seção 21 e outros são definidos contextualmente nesses
    Termos.
    “Serviços Adicionais” significa outros serviços eventualmente prestados pela Archio, os quais podem ser temporários
    ou
    recorrentes, tais como suporte prioritário, importação e/ou exportação de dados e informações ou outros serviços
    relacionados aos Produtos em Nuvem que fornecemos a você, conforme identificado em um Pedido. Para evitar dúvidas,
    os
    Serviços Adicionais não incluem o nível padrão de suporte incluído na sua assinatura.
    “Administradores” significa o pessoal designado por você que administra os Produtos em Nuvem para Usuários Finais em
    seu nome.
    "Produtos em nuvem" significa nossas soluções hospedadas ou baseadas em nuvem (atualmente designadas como
    implantações
    em "nuvem"), incluindo qualquer software cliente que fornecemos como parte dos produtos em nuvem.
    "Documentação" significa nossa documentação publicada padrão para os produtos em nuvem.
    “Usuário Final” significa um indivíduo que você permite ou convida para usar os Produtos em Nuvem. Para evitar
    dúvidas: (a) indivíduos convidados por seus Usuários Finais, (b) indivíduos sob contas gerenciadas e (c) indivíduos
    que interagem com um Produto em Nuvem como seu cliente também são considerados Usuários Finais.
    “Conta do Usuário Final” significa uma conta criada por você ou por um Usuário Final administrador para permitir que
    o
    Usuário Final use ou acesse um Produto em Nuvem.
    "Feedback" significa comentários, perguntas, ideias, sugestões ou outros comentários relacionados aos Produtos em
    Nuvem, Suporte ou Serviços Adicionais.
    “Leis” significa todas as leis, regulamentos e convenções locais, estaduais, federais e internacionais aplicáveis,
    incluindo aquelas relacionadas à privacidade e transferência de dados, comunicações internacionais e exportação de
    dados técnicos ou pessoais.
    “Endereço de E-mail de Notificação” significa o (s) endereço (s) de e-mail que você usou para se registrar em uma
    conta do Archio Cloud App. É de sua responsabilidade manter seus endereços de e-mail válidos e atualizados, para que
    possamos enviar avisos, extratos e outras informações a você.
    “Pedido”  significa a (s) página (s) de pedidos on-line aplicáveis ​​da Archio, fluxos, telas de produtos ou outro
    documento ou processo de pedido aprovado pela Archio que descreve os produtos e serviços que você está solicitando
    de
    nós e, conforme aplicável, o escopo de uso permitido. Conforme aplicável, o Pedido identificará: (i) os Produtos em
    Nuvem, (ii) o número de Usuários Finais, capacidade ou limites de armazenamento ou outros parâmetros de escopo de
    uso
    e (iii) (para Pedidos pagos) o valor ou a tarifa que você será cobrado, os termos de cobrança e renovação, a moeda
    aplicável e a forma de pagamento. Os pedidos também podem incluir serviços adicionais e produtos gratuitos.
    “Nossos produtos a serem entregues” significa quaisquer materiais, produtos, modificações, trabalhos derivados ou
    desenvolvimentos que fornecemos em conexão com quaisquer serviços adicionais.
    “Nossas políticas” significa que a nossa Política de Privacidade, Política de suporte, e (a menos que especificado )
    quaisquer outras políticas ou termos mencionados nesses Termos.
    “Nossa Tecnologia” significa os Produtos em Nuvem (incluindo todos os Produtos Gratuitos), sua “aparência e
    funcionalidades”, toda e qualquer tecnologia relacionada ou subjacente e quaisquer modificações ou trabalhos
    derivados
    dos itens anteriores, incluindo a incorporação de Feedbacks.
    "PO" significa um pedido de compra.
    “Informações pessoais sensíveis” significa quaisquer (i) categorias especiais de dados pessoais enumeradas no
    Regulamento da União Europeia 2016/679, no Artigo 9 (1) ou em qualquer legislação sucessora; (ii) informações de
    saúde
    protegidas por pacientes, médicos; (iii) dados de cartão de crédito, débito ou outros pagamentos; (iv) outras
    informações pessoais sujeitas a regulamentação ou proteção sob leis específicas; (v) números de CPF, CNPJ,
    previdência
    social, números de carteira de motorista ou outros números de identificação governamental; ou (vi) quaisquer dados
    semelhantes aos anteriores, protegidos por leis ou regulamentos estrangeiros ou nacionais.
    “Termo de Assinatura” significa o período de assinatura permitido para um Produto em Nuvem, conforme estabelecido no
    Pedido aplicável.
    “Suporte” significa suporte para os Produtos em Nuvem, conforme descrito mais detalhadamente na Política de Suporte
    e
    Serviços Corporativos (na extensão aplicável). Seu nível de suporte será especificado no pedido aplicável.
    “Treinamento” significa serviços de treinamento e certificação fornecidos pela Archio.
    "Seus Dados" significa quaisquer dados, conteúdo, código, vídeo, arquivos, imagens ou outros materiais de qualquer
    tipo que você (incluindo qualquer um de seus Usuários Finais) envie ao Archio Cloud App.



    Nesse contexto, "enviar" (e qualquer termo semelhante) inclui o envio, o upload, a transmissão ou a disponibilização
    de Seus Dados para ou através do Archio Cloud App.
  </p>
</div>'