<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
          backdropBorderRadius: '3px',
          fullScreenBackdrop: true,
          primaryColour: '#222',
          secondaryColour: '#222',
          tertiaryColour: '#222'
      }"></ngx-loading>
  <app-page-header [heading]="'Registrar Arquivos'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card bg-light mb-12">
        <div class="card-body">
          <ngb-tabset #tab>
            <ngb-tab title="Dados da Localização" id="tab1">
              <ng-template ngbTabContent>
                <br />
                <form [formGroup]="registerFileForm" role="FormGroup" class="form-inline">
                  <div class="form-group mb-2 col-4">
                    <label for="typeahead-basic">Empresa</label>
                    <input id="typeahead-basic" type="text" class="form-control" formControlName="company"
                      [resultTemplate]="rtCompany" [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                      [ngClass]="{ 'is-invalid': !company.valid }" style="width: 100%" />
                    <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                      <div *ngIf="!company.valid">
                        Empresa é obrigatório.
                      </div>
                    </div>
                    <!--<div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                                                                                
                                                                                          <div *ngIf="!company.valid">
                                                                                            Empresa é obrigatório.
                                                                                        </div>
                                                                                       
                                                                              </div> -->
                  </div>
                  <div class="form-group mb-2 col-4">
                    <label for="typeahead-basic">Armazém</label>
                    <input id="typeahead-basic" type="text" class="form-control" formControlName="storehouse"
                      [resultTemplate]="rtStoreHouse" [inputFormatter]="formatter" [ngbTypeahead]="search"
                      [ngClass]="{ 'is-invalid': !storehouse.valid }" style="width: 100%" />
                    <div *ngIf="storehouse.invalid && (storehouse.dirty || storehouse.touched)"
                      class="invalid-feedback">
                      <div *ngIf="!storehouse.valid">
                        Armazém é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-2 col-4">
                    <label for="location">Localização</label>
                    <input id="location" class="form-control col-12" formControlName="location" />
                    <!--<div *ngIf="location.invalid && (location.dirty || location.touched)" class="invalid-feedback">
                                                                  
                                                                          <div *ngIf="!company.valid">
                                                                            Empresa é obrigatório.
                                                                        </div>
                                                                       
                                                                </div> -->
                  </div>
                  <div class="form-group mb-2 col-4">
                    <label for="description">Descrição</label>
                    <input id="description" class="form-control col-12" formControlName="description" />
                    <!--<div *ngIf="location.invalid && (location.dirty || location.touched)" class="invalid-feedback">
                                                                    
                                                                            <div *ngIf="!company.valid">
                                                                              Empresa é obrigatório.
                                                                          </div>
                                                                         
                                                                  </div> -->
                  </div>
                  <div class="form-group mb-2 col-2">
                    <button type="button" class="btn btn-default pull-right" (click)="getVolumesList()"
                      style="margin-top:20px">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                  <ng-template #rtStoreHouse let-r="result" let-t="storehouse">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                  </ng-template>
                  <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                  </ng-template>
                </form>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="tab2" title="Formulário de Indexação" [disabled]="tabIndex">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-6">
                    <form [formGroup]="typeDocumentForm" role="FormGroup" class="form-inline"
                      (ngSubmit)="getDocument()">
                      <div class="form-group col-10">
                        <label for="typeDocument">Tipo do Documento</label>
                        <!--<input id="typeDocument" class="form-control col-12" formControlName="typeDocument" />-->
                        <input id="typeahead-basic" type="text" class="form-control" formControlName="typeDocument"
                          [resultTemplate]="rtTypeDocument" [inputFormatter]="formatter" [ngbTypeahead]="searchDocts"
                          style="width: 100%" [ngClass]="{ 'is-invalid': !typeDocument.valid }" />
                        <div *ngIf="typeDocument.invalid && (typeDocument.dirty || typeDocument.touched)"
                          class="invalid-feedback">
                          <div *ngIf="!typeDocument.valid">
                            Tipo de documento é obrigatório.
                          </div>
                        </div>
                      </div>
                      <ng-template #rtTypeDocument let-r="result" let-t="typeDocument">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                      </ng-template>
                      <div class="form-group mb-2 col-2">
                        <button type="submit" class="btn btn-default pull-right" style="margin-top:20px">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </form>
                    <app-form-index *ngIf="document" [data]="document"></app-form-index>
                    <br>
                    <br>
                    <br>
                  </div>
                  <!--<div class="col-6">
                    <app-datatables *ngIf="tableRegister" [data]="registers" [columns]="columnsRegisters">
                    </app-datatables>
                  </div>-->
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <app-datatables *ngIf="!tableRegister && !document" [data]="volumes" [columns]="columns" (show)="getVolume($event)">
      </app-datatables>
    </div>
  </div>
</div>