.ng-autocomplete {
  width: 100%;
  z-index: 00000;
}
.autocomplete-container .suggestions-container.is-visible{
  z-index: 9999;
}

.suggestions-container.is-visible > ul{
  z-index: 9999!important;
}

body > app-root > app-layout > section > app-new > div > div > div > form > div > div:nth-child(1) > div > ng-autocomplete > div {
  box-shadow: 0px!important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.autocomplete-container .input-container input{
  z-index: 00000;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}