<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card bg-light">
        <div class="card-header">
            <!-- <app-page-header [heading]="'Novo Volume'" [icon]="'fa-user'"></app-page-header> -->
            <h2>Novo Volume</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="volumeForm" role="FormGroup" (ngSubmit)="postVolume()">
                <div class="form-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default pull-right" (click)="blockInputs()">
                                <span class="fa fa-unlock" [hidden]="!inputBlock">
                                    Bloquear Campos
                                </span>
                                <span class="fa fa-lock" [hidden]="inputBlock">
                                    Desbloquear Campos
                                </span>
                                <!-- <i [ngClass]="!inputBlock ? 'fa fa-unlock' : 'fa fa-lock'"></i>&emsp;Bloquear Campos -->
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="typeahead-basic">Empresa</label>
                        <input id="typeahead-basic" (selectItem)="selectedCompany($event)" placeholder="Nome da Empresa"
                            type="text" class="form-control" formControlName="company" [resultTemplate]="rtCompany"
                            [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                            [ngClass]="{ 'is-invalid': company.invalid && company.touched}" />
                        <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                            <div *ngIf="!company.valid">
                                Empresa é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="typeahead-basic">Departamento</label>
                        <input id="typeahead-basic" type="text" placeholder="Nome do Departamento" class="form-control"
                            formControlName="departament" [resultTemplate]="rtDepartament" [inputFormatter]="formatter"
                            [ngbTypeahead]="searchDepartament"
                            [ngClass]="{ 'is-invalid': departament.invalid && departament.touched }" />
                        <div *ngIf="departament.invalid && (departament.dirty || departament.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!departament.valid">
                                Departamento é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="typeahead-basic">Depósito</label>
                        <input id="typeahead-basic" type="text" placeholder="Nome do Deposito" class="form-control"
                            formControlName="storehouse" [resultTemplate]="rtStoreHouse" [inputFormatter]="formatter"
                            [ngbTypeahead]="search"
                            [ngClass]="{ 'is-invalid': storehouse.invalid && storehouse.touched }" />
                        <div *ngIf="storehouse.invalid && (storehouse.dirty || storehouse.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!storehouse.valid">
                                Depósito é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Tipo de Volume</label>
                        <select class="form-control" id="volumeType" formControlName="volumeType"
                            [ngClass]="{ 'is-invalid': volumeType.invalid && volumeType.touched }">
                            <option *ngFor="let volumeT of volumeTypeList | enumToArray" [value]="volumeT">
                                {{ volumeT | translate }}</option>
                        </select>
                        <div *ngIf="volumeType.invalid && (volumeType.dirty || volumeType.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!volumeType.valid">
                                Tipo de volume é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Tipo de Guarda</label>
                        <select class="form-control" id="guardType" formControlName="guardType"
                            [ngClass]="{ 'is-invalid': guardType.invalid && guardType.touched }"
                            (change)="changeGuardType()">
                            <option *ngFor="let guardT of guardTypeList | enumToArray" [value]="guardT">
                                {{ guardT | translate }}</option>
                        </select>
                        <div *ngIf="guardType.invalid && (guardType.dirty || guardType.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!guardType.valid">
                                Tipo de volume é obrigatório.
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label for="">Descrição</label>
                        <input type="text" placeholder="Descrição" class="form-control" formControlName="description"
                            [ngClass]="{ 'is-invalid': !description.valid }" />
                        <div *ngIf="description.invalid && (description.dirty || description.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!description.valid">
                                Descrição é obrigatório.
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label for="">Posição</label>
                        <input type="text" placeholder="Posição" class="form-control" formControlName="location"
                            [ngClass]="{ 'is-invalid': location.invalid && location.touched}" />
                        <div *ngIf="location.invalid && (location.dirty || location.touched)" class="invalid-feedback">
                            <div *ngIf="!location.valid">
                                Posição é obrigatório.
                            </div>
                        </div>
                    </div>

                    <div class="form-group" [hidden]="hiddenReference">
                        <label for="">Referência</label>
                        <input type="text" placeholder="Referência" class="form-control" formControlName="reference"
                            [ngClass]="{ 'is-invalid': reference.invalid && reference.touched}" />
                        <div *ngIf="reference.invalid && (reference.dirty || reference.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!reference.valid">
                                Referência é obrigatória.
                            </div>
                        </div>
                    </div>

                    <ng-template #rtStoreHouse let-r="result" let-t="storehouse">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <ng-template #rtDepartament let-r="result" let-t="departament" class="custom-typeahead">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                </div>
                <div class="pull-right">
                    <button type="button" [routerLink]="['/volumes']" class="btn btn-default"
                        style="margin-right:10px">Voltar</button>
                    <button type="submit" class="btn btn-primary"
                        [disabled]=" company.invalid || departament.invalid || storehouse.invalid || volumeType.invalid || guardType.invalid || location.invalid || reference.invalid">
                            Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
