<div [@routerTransition]>
    <app-page-header [heading]="'Armazéns'" [icon]="'fa-table'" [btnNew]="'Novo Armazém'" [routerTo]="'/storehouses/new'" ></app-page-header>
  <div class="row">
      <div class="col col-xl-12 col-lg-12">
            <app-datatables 
              [data]="storehouses"
              (setPage)="setPage($event)"
              (show)="getStoreHouse($event)"
              (edit)="editStoreHouse($event)"
              (delete)="open('focusFirst', $event)"
              [columns]="columns"
            ></app-datatables>
      </div>
  </div>
</div>

<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Deletar Armazém</h4>
        <button type="button" class="close" (click)="d('Cross click')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Você tem certeza que deseja deletar o Armazém?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close(delete('Close click'))">Sim</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Não</button>
    </div>
</ng-template>
