<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
    <div class="card bg-light mb-3">
        <div class="card-header">
            <app-page-header [heading]="'Perfis de Usuário'" [icon]="'fa-table'" [btnNew]="'Novo Perfil de Usuário'"
                [permissionBtnNew]="permissionNew" [routerTo]="''">
            </app-page-header>
        </div>
        <div class="card-body">
            <form [formGroup]="profileForm" role="FormGroup" class="form">
                <div class="row">
                    <div class="mb-2 col-lg-6 col-sm-12">
                        <label for="company">Empresa</label>
                        <input id="company" autoFocus="true" type="text" placeholder="Nome do Empresa"
                            class="form-control" formControlName="company" />
                        <!-- <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                            <div *ngIf="!name.valid">
                                Nome da Empresa é obrigatório.
                            </div>
                        </div> -->
                    </div>
                    <div class="mb-2 col-lg-6 col-sm-12">
                        <label for="labelEmail">Perfil</label>
                        <input id="name" autoFocus="true" type="text" placeholder="Nome do Perfil" class="form-control"
                            formControlName="name" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-default" style="margin-left: 5px;">
                            Limpar Campos
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-datatables>
            </app-datatables>
        </div>
    </div>

</div>
