<div>
    <ngx-loading [show]="loading" [config]="{
        backdropBorderRadius: '3px',
        fullScreenBackdrop: true,
        primaryColour: '#222',
        secondaryColour: '#222',
        tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card bg-light">
        <div class="card-header">
            <h3>Empresas Compartilhadas</h3>
            <div style="margin-bottom: 10px">
                <app-button-back [redirectTo]="'user/get'"></app-button-back>
                <app-buttons-custom [id]="user" [permissionEdit]="permissionEdit" [permissionDelete]="permissionDelete">
                </app-buttons-custom>
            </div>
        </div>
        <div class="card-body">
            <div *ngFor="let listItem of companyList; index as i">
                <button class="btn btn-primary">{{companyList[i]}}</button>
            </div>
        </div>
    </div>
</div>
