.card-primary {
  border-color: #007bff;
}
.card-warning {
  border-color: #ffc107;
}
.card-secundary {
  border-color: #e2e3e5;
}
.card-info {
  border-color: #17a2b8
}
//Voltar ao top
.scrollToTop{
    position:fixed;
    bottom: 5px;
    right: 25px;
    display: none;
    .dark-color{
        color: #23272B;
    }
}
.menuBtns{
    position:fixed;
    bottom: 5px;
    left: 250px;
    display: none;
}
