@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~@mdi/font/css/materialdesignicons.css';

type-ahead.form-control {
  width: 100%;
}

type-ahead.form-control i {
  float: right !important;
}

::ng-deep .my-class .modal-dialog {
    top: -400px;
}
