<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
  <app-page-header [heading]="'Novo Usuário'" [icon]="'fa-user'"></app-page-header>
  <div class="card bg-light">
    <div class="card-body">
      <form [formGroup]="userForm" role="FormGroup" (ngSubmit)="postUser()">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">Nome</label>
              <input type="text" formControlName="name" class="form-control input-underline input-lg" placeholder="Nome"
                [ngClass]="{ 'is-invalid': !name.valid }" style="width: 100%" />
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                <div *ngIf="!name.valid">
                  Nome é obrigatório.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">E-mail</label>
              <input type="text" formControlName="email" class="form-control input-underline input-lg"
                placeholder="Email" [ngClass]="{ 'is-invalid': !email.valid }" style="width: 100%" />
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                <div *ngIf="!email.valid">
                  E-mail é obrigatório.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Perfil do Usuário</label>
              <select class="form-control" id="profile" formControlName="profiles"
                [ngClass]="{ 'is-invalid': !profiles.valid }" style="width: 100%">
                <option *ngFor="let profile of profilesList" [value]="profile._id">
                  {{ profile.profilePlaceHolder | translate }}</option>
              </select>
              <div *ngIf="profiles.invalid && (profiles.dirty || profiles.touched)" class="invalid-feedback">
                <div *ngIf="!profiles.valid">
                  Perfil do Usuário é obrigatório.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" formControlName="download" value="" />
                  Download </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" formControlName="print" value="" />
                  Impressão </label>
              </div>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="!isAdminSelect()">
            <div class="col-lg-12">
              <label style="float: left;">Permissões</label>
            </div>
            <div class="form-group" formArrayName="permissions">
              <div *ngFor="let permissions of permissions.controls; index as i">
                <div class="card bg-light col-lg-12" style="margin-bottom: 10px">
                  <div class="card-body">
                    <div [formGroupName]="i">
                      <button type="button" class="btn btn-danger btn-xs pull-right" (click)="removePermission(i)">
                        <i class="fa fa-trash"></i>
                      </button>
                      <br />
                      <div class="form-group">
                        <label for="typeahead-basic">Empresa</label>
                        <input id="typeahead-basic" type="text" class="form-control" formControlName="company"
                          (selectItem)="getDocuments($event)" [resultTemplate]="rtCompany" [inputFormatter]="formatter"
                          [ngbTypeahead]="searchCompany" [ngClass]="{ 'is-invalid': !company.valid }" />
                        <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                          <div *ngIf="!company.valid">
                            Empresa é obrigatório.
                          </div>
                        </div>
                      </div>


                      <div class="input-group">
                        <label>Documentos</label>
                        <type-ahead class="form-control multi" [multi]="true" [complex]="true" idField="_id"
                          formControlName="docts" [suggestions]="documentsAll" aria-describedby="emailHelp" >
                        </type-ahead>
                        <small id="emailHelp" class="form-text text-muted">
                          Se não houver documentos selecionados serão permitido todos os documentos da empresa.
                        </small>

                        <!-- <input id="typeahead-basic" autoFocus="true" type="text" class="form-control" formControlName="doct"
                  [resultTemplate]="rtDocument" [inputFormatter]="formatter" [ngbTypeahead]="searchDocument"
                  style="width: 100%" /> -->
                      </div>
                    </div>
                    <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <!-- <ng-template #rtDocument let-r="result" let-t="doct" class="custom-typeahead">
                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
              </ng-template> -->
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button type="button" (click)="addPermission()" class="btn btn-success btn-xs pull-right"
                style="margin-top: 2%; margin-bottom: 2%">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <br />
          <button type="submit" class="btn btn-primary" style="float: right"[disabled]="email.invalid || name.invalid ||
          profiles.invalid" >Salvar</button>
          <button type="button" [routerLink]="['/users']" class="btn btn-default"
            style="float: right;margin-right: 10px;">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>