<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
  <div class="list-group">
    <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/not-found']"
      [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-envelope"></i>&nbsp;
      <span>{{ 'Solicitantes ' | translate }}</span>
    </a>
    <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/storehouses']"
      [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-home"></i>&nbsp;
      <span>{{ 'Depósitos' | translate }}</span>
    </a>

    <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/companies']"
      [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-building"></i>&nbsp;
      <span>{{ 'Empresas' | translate }}</span>
    </a>

    <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/departaments']"
      [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-server"></i>&nbsp;
      <span>{{ 'Departamentos' | translate }}</span>
    </a>

    <div *ngIf="permissionAdmin || permissionArquivador" class="nested-menu" [routerLinkActive]="['router-link-active']">
      <a class="list-group-item" (click)="addExpandClass('volumes')">
        <i class="fa fa-file"></i>&nbsp;
        <span>{{ 'Volumes' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'volumes'">
        <ul class="submenu">
          <li *ngIf="permissionAdmin || permissionArquivador">
            <a [routerLink]="['/volumes/import-volumes']"class="list-group-item">
              <i class="fa fa-file-excel-o"></i>&nbsp;
              <span>{{ 'Importar Volumes' | translate }}</span>
            </a>
          </li>
          <li *ngIf="permissionAdmin || permissionArquivador">
            <a [routerLink]="['/volumes']" class="list-group-item">
              <i class="fa fa-list"></i>&nbsp;
              <span>{{ 'Volumes' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>

    <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/documents']"
      [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-book"></i>&nbsp;
      <span>{{ 'Documentos' | translate }}</span>
    </a>
    <div *ngIf="permissionAdmin || permissionArquivador" class="nested-menu" [routerLinkActive]="['router-link-active']">
      <a class="list-group-item" (click)="addExpandClass('archives')">
        <i class="fa fa-file"></i>&nbsp;
        <span>{{ 'Arquivos' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'archives'">
        <ul class="submenu">
          <li *ngIf="permissionAdmin">
            <a [routerLink]="['/file/import']" class="list-group-item">
              <i class="fa fa-file-excel-o"></i>&nbsp;
              <span>{{ 'Importar Arquivos' | translate }}</span>
            </a>
          </li>
          <li *ngIf="permissionAdmin || permissionArquivador">
            <a [routerLink]="['/file/register']" class="list-group-item">
              <i class="fa fa-plus"></i>&nbsp;
              <span>{{ 'Registrar Arquivo' | translate }}</span>
            </a>
          </li>
          <li *ngIf="permissionAdmin || permissionArquivador || permissionPesquisador">
            <a [routerLink]="['/archives']"
              [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-search"></i>&nbsp;
              <span>{{ 'Procurar Arquivos' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>

    <a *ngIf="permissionAdmin || permissionArquivador" [routerLink]="['/not-found']"
      [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-truck"></i>&nbsp;
      <span>{{ 'Movimentações' | translate }}</span>
    </a>
    <div *ngIf="permissionAdmin" class="nested-menu" [routerLinkActive]="['router-link-active']">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <i class="fa fa-cog"></i>&nbsp;
        <span>{{ 'Configurações' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a [routerLink]="['/users']">
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ 'Usuários' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a [routerLink]="['/documents-structur']">
              <i class="fa fa-monument"></i>&nbsp;
              <span>{{ 'Estrutura de Documentos' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
  </div>

  <div class="toggle-button" [ngClass]="{ collapsed: collapsed }" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
    <span></span>
  </div>
</nav>