<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa fa-users fa-2x"></i>&nbsp;
            <span>{{ 'Usuários' | translate }}</span>
        </a>
        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-envelope fa-2x"></i>&nbsp;
            <span>{{ 'Solicitantes ' | translate }}</span>
        </a>
        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-home fa-2x"></i>&nbsp;
            <span>{{ 'Armazéns' | translate }}</span>
        </a>

        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-archive fa-2x"></i>&nbsp;
            <span>{{ 'Volumes' | translate }}</span>
        </a>
        
        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-book fa-2x"></i>&nbsp;
            <span>{{ 'Documentos' | translate }}</span>
        </a>
        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-wpforms fa-2x"></i>&nbsp;
            <span>{{ 'Regristro Arquivos' | translate }}</span>
        </a>
        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-search fa-2x"></i>&nbsp;
            <span>{{ 'Procurar Arquivos' | translate }}</span>
        </a>
        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-truck fa-2x"></i>&nbsp;
            <span>{{ 'Movimentações' | translate }}</span>
        </a>

        <a [routerLink]="['/not-found']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-cog fa-2x"></i>&nbsp;
            <span>{{ 'Configurações' | translate }}</span>
        </a>

        
        



    </div>

    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span></span>
    </div>

</nav>
