@import "~pretty-checkbox/src/pretty-checkbox.scss";
@import "~@mdi/font/css/materialdesignicons.css";

.dropdown-menu.show {
    max-height: 400px !important;
    overflow-y: auto !important;
}

::ng-deep .bootstrap-dark .mt-1, .bootstrap-dark .my-1 {
    margin-top: 2rem !important;
  }