<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="forgot-pass-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4" style="margin-top: 10%">
      <p style="color: #ababab">Insira o seu e-mail e aguarde alguns instantes, você receberá uma nova senha nesse
        e-mail.</p>
      <form [formGroup]="resetPassForm" (ngSubmit)="onResetPass()" role="FormGroup">
        <div class="form-content">
          <div class="form-group">
            <input type="text" formControlName="email" class="form-control input-underline input-lg" id=""
              placeholder="{{ 'Email' | translate }}" />
          </div>
        </div>
        <button type="submit" class="btn rounded-btn">{{ 'Send Mail' | translate }}</button>
      </form>
      <br><br>
      <button type="button" class="btn btn-sm btn-link" style="color: white !important" [routerLink]="['/login']" >Entrar</button>
    </div>
  </div>
</div>