<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
        backdropBorderRadius: '3px',
        fullScreenBackdrop: true,
        primaryColour: '#222',
        secondaryColour: '#222',
        tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-11">
                    <h2>Editar Departamento</h2>
                </div>
                <div class="col-lg-1 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
            <!-- <app-page-header [heading]="'Editar Departamento'" [icon]="'fa-user'"></app-page-header> -->
        </div>
        <div class="card-body bg-light">
            <form [formGroup]="departamentForm" role="FormGroup" (ngSubmit)="updateDepartament()">
                <div class="form-content" id="step1">
                    <div class="form-group">
                        <label for="typeahead-basic">Empresa</label>
                        <input id="typeahead-basic" type="text" class="form-control" formControlName="company"
                            [resultTemplate]="rtCompany" [inputFormatter]="formatter" [ngbTypeahead]="searchCompany"
                            [ngClass]="{ 'is-invalid': !companyIpt.valid && !companyIpt.disabled }" />
                        <div *ngIf="companyIpt.invalid && (companyIpt.dirty || companyIpt.touched)"
                            class="invalid-feedback">
                            <div *ngIf="!companyIpt.valid">
                                Empresa é obrigatória.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-name">Departamento</label>
                        <input type="text" class="form-control" formControlName="name" />
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                            <div *ngIf="!name.valid">
                                Departamento é obrigatória.
                            </div>
                        </div>
                    </div>

                    <ng-template #rtCompany let-r="result" let-t="company" class="custom-typeahead">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>

                </div>
                <div class="pull-right" id="step2">
                    <button type="button" [routerLink]="['/departaments/get', id]" class="btn btn-default"
                        style="margin-right:10px">Voltar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="companyIpt.invalid ||name.invalid">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
