<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-12" style="margin-top: 10%">
      <img src="assets/images/logo.png" width="250px" />
      <br>
      <div class="panel">
        <p>Usamos cookies para tornar suas interações com o Archio Cloud App mais produtivas.
          Eles nos ajudam a entender melhor como nosso app é utilizado,
          para que possamos excluir continuamente nossa aplicação. Para continuar você deve ler e entender a
          <a [routerLink]="['/privacity-politic']" style="text-decoration: underline; cursor: pointer;">Política de Privacidade</a>
          e os <a style="text-decoration: underline; cursor: pointer;">Termos de Serviço</a> para o Archio Cloud App.
          Confirme que você leu e entendeu nossa Política de Privacidade e nossos Termos de Serviço, clicando no botão
          abaixo.
        </p>
        <button class="btn btn-default btn-lg">EU ACEITO</button>
      </div>
    </div>
  </div>
</div>