@import "~@mdi/font/css/materialdesignicons.css";

.card-primary {
    border-color: #007bff;
}
.card-warning {
    border-color: #ffc107;
}
.card-secundary {
    border-color: #e2e3e5;
}
.card-info {
    border-color: #17a2b8;
}
