<!-- /.cus-modal-wrap -->
<div class="block allModal">
  <div class="cus-modal right-bottom" id="right-bottom" role="dialog">
    <div class="cus-modal-dialog">
      <div class="cus-modal-content">
        <div class="cus-modal-body"> <a class="cus-close" (click)="setVisible()">×</a>
          <p>Status da Importação</p>
          <br>
          <p style="color: green">
            Importados com sucesso: {{ imported }}
          </p>
          <p style="color: red">
            Erros: {{ errors }}
          </p>
          <button *ngIf="urlErrors" class="btn btn-sm btn-link" (click)="getFile()">
            Download erros da Importação
          </button>
        </div>
      </div>
    </div>
  </div>
</div>