<div>
  <ngx-datatable
    class="material"
    [rows]="items"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true" 
    [count]="page.foundItems" 
    [offset]="page.currentPage" 
    [limit]="50"
    (page)='pagination($event)'>
  </ngx-datatable>
    <ng-template #showTmpl let-row="row" let-value="value">
      <button class="btn btn-sm btn-default" (click)="showView(row._id)"><i class="fa fa-eye" style="color:blue"></i></button>
      <button style="margin-left: 5px" class="btn btn-sm btn-default" (click)="editView(row._id)"><i class="fa fa-pencil-square-o" style="color:yellow"></i></button>
    </ng-template>
    <ng-template #editTmpl let-row="row" let-value="value">
      
    </ng-template>
</div>
