<!-- <div class="oval" [ngClass]="{ovalSelected: theme == 'bootstrap'}" (click)="toggleTheme()">
    <div class="button" [ngClass]="{buttonSelected: theme == 'bootstrap'}"></div>
</div> -->
<div class="pretty p-switch p-fill" [ngClass]="{ovalSelected: theme == 'bootstrap'}" (click)="toggleTheme()">
    <input title="Dark Mode" class="form-check-input" type="checkbox" name="darkMode" id="darkMode" [ngClass]="{buttonSelected: theme == 'bootstrap'}">
    <div class="state">
        <label class="form-check-label" for="darkMode">
            Modo Escuro
        </label>
    </div>
</div>
