<div [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'}">
    </ngx-loading>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row mt-0">
                <div class="col-lg-12 text-right">
                    <i class="mdi mdi-help-circle mdi-24px" style="color:#2869D9;" (click)="help()"></i>
                </div>
            </div>
            <div class="row" id="step1">
                <div class="col-lg-12">
                    <app-page-header [heading]="'Empresas'" [modalNew]="true" [icon]="'fa-table'" [btnNew]="'Nova Empresa'"
                        [permissionBtnNew]="permissionNew" (click)="openCompany($event)"></app-page-header>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="getCompanies()" role="FormGroup" class="form">
                <div class="row" id="step2">
                    <div class="form-group col-lg-7 col-sm-12">
                        <label for="labelName">Nome</label>
                        <input id="name" autoFocus="true" type="text" placeholder="Nome da Empresa" class="form-control"
                            formControlName="name" [ngClass]="{ 'is-invalid': name.invalid && name.touched}" />
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                            <div *ngIf="!name.valid">
                                Empresa é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ml-2 col-lg-12 col-sm-12 text-center" id="step3">
                        <button type="submit" class="btn btn-primary" [disabled]="name.invalid"><i
                                class="fa fa-search"></i></button>
                        <button type="button" class="btn dark-btn" style="margin-left: 10px;" [disabled]="name.invalid"
                            (click)="clear()">
                            Limpar Campo
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row" *ngIf="companies.items.length > 0">
    <div class="col-12" id="step4">
        <!-- <app-datatables [data]="companies" (setPage)="setPage($event)" [columns]="columns" (show)="getCompany($event)">
        </app-datatables> -->

        <ngx-datatable #myTable class="bootstrap" [rows]="companies.items" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"
                [offset]="page.pageNumber - 1" [limit]="10" (page)="setPageCompanies($event)" [scrollbarH]="true" (activate)="openCompany($event)">

                <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false">
                </ngx-datatable-column>
                <ngx-datatable-column name="Nome" prop="name" [width]= 100></ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="email" [width]= 100></ngx-datatable-column>
                <ngx-datatable-column name="Telefone" prop="fone" [width]= 10></ngx-datatable-column>
                <ngx-datatable-column name="Criado em" prop="dateCreated" [width]="50" > 
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'dd/MM/yyyy' }}
                    </ng-template> 
                </ngx-datatable-column>

                <ngx-datatable-column name="Button">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template >
                      <span>
                        <button style="background-color:red;height:15px;" (click)='getCompany(row)'><i class="rb-ic rb-ic-add-frame"></i></button>
                        <!-- <button style="background-color:blue;height:15px;" (click)='openCompany(row)'><i class="rb-ic rb-ic-add-frame"></i></button> -->
                      </span>
                    </ng-template>
                  </ngx-datatable-column>

            </ngx-datatable>
    </div>

    
</div>
<!-- (activate)="openCompany($event)" -->