<div [@routerTransition]>
  <ngx-loading [show]="loading" [config]="{
            backdropBorderRadius: '3px',
            fullScreenBackdrop: true,
            primaryColour: '#222',
            secondaryColour: '#222',
            tertiaryColour: '#222'
        }"></ngx-loading>
  <app-page-header [heading]="'Volumes'" [icon]="'fa-table'" ></app-page-header>
  <ngb-accordion #acc="ngbAccordion" activeIds="volumes-0">
    <ngb-panel id="volumes-0">
      <ng-template ngbPanelTitle>
        <span> <i class="fa fa-filter" style="margin-right: 5px"></i> <b>Filtros</b></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <form [formGroup]="searchForm" (ngSubmit)="getErrors()" role="FormGroup" class="form-inline">
          <div class="row col-12">
            <div class="form-group mb-2 col-6">
              <label for="sheet">Nome da Planilha</label>
              <input id="sheet" class="form-control col-12" formControlName="sheet" />
            </div>
            <div class="form-group mb-2 col-3">
              <label for="initDate">Data Inicial</label>
              <input id="initDate" type="date" class="form-control col-12" formControlName="initDate" />
            </div>

            <div class="form-group mb-2 col-3">
              <label for="endDate">Data Final</label>
              <input id="endDate" type="date" class="form-control col-12" formControlName="endDate" />
            </div>
          </div>

          <div class="row col-12" style="justify-content: center; margin-top: 10px;">
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
              <button style="margin-left: 5px;" type="button" class="btn btn-default" (click)="clear()">
               Limpar Campos
              </button>
            </div>
          </div>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
    </div>
  </div>
</div>